// Decompiled with JetBrains decompiler
// Type: AspNetCore._Views_Shared__LoginPartial_cshtml
// Assembly: Traffic.PrecompiledViews, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null
// MVID: 8B37BA40-0390-40A7-A536-D9CCDBC36390
// Assembly location: D:\Workstation\TonniProjects\TrafficWebDeploy\Traffic.PrecompiledViews.dll

using Microsoft.AspNetCore.Html;
using Microsoft.AspNetCore.Mvc;
using Microsoft.AspNetCore.Mvc.Razor;
using Microsoft.AspNetCore.Mvc.Razor.Internal;
using Microsoft.AspNetCore.Mvc.Rendering;
using Microsoft.AspNetCore.Mvc.TagHelpers;
using Microsoft.AspNetCore.Mvc.ViewFeatures;
using Microsoft.AspNetCore.Razor.Runtime.TagHelpers;
using Microsoft.AspNetCore.Razor.TagHelpers;
using System;
using System.Text.Encodings.Web;
using System.Threading.Tasks;
using Traffic.Models;

namespace AspNetCore
{
  public class _Views_Shared__LoginPartial_cshtml : RazorPage<object>
  {
    private static readonly TagHelperAttribute __tagHelperAttribute_0 = new TagHelperAttribute("asp-area", (object) "", HtmlAttributeValueStyle.DoubleQuotes);
    private static readonly TagHelperAttribute __tagHelperAttribute_1 = new TagHelperAttribute("asp-controller", (object) "Account", HtmlAttributeValueStyle.DoubleQuotes);
    private static readonly TagHelperAttribute __tagHelperAttribute_2 = new TagHelperAttribute("asp-action", (object) "Manage", HtmlAttributeValueStyle.DoubleQuotes);
    private static readonly TagHelperAttribute __tagHelperAttribute_3 = new TagHelperAttribute("asp-controller", (object) "Manage", HtmlAttributeValueStyle.DoubleQuotes);
    private static readonly TagHelperAttribute __tagHelperAttribute_4 = new TagHelperAttribute("asp-action", (object) "Index", HtmlAttributeValueStyle.DoubleQuotes);
    private static readonly TagHelperAttribute __tagHelperAttribute_5 = new TagHelperAttribute("title", (object) new HtmlString("Manage"), HtmlAttributeValueStyle.DoubleQuotes);
    private static readonly TagHelperAttribute __tagHelperAttribute_6 = new TagHelperAttribute("asp-action", (object) "Logout", HtmlAttributeValueStyle.DoubleQuotes);
    private static readonly TagHelperAttribute __tagHelperAttribute_7 = new TagHelperAttribute("method", (object) "post", HtmlAttributeValueStyle.DoubleQuotes);
    private static readonly TagHelperAttribute __tagHelperAttribute_8 = new TagHelperAttribute("id", (object) new HtmlString("logoutForm"), HtmlAttributeValueStyle.DoubleQuotes);
    private static readonly TagHelperAttribute __tagHelperAttribute_9 = new TagHelperAttribute("class", (object) new HtmlString("navbar-right"), HtmlAttributeValueStyle.DoubleQuotes);
    private static readonly TagHelperAttribute __tagHelperAttribute_10 = new TagHelperAttribute("asp-action", (object) "Login", HtmlAttributeValueStyle.DoubleQuotes);
    private string __tagHelperStringValueBuffer;
    private TagHelperExecutionContext __tagHelperExecutionContext;
    private TagHelperRunner __tagHelperRunner = new TagHelperRunner();
    private TagHelperScopeManager __backed__tagHelperScopeManager;
    private FormTagHelper __Microsoft_AspNetCore_Mvc_TagHelpers_FormTagHelper;
    private RenderAtEndOfFormTagHelper __Microsoft_AspNetCore_Mvc_TagHelpers_RenderAtEndOfFormTagHelper;
    private AnchorTagHelper __Microsoft_AspNetCore_Mvc_TagHelpers_AnchorTagHelper;

    private TagHelperScopeManager __tagHelperScopeManager
    {
      get
      {
        if (this.__backed__tagHelperScopeManager == null)
          this.__backed__tagHelperScopeManager = new TagHelperScopeManager(new Action<HtmlEncoder>(((RazorPageBase) this).StartTagHelperWritingScope), new Func<TagHelperContent>(((RazorPageBase) this).EndTagHelperWritingScope));
        return this.__backed__tagHelperScopeManager;
      }
    }

    public virtual async Task ExecuteAsync()
    {
      _Views_Shared__LoginPartial_cshtml loginPartialCshtml = this;
      loginPartialCshtml.BeginContext(61, 2, true);
      loginPartialCshtml.WriteLiteral("\r\n");
      loginPartialCshtml.EndContext();
      loginPartialCshtml.BeginContext(167, 2, true);
      loginPartialCshtml.WriteLiteral("\r\n");
      loginPartialCshtml.EndContext();
      if (loginPartialCshtml.SignInManager.IsSignedIn(loginPartialCshtml.User))
      {
        loginPartialCshtml.BeginContext(210, 4, true);
        loginPartialCshtml.WriteLiteral("    ");
        loginPartialCshtml.EndContext();
        loginPartialCshtml.BeginContext(214, 1284, false);
        // ISSUE: reference to a compiler-generated method
        loginPartialCshtml.__tagHelperExecutionContext = loginPartialCshtml.__tagHelperScopeManager.Begin("form", TagMode.StartTagAndEndTag, "ba4e2cb6ca3546d08b00f39d3a5b887f", new Func<Task>(loginPartialCshtml.\u003CExecuteAsync\u003Eb__20_0));
        loginPartialCshtml.__Microsoft_AspNetCore_Mvc_TagHelpers_FormTagHelper = loginPartialCshtml.CreateTagHelper<FormTagHelper>();
        loginPartialCshtml.__tagHelperExecutionContext.Add((ITagHelper) loginPartialCshtml.__Microsoft_AspNetCore_Mvc_TagHelpers_FormTagHelper);
        loginPartialCshtml.__Microsoft_AspNetCore_Mvc_TagHelpers_RenderAtEndOfFormTagHelper = loginPartialCshtml.CreateTagHelper<RenderAtEndOfFormTagHelper>();
        loginPartialCshtml.__tagHelperExecutionContext.Add((ITagHelper) loginPartialCshtml.__Microsoft_AspNetCore_Mvc_TagHelpers_RenderAtEndOfFormTagHelper);
        loginPartialCshtml.__Microsoft_AspNetCore_Mvc_TagHelpers_FormTagHelper.Area = (string) _Views_Shared__LoginPartial_cshtml.__tagHelperAttribute_0.Value;
        loginPartialCshtml.__tagHelperExecutionContext.AddTagHelperAttribute(_Views_Shared__LoginPartial_cshtml.__tagHelperAttribute_0);
        loginPartialCshtml.__Microsoft_AspNetCore_Mvc_TagHelpers_FormTagHelper.Controller = (string) _Views_Shared__LoginPartial_cshtml.__tagHelperAttribute_1.Value;
        loginPartialCshtml.__tagHelperExecutionContext.AddTagHelperAttribute(_Views_Shared__LoginPartial_cshtml.__tagHelperAttribute_1);
        loginPartialCshtml.__Microsoft_AspNetCore_Mvc_TagHelpers_FormTagHelper.Action = (string) _Views_Shared__LoginPartial_cshtml.__tagHelperAttribute_6.Value;
        loginPartialCshtml.__tagHelperExecutionContext.AddTagHelperAttribute(_Views_Shared__LoginPartial_cshtml.__tagHelperAttribute_6);
        loginPartialCshtml.__Microsoft_AspNetCore_Mvc_TagHelpers_FormTagHelper.Method = (string) _Views_Shared__LoginPartial_cshtml.__tagHelperAttribute_7.Value;
        loginPartialCshtml.__tagHelperExecutionContext.AddTagHelperAttribute(_Views_Shared__LoginPartial_cshtml.__tagHelperAttribute_7);
        loginPartialCshtml.__tagHelperExecutionContext.AddHtmlAttribute(_Views_Shared__LoginPartial_cshtml.__tagHelperAttribute_8);
        loginPartialCshtml.__tagHelperExecutionContext.AddHtmlAttribute(_Views_Shared__LoginPartial_cshtml.__tagHelperAttribute_9);
        await loginPartialCshtml.__tagHelperRunner.RunAsync(loginPartialCshtml.__tagHelperExecutionContext);
        if (!loginPartialCshtml.__tagHelperExecutionContext.Output.IsContentModified)
          await loginPartialCshtml.__tagHelperExecutionContext.SetOutputContentAsync();
        loginPartialCshtml.Write((object) loginPartialCshtml.__tagHelperExecutionContext.Output);
        loginPartialCshtml.__tagHelperExecutionContext = loginPartialCshtml.__tagHelperScopeManager.End();
        loginPartialCshtml.EndContext();
        loginPartialCshtml.BeginContext(1498, 2, true);
        loginPartialCshtml.WriteLiteral("\r\n");
        loginPartialCshtml.EndContext();
        loginPartialCshtml.BeginContext(1502, 491, true);
        loginPartialCshtml.WriteLiteral("    <script type=\"text/javascript\">\r\n        $(document).ready(function () {\r\n            setInterval(function () {\r\n                $.ajax({\r\n                    url: '/Time',\r\n                    type: 'POST',\r\n                    success: function (result) {\r\n                        if (result.length > 0) { \r\n                            $('#timer').text(result);\r\n                        }\r\n                    }\r\n                });\r\n            }, 1000);\r\n        });\r\n    </script>\r\n");
        loginPartialCshtml.EndContext();
      }
      else
      {
        loginPartialCshtml.BeginContext(2005, 66, true);
        loginPartialCshtml.WriteLiteral("    <ul class=\"nav navbar-nav navbar-right\">        \r\n        <li>");
        loginPartialCshtml.EndContext();
        loginPartialCshtml.BeginContext(2071, 69, false);
        // ISSUE: reference to a compiler-generated method
        loginPartialCshtml.__tagHelperExecutionContext = loginPartialCshtml.__tagHelperScopeManager.Begin("a", TagMode.StartTagAndEndTag, "63e0ceb46e5a4cd9baa3fc953a5f7913", new Func<Task>(loginPartialCshtml.\u003CExecuteAsync\u003Eb__20_3));
        loginPartialCshtml.__Microsoft_AspNetCore_Mvc_TagHelpers_AnchorTagHelper = loginPartialCshtml.CreateTagHelper<AnchorTagHelper>();
        loginPartialCshtml.__tagHelperExecutionContext.Add((ITagHelper) loginPartialCshtml.__Microsoft_AspNetCore_Mvc_TagHelpers_AnchorTagHelper);
        loginPartialCshtml.__Microsoft_AspNetCore_Mvc_TagHelpers_AnchorTagHelper.Area = (string) _Views_Shared__LoginPartial_cshtml.__tagHelperAttribute_0.Value;
        loginPartialCshtml.__tagHelperExecutionContext.AddTagHelperAttribute(_Views_Shared__LoginPartial_cshtml.__tagHelperAttribute_0);
        loginPartialCshtml.__Microsoft_AspNetCore_Mvc_TagHelpers_AnchorTagHelper.Controller = (string) _Views_Shared__LoginPartial_cshtml.__tagHelperAttribute_1.Value;
        loginPartialCshtml.__tagHelperExecutionContext.AddTagHelperAttribute(_Views_Shared__LoginPartial_cshtml.__tagHelperAttribute_1);
        loginPartialCshtml.__Microsoft_AspNetCore_Mvc_TagHelpers_AnchorTagHelper.Action = (string) _Views_Shared__LoginPartial_cshtml.__tagHelperAttribute_10.Value;
        loginPartialCshtml.__tagHelperExecutionContext.AddTagHelperAttribute(_Views_Shared__LoginPartial_cshtml.__tagHelperAttribute_10);
        await loginPartialCshtml.__tagHelperRunner.RunAsync(loginPartialCshtml.__tagHelperExecutionContext);
        if (!loginPartialCshtml.__tagHelperExecutionContext.Output.IsContentModified)
          await loginPartialCshtml.__tagHelperExecutionContext.SetOutputContentAsync();
        loginPartialCshtml.Write((object) loginPartialCshtml.__tagHelperExecutionContext.Output);
        loginPartialCshtml.__tagHelperExecutionContext = loginPartialCshtml.__tagHelperScopeManager.End();
        loginPartialCshtml.EndContext();
        loginPartialCshtml.BeginContext(2140, 18, true);
        loginPartialCshtml.WriteLiteral("</li>\r\n    </ul>\r\n");
        loginPartialCshtml.EndContext();
      }
    }

    [RazorInject]
    public Microsoft.AspNetCore.Identity.UserManager<ApplicationUser> UserManager { get; private set; }

    [RazorInject]
    public Microsoft.AspNetCore.Identity.SignInManager<ApplicationUser> SignInManager { get; private set; }

    [RazorInject]
    public IModelExpressionProvider ModelExpressionProvider { get; private set; }

    [RazorInject]
    public IUrlHelper Url { get; private set; }

    [RazorInject]
    public IViewComponentHelper Component { get; private set; }

    [RazorInject]
    public IJsonHelper Json { get; private set; }

    [RazorInject]
    public IHtmlHelper<object> Html { get; private set; }
  }
}
