// Decompiled with JetBrains decompiler
// Type: AspNetCore._Views_Account_ExternalLogin_cshtml
// Assembly: Traffic.PrecompiledViews, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null
// MVID: 8B37BA40-0390-40A7-A536-D9CCDBC36390
// Assembly location: D:\Workstation\TonniProjects\TrafficWebDeploy\Traffic.PrecompiledViews.dll

using Microsoft.AspNetCore.Html;
using Microsoft.AspNetCore.Mvc;
using Microsoft.AspNetCore.Mvc.Razor;
using Microsoft.AspNetCore.Mvc.Razor.Internal;
using Microsoft.AspNetCore.Mvc.Rendering;
using Microsoft.AspNetCore.Mvc.TagHelpers;
using Microsoft.AspNetCore.Mvc.ViewFeatures;
using Microsoft.AspNetCore.Razor.Runtime.TagHelpers;
using Microsoft.AspNetCore.Razor.TagHelpers;
using System;
using System.Linq.Expressions;
using System.Text.Encodings.Web;
using System.Threading.Tasks;
using Traffic.Models.AccountViewModels;

namespace AspNetCore
{
  public class _Views_Account_ExternalLogin_cshtml : RazorPage<ExternalLoginViewModel>
  {
    private static readonly TagHelperAttribute __tagHelperAttribute_0 = new TagHelperAttribute("class", (object) new HtmlString("text-danger"), HtmlAttributeValueStyle.DoubleQuotes);
    private static readonly TagHelperAttribute __tagHelperAttribute_1 = new TagHelperAttribute("class", (object) new HtmlString("form-control"), HtmlAttributeValueStyle.DoubleQuotes);
    private static readonly TagHelperAttribute __tagHelperAttribute_2 = new TagHelperAttribute("asp-action", (object) "ExternalLoginConfirmation", HtmlAttributeValueStyle.DoubleQuotes);
    private static readonly TagHelperAttribute __tagHelperAttribute_3 = new TagHelperAttribute("method", (object) "post", HtmlAttributeValueStyle.DoubleQuotes);
    private string __tagHelperStringValueBuffer;
    private TagHelperExecutionContext __tagHelperExecutionContext;
    private TagHelperRunner __tagHelperRunner = new TagHelperRunner();
    private TagHelperScopeManager __backed__tagHelperScopeManager;
    private FormTagHelper __Microsoft_AspNetCore_Mvc_TagHelpers_FormTagHelper;
    private RenderAtEndOfFormTagHelper __Microsoft_AspNetCore_Mvc_TagHelpers_RenderAtEndOfFormTagHelper;
    private ValidationSummaryTagHelper __Microsoft_AspNetCore_Mvc_TagHelpers_ValidationSummaryTagHelper;
    private LabelTagHelper __Microsoft_AspNetCore_Mvc_TagHelpers_LabelTagHelper;
    private InputTagHelper __Microsoft_AspNetCore_Mvc_TagHelpers_InputTagHelper;
    private ValidationMessageTagHelper __Microsoft_AspNetCore_Mvc_TagHelpers_ValidationMessageTagHelper;
    private static readonly Expression<Func<ExternalLoginViewModel, string>> __h0 = (Expression<Func<ExternalLoginViewModel, string>>) (__model => __model.Email);
    private static readonly Expression<Func<ExternalLoginViewModel, string>> __h1 = (Expression<Func<ExternalLoginViewModel, string>>) (__model => __model.Email);
    private static readonly Expression<Func<ExternalLoginViewModel, string>> __h2 = (Expression<Func<ExternalLoginViewModel, string>>) (__model => __model.Email);

    private TagHelperScopeManager __tagHelperScopeManager
    {
      get
      {
        if (this.__backed__tagHelperScopeManager == null)
          this.__backed__tagHelperScopeManager = new TagHelperScopeManager(new Action<HtmlEncoder>(((RazorPageBase) this).StartTagHelperWritingScope), new Func<TagHelperContent>(((RazorPageBase) this).EndTagHelperWritingScope));
        return this.__backed__tagHelperScopeManager;
      }
    }

    public virtual async Task ExecuteAsync()
    {
      _Views_Account_ExternalLogin_cshtml externalLoginCshtml = this;
      externalLoginCshtml.ViewData["Title"] = (object) "Register";
      externalLoginCshtml.BeginContext(75, 6, true);
      externalLoginCshtml.WriteLiteral("\r\n<h2>");
      externalLoginCshtml.EndContext();
      externalLoginCshtml.BeginContext(82, 17, false);
      externalLoginCshtml.Write(externalLoginCshtml.ViewData["Title"]);
      externalLoginCshtml.EndContext();
      externalLoginCshtml.BeginContext(99, 26, true);
      externalLoginCshtml.WriteLiteral("</h2>\r\n<h4>Associate your ");
      externalLoginCshtml.EndContext();
      externalLoginCshtml.BeginContext(126, 25, false);
      externalLoginCshtml.Write(externalLoginCshtml.ViewData["LoginProvider"]);
      externalLoginCshtml.EndContext();
      externalLoginCshtml.BeginContext(151, 100, true);
      externalLoginCshtml.WriteLiteral(" account.</h4>\r\n<hr />\r\n\r\n<p class=\"text-info\">\r\n    You've successfully authenticated with <strong>");
      externalLoginCshtml.EndContext();
      externalLoginCshtml.BeginContext(252, 25, false);
      externalLoginCshtml.Write(externalLoginCshtml.ViewData["LoginProvider"]);
      externalLoginCshtml.EndContext();
      externalLoginCshtml.BeginContext(277, 187, true);
      externalLoginCshtml.WriteLiteral("</strong>.\r\n    Please enter an email address for this site below and click the Register button to finish\r\n    logging in.\r\n</p>\r\n\r\n<div class=\"row\">\r\n    <div class=\"col-md-4\">\r\n        ");
      externalLoginCshtml.EndContext();
      externalLoginCshtml.BeginContext(464, 521, false);
      // ISSUE: reference to a compiler-generated method
      externalLoginCshtml.__tagHelperExecutionContext = externalLoginCshtml.__tagHelperScopeManager.Begin("form", TagMode.StartTagAndEndTag, "58dcad0ddabf49d7bf60d90e7f56f49b", new Func<Task>(externalLoginCshtml.\u003CExecuteAsync\u003Eb__16_0));
      externalLoginCshtml.__Microsoft_AspNetCore_Mvc_TagHelpers_FormTagHelper = externalLoginCshtml.CreateTagHelper<FormTagHelper>();
      externalLoginCshtml.__tagHelperExecutionContext.Add((ITagHelper) externalLoginCshtml.__Microsoft_AspNetCore_Mvc_TagHelpers_FormTagHelper);
      externalLoginCshtml.__Microsoft_AspNetCore_Mvc_TagHelpers_RenderAtEndOfFormTagHelper = externalLoginCshtml.CreateTagHelper<RenderAtEndOfFormTagHelper>();
      externalLoginCshtml.__tagHelperExecutionContext.Add((ITagHelper) externalLoginCshtml.__Microsoft_AspNetCore_Mvc_TagHelpers_RenderAtEndOfFormTagHelper);
      externalLoginCshtml.__Microsoft_AspNetCore_Mvc_TagHelpers_FormTagHelper.Action = (string) _Views_Account_ExternalLogin_cshtml.__tagHelperAttribute_2.Value;
      externalLoginCshtml.__tagHelperExecutionContext.AddTagHelperAttribute(_Views_Account_ExternalLogin_cshtml.__tagHelperAttribute_2);
      if (externalLoginCshtml.__Microsoft_AspNetCore_Mvc_TagHelpers_FormTagHelper.RouteValues == null)
        throw new InvalidOperationException(externalLoginCshtml.InvalidTagHelperIndexerAssignment("asp-route-returnurl", "Microsoft.AspNetCore.Mvc.TagHelpers.FormTagHelper", "RouteValues"));
      externalLoginCshtml.BeginWriteTagHelperAttribute();
      externalLoginCshtml.WriteLiteral(externalLoginCshtml.ViewData["ReturnUrl"]);
      externalLoginCshtml.__tagHelperStringValueBuffer = externalLoginCshtml.EndWriteTagHelperAttribute();
      externalLoginCshtml.__Microsoft_AspNetCore_Mvc_TagHelpers_FormTagHelper.RouteValues["returnurl"] = externalLoginCshtml.__tagHelperStringValueBuffer;
      externalLoginCshtml.__tagHelperExecutionContext.AddTagHelperAttribute("asp-route-returnurl", (object) externalLoginCshtml.__Microsoft_AspNetCore_Mvc_TagHelpers_FormTagHelper.RouteValues["returnurl"], HtmlAttributeValueStyle.DoubleQuotes);
      externalLoginCshtml.__Microsoft_AspNetCore_Mvc_TagHelpers_FormTagHelper.Method = (string) _Views_Account_ExternalLogin_cshtml.__tagHelperAttribute_3.Value;
      externalLoginCshtml.__tagHelperExecutionContext.AddTagHelperAttribute(_Views_Account_ExternalLogin_cshtml.__tagHelperAttribute_3);
      await externalLoginCshtml.__tagHelperRunner.RunAsync(externalLoginCshtml.__tagHelperExecutionContext);
      if (!externalLoginCshtml.__tagHelperExecutionContext.Output.IsContentModified)
        await externalLoginCshtml.__tagHelperExecutionContext.SetOutputContentAsync();
      externalLoginCshtml.Write((object) externalLoginCshtml.__tagHelperExecutionContext.Output);
      externalLoginCshtml.__tagHelperExecutionContext = externalLoginCshtml.__tagHelperScopeManager.End();
      externalLoginCshtml.EndContext();
      externalLoginCshtml.BeginContext(985, 24, true);
      externalLoginCshtml.WriteLiteral("\r\n    </div>\r\n</div>\r\n\r\n");
      externalLoginCshtml.EndContext();
      // ISSUE: reference to a compiler-generated method
      externalLoginCshtml.DefineSection("Scripts", new RenderAsyncDelegate(externalLoginCshtml.\u003CExecuteAsync\u003Eb__16_5));
    }

    [RazorInject]
    public IModelExpressionProvider ModelExpressionProvider { get; private set; }

    [RazorInject]
    public IUrlHelper Url { get; private set; }

    [RazorInject]
    public IViewComponentHelper Component { get; private set; }

    [RazorInject]
    public IJsonHelper Json { get; private set; }

    [RazorInject]
    public IHtmlHelper<ExternalLoginViewModel> Html { get; private set; }
  }
}
