// Decompiled with JetBrains decompiler
// Type: AspNetCore._Views_Account_ForgotPassword_cshtml
// Assembly: Traffic.PrecompiledViews, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null
// MVID: 8B37BA40-0390-40A7-A536-D9CCDBC36390
// Assembly location: D:\Workstation\TonniProjects\TrafficWebDeploy\Traffic.PrecompiledViews.dll

using Microsoft.AspNetCore.Html;
using Microsoft.AspNetCore.Mvc;
using Microsoft.AspNetCore.Mvc.Razor;
using Microsoft.AspNetCore.Mvc.Razor.Internal;
using Microsoft.AspNetCore.Mvc.Rendering;
using Microsoft.AspNetCore.Mvc.TagHelpers;
using Microsoft.AspNetCore.Mvc.ViewFeatures;
using Microsoft.AspNetCore.Razor.Runtime.TagHelpers;
using Microsoft.AspNetCore.Razor.TagHelpers;
using System;
using System.Linq.Expressions;
using System.Text.Encodings.Web;
using System.Threading.Tasks;
using Traffic.Models.AccountViewModels;

namespace AspNetCore
{
  public class _Views_Account_ForgotPassword_cshtml : RazorPage<ForgotPasswordViewModel>
  {
    private static readonly TagHelperAttribute __tagHelperAttribute_0 = new TagHelperAttribute("class", (object) new HtmlString("input100"), HtmlAttributeValueStyle.DoubleQuotes);
    private static readonly TagHelperAttribute __tagHelperAttribute_1 = new TagHelperAttribute("placeholder", (object) new HtmlString("Enter Email"), HtmlAttributeValueStyle.DoubleQuotes);
    private static readonly TagHelperAttribute __tagHelperAttribute_2 = new TagHelperAttribute("class", (object) new HtmlString("text-danger"), HtmlAttributeValueStyle.DoubleQuotes);
    private static readonly TagHelperAttribute __tagHelperAttribute_3 = new TagHelperAttribute("asp-action", (object) "ForgotPassword", HtmlAttributeValueStyle.DoubleQuotes);
    private static readonly TagHelperAttribute __tagHelperAttribute_4 = new TagHelperAttribute("method", (object) "post", HtmlAttributeValueStyle.DoubleQuotes);
    private static readonly TagHelperAttribute __tagHelperAttribute_5 = new TagHelperAttribute("class", (object) new HtmlString("login100-form validate-form"), HtmlAttributeValueStyle.DoubleQuotes);
    private string __tagHelperStringValueBuffer;
    private TagHelperExecutionContext __tagHelperExecutionContext;
    private TagHelperRunner __tagHelperRunner = new TagHelperRunner();
    private TagHelperScopeManager __backed__tagHelperScopeManager;
    private FormTagHelper __Microsoft_AspNetCore_Mvc_TagHelpers_FormTagHelper;
    private RenderAtEndOfFormTagHelper __Microsoft_AspNetCore_Mvc_TagHelpers_RenderAtEndOfFormTagHelper;
    private InputTagHelper __Microsoft_AspNetCore_Mvc_TagHelpers_InputTagHelper;
    private ValidationMessageTagHelper __Microsoft_AspNetCore_Mvc_TagHelpers_ValidationMessageTagHelper;
    private static readonly Expression<Func<ForgotPasswordViewModel, string>> __h0 = (Expression<Func<ForgotPasswordViewModel, string>>) (__model => __model.Email);
    private static readonly Expression<Func<ForgotPasswordViewModel, string>> __h1 = (Expression<Func<ForgotPasswordViewModel, string>>) (__model => __model.Email);

    private TagHelperScopeManager __tagHelperScopeManager
    {
      get
      {
        if (this.__backed__tagHelperScopeManager == null)
          this.__backed__tagHelperScopeManager = new TagHelperScopeManager(new Action<HtmlEncoder>(((RazorPageBase) this).StartTagHelperWritingScope), new Func<TagHelperContent>(((RazorPageBase) this).EndTagHelperWritingScope));
        return this.__backed__tagHelperScopeManager;
      }
    }

    public virtual async Task ExecuteAsync()
    {
      _Views_Account_ForgotPassword_cshtml forgotPasswordCshtml = this;
      forgotPasswordCshtml.ViewData["Title"] = (object) "Forgot your password?";
      forgotPasswordCshtml.BeginContext(89, 269, true);
      forgotPasswordCshtml.WriteLiteral("<div class=\"limiter\">\r\n    <div class=\"container-login100\">\r\n        <div class=\"wrap-login100\">\r\n            <div class=\"login100-form-title\" style=\"background-image: url(/images/bg-01.jpg);\">\r\n                <span class=\"login100-form-title-1\">\r\n                    ");
      forgotPasswordCshtml.EndContext();
      forgotPasswordCshtml.BeginContext(359, 17, false);
      forgotPasswordCshtml.Write(forgotPasswordCshtml.ViewData["Title"]);
      forgotPasswordCshtml.EndContext();
      forgotPasswordCshtml.BeginContext(376, 59, true);
      forgotPasswordCshtml.WriteLiteral("\r\n                </span>\r\n            </div>\r\n            ");
      forgotPasswordCshtml.EndContext();
      forgotPasswordCshtml.BeginContext(435, 697, false);
      // ISSUE: reference to a compiler-generated method
      forgotPasswordCshtml.__tagHelperExecutionContext = forgotPasswordCshtml.__tagHelperScopeManager.Begin("form", TagMode.StartTagAndEndTag, "10584c8f16f542a5beca5cfcad36ca5a", new Func<Task>(forgotPasswordCshtml.\u003CExecuteAsync\u003Eb__16_0));
      forgotPasswordCshtml.__Microsoft_AspNetCore_Mvc_TagHelpers_FormTagHelper = forgotPasswordCshtml.CreateTagHelper<FormTagHelper>();
      forgotPasswordCshtml.__tagHelperExecutionContext.Add((ITagHelper) forgotPasswordCshtml.__Microsoft_AspNetCore_Mvc_TagHelpers_FormTagHelper);
      forgotPasswordCshtml.__Microsoft_AspNetCore_Mvc_TagHelpers_RenderAtEndOfFormTagHelper = forgotPasswordCshtml.CreateTagHelper<RenderAtEndOfFormTagHelper>();
      forgotPasswordCshtml.__tagHelperExecutionContext.Add((ITagHelper) forgotPasswordCshtml.__Microsoft_AspNetCore_Mvc_TagHelpers_RenderAtEndOfFormTagHelper);
      forgotPasswordCshtml.__Microsoft_AspNetCore_Mvc_TagHelpers_FormTagHelper.Action = (string) _Views_Account_ForgotPassword_cshtml.__tagHelperAttribute_3.Value;
      forgotPasswordCshtml.__tagHelperExecutionContext.AddTagHelperAttribute(_Views_Account_ForgotPassword_cshtml.__tagHelperAttribute_3);
      forgotPasswordCshtml.__Microsoft_AspNetCore_Mvc_TagHelpers_FormTagHelper.Method = (string) _Views_Account_ForgotPassword_cshtml.__tagHelperAttribute_4.Value;
      forgotPasswordCshtml.__tagHelperExecutionContext.AddTagHelperAttribute(_Views_Account_ForgotPassword_cshtml.__tagHelperAttribute_4);
      forgotPasswordCshtml.__tagHelperExecutionContext.AddHtmlAttribute(_Views_Account_ForgotPassword_cshtml.__tagHelperAttribute_5);
      await forgotPasswordCshtml.__tagHelperRunner.RunAsync(forgotPasswordCshtml.__tagHelperExecutionContext);
      if (!forgotPasswordCshtml.__tagHelperExecutionContext.Output.IsContentModified)
        await forgotPasswordCshtml.__tagHelperExecutionContext.SetOutputContentAsync();
      forgotPasswordCshtml.Write((object) forgotPasswordCshtml.__tagHelperExecutionContext.Output);
      forgotPasswordCshtml.__tagHelperExecutionContext = forgotPasswordCshtml.__tagHelperScopeManager.End();
      forgotPasswordCshtml.EndContext();
      forgotPasswordCshtml.BeginContext(1132, 40, true);
      forgotPasswordCshtml.WriteLiteral("\r\n        </div>\r\n    </div>\r\n</div>\r\n\r\n");
      forgotPasswordCshtml.EndContext();
      // ISSUE: reference to a compiler-generated method
      forgotPasswordCshtml.DefineSection("Scripts", new RenderAsyncDelegate(forgotPasswordCshtml.\u003CExecuteAsync\u003Eb__16_3));
    }

    [RazorInject]
    public IModelExpressionProvider ModelExpressionProvider { get; private set; }

    [RazorInject]
    public IUrlHelper Url { get; private set; }

    [RazorInject]
    public IViewComponentHelper Component { get; private set; }

    [RazorInject]
    public IJsonHelper Json { get; private set; }

    [RazorInject]
    public IHtmlHelper<ForgotPasswordViewModel> Html { get; private set; }
  }
}
