// Decompiled with JetBrains decompiler
// Type: AspNetCore._Views_Account_ForgotPasswordConfirmation_cshtml
// Assembly: Traffic.PrecompiledViews, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null
// MVID: 8B37BA40-0390-40A7-A536-D9CCDBC36390
// Assembly location: D:\Workstation\TonniProjects\TrafficWebDeploy\Traffic.PrecompiledViews.dll

using Microsoft.AspNetCore.Mvc;
using Microsoft.AspNetCore.Mvc.Razor;
using Microsoft.AspNetCore.Mvc.Razor.Internal;
using Microsoft.AspNetCore.Mvc.Rendering;
using Microsoft.AspNetCore.Mvc.ViewFeatures;
using System.Threading.Tasks;

namespace AspNetCore
{
  public class _Views_Account_ForgotPasswordConfirmation_cshtml : RazorPage<object>
  {
    public virtual async Task ExecuteAsync()
    {
      _Views_Account_ForgotPasswordConfirmation_cshtml confirmationCshtml = this;
      confirmationCshtml.ViewData["Title"] = (object) "Forgot password confirmation";
      confirmationCshtml.BeginContext(64, 349, true);
      confirmationCshtml.WriteLiteral("\r\n<div class=\"limiter\">\r\n    <div class=\"container-login100\">\r\n        <div class=\"wrap-login100\">\r\n            <div class=\"login100-form-title\">\r\n                <span class=\"login100-form-title-1\">\r\n                    Please check your email to reset your password.\r\n                </span>\r\n            </div>\r\n        </div>\r\n    </div>\r\n</div>");
      confirmationCshtml.EndContext();
    }

    [RazorInject]
    public IModelExpressionProvider ModelExpressionProvider { get; private set; }

    [RazorInject]
    public IUrlHelper Url { get; private set; }

    [RazorInject]
    public IViewComponentHelper Component { get; private set; }

    [RazorInject]
    public IJsonHelper Json { get; private set; }

    [RazorInject]
    public IHtmlHelper<object> Html { get; private set; }
  }
}
