// Decompiled with JetBrains decompiler
// Type: AspNetCore._Views_Manage_SetPassword_cshtml
// Assembly: Traffic.PrecompiledViews, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null
// MVID: 8B37BA40-0390-40A7-A536-D9CCDBC36390
// Assembly location: D:\Workstation\TonniProjects\TrafficWebDeploy\Traffic.PrecompiledViews.dll

using Microsoft.AspNetCore.Html;
using Microsoft.AspNetCore.Mvc;
using Microsoft.AspNetCore.Mvc.Razor;
using Microsoft.AspNetCore.Mvc.Razor.Internal;
using Microsoft.AspNetCore.Mvc.Rendering;
using Microsoft.AspNetCore.Mvc.TagHelpers;
using Microsoft.AspNetCore.Mvc.ViewFeatures;
using Microsoft.AspNetCore.Razor.Runtime.TagHelpers;
using Microsoft.AspNetCore.Razor.TagHelpers;
using System;
using System.Linq.Expressions;
using System.Text.Encodings.Web;
using System.Threading.Tasks;
using Traffic.Models.ManageViewModels;
using Traffic.Views.Manage;

namespace AspNetCore
{
  public class _Views_Manage_SetPassword_cshtml : RazorPage<SetPasswordViewModel>
  {
    private static readonly TagHelperAttribute __tagHelperAttribute_0 = new TagHelperAttribute("class", (object) new HtmlString("text-danger"), HtmlAttributeValueStyle.DoubleQuotes);
    private static readonly TagHelperAttribute __tagHelperAttribute_1 = new TagHelperAttribute("class", (object) new HtmlString("form-control"), HtmlAttributeValueStyle.DoubleQuotes);
    private static readonly TagHelperAttribute __tagHelperAttribute_2 = new TagHelperAttribute("method", (object) "post", HtmlAttributeValueStyle.DoubleQuotes);
    private string __tagHelperStringValueBuffer;
    private TagHelperExecutionContext __tagHelperExecutionContext;
    private TagHelperRunner __tagHelperRunner = new TagHelperRunner();
    private TagHelperScopeManager __backed__tagHelperScopeManager;
    private FormTagHelper __Microsoft_AspNetCore_Mvc_TagHelpers_FormTagHelper;
    private RenderAtEndOfFormTagHelper __Microsoft_AspNetCore_Mvc_TagHelpers_RenderAtEndOfFormTagHelper;
    private ValidationSummaryTagHelper __Microsoft_AspNetCore_Mvc_TagHelpers_ValidationSummaryTagHelper;
    private LabelTagHelper __Microsoft_AspNetCore_Mvc_TagHelpers_LabelTagHelper;
    private InputTagHelper __Microsoft_AspNetCore_Mvc_TagHelpers_InputTagHelper;
    private ValidationMessageTagHelper __Microsoft_AspNetCore_Mvc_TagHelpers_ValidationMessageTagHelper;
    private static readonly Expression<Func<SetPasswordViewModel, string>> __h0 = (Expression<Func<SetPasswordViewModel, string>>) (__model => __model.NewPassword);
    private static readonly Expression<Func<SetPasswordViewModel, string>> __h1 = (Expression<Func<SetPasswordViewModel, string>>) (__model => __model.NewPassword);
    private static readonly Expression<Func<SetPasswordViewModel, string>> __h2 = (Expression<Func<SetPasswordViewModel, string>>) (__model => __model.NewPassword);
    private static readonly Expression<Func<SetPasswordViewModel, string>> __h3 = (Expression<Func<SetPasswordViewModel, string>>) (__model => __model.ConfirmPassword);
    private static readonly Expression<Func<SetPasswordViewModel, string>> __h4 = (Expression<Func<SetPasswordViewModel, string>>) (__model => __model.ConfirmPassword);
    private static readonly Expression<Func<SetPasswordViewModel, string>> __h5 = (Expression<Func<SetPasswordViewModel, string>>) (__model => __model.ConfirmPassword);

    private TagHelperScopeManager __tagHelperScopeManager
    {
      get
      {
        if (this.__backed__tagHelperScopeManager == null)
          this.__backed__tagHelperScopeManager = new TagHelperScopeManager(new Action<HtmlEncoder>(((RazorPageBase) this).StartTagHelperWritingScope), new Func<TagHelperContent>(((RazorPageBase) this).EndTagHelperWritingScope));
        return this.__backed__tagHelperScopeManager;
      }
    }

    public virtual async Task ExecuteAsync()
    {
      _Views_Manage_SetPassword_cshtml setPasswordCshtml = this;
      setPasswordCshtml.ViewData["Title"] = (object) "Set password";
      setPasswordCshtml.ViewData.AddActivePage(ManageNavPages.ChangePassword);
      setPasswordCshtml.BeginContext(137, 30, true);
      setPasswordCshtml.WriteLiteral("\r\n<h4>Set your password</h4>\r\n");
      setPasswordCshtml.EndContext();
      setPasswordCshtml.BeginContext(168, 51, false);
      setPasswordCshtml.Write((object) setPasswordCshtml.Html.Partial("_StatusMessage", (object) setPasswordCshtml.Model.StatusMessage));
      setPasswordCshtml.EndContext();
      setPasswordCshtml.BeginContext(219, 218, true);
      setPasswordCshtml.WriteLiteral("\r\n<p class=\"text-info\">\r\n    You do not have a local username/password for this site. Add a local\r\n    account so you can log in without an external login.\r\n</p>\r\n<div class=\"row\">\r\n    <div class=\"col-md-6\">\r\n        ");
      setPasswordCshtml.EndContext();
      setPasswordCshtml.BeginContext(437, 738, false);
      // ISSUE: reference to a compiler-generated method
      setPasswordCshtml.__tagHelperExecutionContext = setPasswordCshtml.__tagHelperScopeManager.Begin("form", TagMode.StartTagAndEndTag, "ac5584e6fef948588a4d2fdacfef9c9a", new Func<Task>(setPasswordCshtml.\u003CExecuteAsync\u003Eb__15_0));
      setPasswordCshtml.__Microsoft_AspNetCore_Mvc_TagHelpers_FormTagHelper = setPasswordCshtml.CreateTagHelper<FormTagHelper>();
      setPasswordCshtml.__tagHelperExecutionContext.Add((ITagHelper) setPasswordCshtml.__Microsoft_AspNetCore_Mvc_TagHelpers_FormTagHelper);
      setPasswordCshtml.__Microsoft_AspNetCore_Mvc_TagHelpers_RenderAtEndOfFormTagHelper = setPasswordCshtml.CreateTagHelper<RenderAtEndOfFormTagHelper>();
      setPasswordCshtml.__tagHelperExecutionContext.Add((ITagHelper) setPasswordCshtml.__Microsoft_AspNetCore_Mvc_TagHelpers_RenderAtEndOfFormTagHelper);
      setPasswordCshtml.__Microsoft_AspNetCore_Mvc_TagHelpers_FormTagHelper.Method = (string) _Views_Manage_SetPassword_cshtml.__tagHelperAttribute_2.Value;
      setPasswordCshtml.__tagHelperExecutionContext.AddTagHelperAttribute(_Views_Manage_SetPassword_cshtml.__tagHelperAttribute_2);
      await setPasswordCshtml.__tagHelperRunner.RunAsync(setPasswordCshtml.__tagHelperExecutionContext);
      if (!setPasswordCshtml.__tagHelperExecutionContext.Output.IsContentModified)
        await setPasswordCshtml.__tagHelperExecutionContext.SetOutputContentAsync();
      setPasswordCshtml.Write((object) setPasswordCshtml.__tagHelperExecutionContext.Output);
      setPasswordCshtml.__tagHelperExecutionContext = setPasswordCshtml.__tagHelperScopeManager.End();
      setPasswordCshtml.EndContext();
      setPasswordCshtml.BeginContext(1175, 24, true);
      setPasswordCshtml.WriteLiteral("\r\n    </div>\r\n</div>\r\n\r\n");
      setPasswordCshtml.EndContext();
      // ISSUE: reference to a compiler-generated method
      setPasswordCshtml.DefineSection("Scripts", new RenderAsyncDelegate(setPasswordCshtml.\u003CExecuteAsync\u003Eb__15_8));
    }

    [RazorInject]
    public IModelExpressionProvider ModelExpressionProvider { get; private set; }

    [RazorInject]
    public IUrlHelper Url { get; private set; }

    [RazorInject]
    public IViewComponentHelper Component { get; private set; }

    [RazorInject]
    public IJsonHelper Json { get; private set; }

    [RazorInject]
    public IHtmlHelper<SetPasswordViewModel> Html { get; private set; }
  }
}
