// Decompiled with JetBrains decompiler
// Type: AspNetCore._Views_Home_Edit_cshtml
// Assembly: Traffic.PrecompiledViews, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null
// MVID: 8B37BA40-0390-40A7-A536-D9CCDBC36390
// Assembly location: D:\Workstation\TonniProjects\TrafficWebDeploy\Traffic.PrecompiledViews.dll

using Microsoft.AspNetCore.Html;
using Microsoft.AspNetCore.Mvc;
using Microsoft.AspNetCore.Mvc.Razor;
using Microsoft.AspNetCore.Mvc.Razor.Internal;
using Microsoft.AspNetCore.Mvc.Rendering;
using Microsoft.AspNetCore.Mvc.TagHelpers;
using Microsoft.AspNetCore.Mvc.ViewFeatures;
using Microsoft.AspNetCore.Razor.Runtime.TagHelpers;
using Microsoft.AspNetCore.Razor.TagHelpers;
using Microsoft.CSharp.RuntimeBinder;
using System;
using System.Collections.Generic;
using System.Linq.Expressions;
using System.Runtime.CompilerServices;
using System.Text.Encodings.Web;
using System.Threading.Tasks;
using Traffic.Models;

namespace AspNetCore
{
  public class _Views_Home_Edit_cshtml : RazorPage<trafficjob>
  {
    private static readonly TagHelperAttribute __tagHelperAttribute_0 = new TagHelperAttribute("class", (object) new HtmlString("text-danger"), HtmlAttributeValueStyle.DoubleQuotes);
    private static readonly TagHelperAttribute __tagHelperAttribute_1 = new TagHelperAttribute("type", (object) "hidden", HtmlAttributeValueStyle.DoubleQuotes);
    private static readonly TagHelperAttribute __tagHelperAttribute_2 = new TagHelperAttribute("class", (object) new HtmlString("control-label col-md-2"), HtmlAttributeValueStyle.DoubleQuotes);
    private static readonly TagHelperAttribute __tagHelperAttribute_3 = new TagHelperAttribute("class", (object) new HtmlString("form-control"), HtmlAttributeValueStyle.DoubleQuotes);
    private static readonly TagHelperAttribute __tagHelperAttribute_4 = new TagHelperAttribute("class", (object) new HtmlString("control-label col-md-1"), HtmlAttributeValueStyle.DoubleQuotes);
    private static readonly TagHelperAttribute __tagHelperAttribute_5 = new TagHelperAttribute("type", (object) "checkbox", HtmlAttributeValueStyle.DoubleQuotes);
    private static readonly TagHelperAttribute __tagHelperAttribute_6 = new TagHelperAttribute("style", (object) new HtmlString("width:30px;height:30px"), HtmlAttributeValueStyle.DoubleQuotes);
    private static readonly TagHelperAttribute __tagHelperAttribute_7 = new TagHelperAttribute("row", (object) new HtmlString("3"), HtmlAttributeValueStyle.DoubleQuotes);
    private static readonly TagHelperAttribute __tagHelperAttribute_8 = new TagHelperAttribute("selected", (object) new HtmlString("selected"), HtmlAttributeValueStyle.DoubleQuotes);
    private static readonly TagHelperAttribute __tagHelperAttribute_9 = new TagHelperAttribute("value", (object) "", HtmlAttributeValueStyle.DoubleQuotes);
    private static readonly TagHelperAttribute __tagHelperAttribute_10 = new TagHelperAttribute("value", (object) "Morocco Standard Time", HtmlAttributeValueStyle.DoubleQuotes);
    private static readonly TagHelperAttribute __tagHelperAttribute_11 = new TagHelperAttribute("value", (object) "GMT Standard Time", HtmlAttributeValueStyle.DoubleQuotes);
    private static readonly TagHelperAttribute __tagHelperAttribute_12 = new TagHelperAttribute("value", (object) "Greenwich Standard Time", HtmlAttributeValueStyle.DoubleQuotes);
    private static readonly TagHelperAttribute __tagHelperAttribute_13 = new TagHelperAttribute("value", (object) "W. Europe Standard Time", HtmlAttributeValueStyle.DoubleQuotes);
    private static readonly TagHelperAttribute __tagHelperAttribute_14 = new TagHelperAttribute("value", (object) "Central Europe Standard Time", HtmlAttributeValueStyle.DoubleQuotes);
    private static readonly TagHelperAttribute __tagHelperAttribute_15 = new TagHelperAttribute("value", (object) "Romance Standard Time", HtmlAttributeValueStyle.DoubleQuotes);
    private static readonly TagHelperAttribute __tagHelperAttribute_16 = new TagHelperAttribute("value", (object) "Central European Standard Time", HtmlAttributeValueStyle.DoubleQuotes);
    private static readonly TagHelperAttribute __tagHelperAttribute_17 = new TagHelperAttribute("value", (object) "W. Central Africa Standard Time", HtmlAttributeValueStyle.DoubleQuotes);
    private static readonly TagHelperAttribute __tagHelperAttribute_18 = new TagHelperAttribute("value", (object) "Jordan Standard Time", HtmlAttributeValueStyle.DoubleQuotes);
    private static readonly TagHelperAttribute __tagHelperAttribute_19 = new TagHelperAttribute("value", (object) "GTB Standard Time", HtmlAttributeValueStyle.DoubleQuotes);
    private static readonly TagHelperAttribute __tagHelperAttribute_20 = new TagHelperAttribute("value", (object) "Middle East Standard Time", HtmlAttributeValueStyle.DoubleQuotes);
    private static readonly TagHelperAttribute __tagHelperAttribute_21 = new TagHelperAttribute("value", (object) "Egypt Standard Time", HtmlAttributeValueStyle.DoubleQuotes);
    private static readonly TagHelperAttribute __tagHelperAttribute_22 = new TagHelperAttribute("value", (object) "South Africa Standard Time", HtmlAttributeValueStyle.DoubleQuotes);
    private static readonly TagHelperAttribute __tagHelperAttribute_23 = new TagHelperAttribute("value", (object) "FLE Standard Time", HtmlAttributeValueStyle.DoubleQuotes);
    private static readonly TagHelperAttribute __tagHelperAttribute_24 = new TagHelperAttribute("value", (object) "Israel Standard Time", HtmlAttributeValueStyle.DoubleQuotes);
    private static readonly TagHelperAttribute __tagHelperAttribute_25 = new TagHelperAttribute("value", (object) "E. Europe Standard Time", HtmlAttributeValueStyle.DoubleQuotes);
    private static readonly TagHelperAttribute __tagHelperAttribute_26 = new TagHelperAttribute("value", (object) "Namibia Standard Time", HtmlAttributeValueStyle.DoubleQuotes);
    private static readonly TagHelperAttribute __tagHelperAttribute_27 = new TagHelperAttribute("value", (object) "Arabic Standard Time", HtmlAttributeValueStyle.DoubleQuotes);
    private static readonly TagHelperAttribute __tagHelperAttribute_28 = new TagHelperAttribute("value", (object) "Arab Standard Time", HtmlAttributeValueStyle.DoubleQuotes);
    private static readonly TagHelperAttribute __tagHelperAttribute_29 = new TagHelperAttribute("value", (object) "Russian Standard Time", HtmlAttributeValueStyle.DoubleQuotes);
    private static readonly TagHelperAttribute __tagHelperAttribute_30 = new TagHelperAttribute("value", (object) "E. Africa Standard Time", HtmlAttributeValueStyle.DoubleQuotes);
    private static readonly TagHelperAttribute __tagHelperAttribute_31 = new TagHelperAttribute("value", (object) "Georgian Standard Time", HtmlAttributeValueStyle.DoubleQuotes);
    private static readonly TagHelperAttribute __tagHelperAttribute_32 = new TagHelperAttribute("value", (object) "Iran Standard Time", HtmlAttributeValueStyle.DoubleQuotes);
    private static readonly TagHelperAttribute __tagHelperAttribute_33 = new TagHelperAttribute("value", (object) "Arabian Standard Time", HtmlAttributeValueStyle.DoubleQuotes);
    private static readonly TagHelperAttribute __tagHelperAttribute_34 = new TagHelperAttribute("value", (object) "Azerbaijan Standard Time", HtmlAttributeValueStyle.DoubleQuotes);
    private static readonly TagHelperAttribute __tagHelperAttribute_35 = new TagHelperAttribute("value", (object) "Mauritius Standard Time", HtmlAttributeValueStyle.DoubleQuotes);
    private static readonly TagHelperAttribute __tagHelperAttribute_36 = new TagHelperAttribute("value", (object) "Caucasus Standard Time", HtmlAttributeValueStyle.DoubleQuotes);
    private static readonly TagHelperAttribute __tagHelperAttribute_37 = new TagHelperAttribute("value", (object) "Afghanistan Standard Time", HtmlAttributeValueStyle.DoubleQuotes);
    private static readonly TagHelperAttribute __tagHelperAttribute_38 = new TagHelperAttribute("value", (object) "Ekaterinburg Standard Time", HtmlAttributeValueStyle.DoubleQuotes);
    private static readonly TagHelperAttribute __tagHelperAttribute_39 = new TagHelperAttribute("value", (object) "Pakistan Standard Time", HtmlAttributeValueStyle.DoubleQuotes);
    private static readonly TagHelperAttribute __tagHelperAttribute_40 = new TagHelperAttribute("value", (object) "West Asia Standard Time", HtmlAttributeValueStyle.DoubleQuotes);
    private static readonly TagHelperAttribute __tagHelperAttribute_41 = new TagHelperAttribute("value", (object) "India Standard Time", HtmlAttributeValueStyle.DoubleQuotes);
    private static readonly TagHelperAttribute __tagHelperAttribute_42 = new TagHelperAttribute("value", (object) "Sri Lanka Standard Time", HtmlAttributeValueStyle.DoubleQuotes);
    private static readonly TagHelperAttribute __tagHelperAttribute_43 = new TagHelperAttribute("value", (object) "Nepal Standard Time", HtmlAttributeValueStyle.DoubleQuotes);
    private static readonly TagHelperAttribute __tagHelperAttribute_44 = new TagHelperAttribute("value", (object) "N. Central Asia Standard Time", HtmlAttributeValueStyle.DoubleQuotes);
    private static readonly TagHelperAttribute __tagHelperAttribute_45 = new TagHelperAttribute("value", (object) "Central Asia Standard Time", HtmlAttributeValueStyle.DoubleQuotes);
    private static readonly TagHelperAttribute __tagHelperAttribute_46 = new TagHelperAttribute("value", (object) "Myanmar Standard Time", HtmlAttributeValueStyle.DoubleQuotes);
    private static readonly TagHelperAttribute __tagHelperAttribute_47 = new TagHelperAttribute("value", (object) "SE Asia Standard Time", HtmlAttributeValueStyle.DoubleQuotes);
    private static readonly TagHelperAttribute __tagHelperAttribute_48 = new TagHelperAttribute("value", (object) "North Asia Standard Time", HtmlAttributeValueStyle.DoubleQuotes);
    private static readonly TagHelperAttribute __tagHelperAttribute_49 = new TagHelperAttribute("value", (object) "China Standard Time", HtmlAttributeValueStyle.DoubleQuotes);
    private static readonly TagHelperAttribute __tagHelperAttribute_50 = new TagHelperAttribute("value", (object) "North Asia East Standard Time", HtmlAttributeValueStyle.DoubleQuotes);
    private static readonly TagHelperAttribute __tagHelperAttribute_51 = new TagHelperAttribute("value", (object) "Singapore Standard Time", HtmlAttributeValueStyle.DoubleQuotes);
    private static readonly TagHelperAttribute __tagHelperAttribute_52 = new TagHelperAttribute("value", (object) "W. Australia Standard Time", HtmlAttributeValueStyle.DoubleQuotes);
    private static readonly TagHelperAttribute __tagHelperAttribute_53 = new TagHelperAttribute("value", (object) "Taipei Standard Time", HtmlAttributeValueStyle.DoubleQuotes);
    private static readonly TagHelperAttribute __tagHelperAttribute_54 = new TagHelperAttribute("value", (object) "Tokyo Standard Time", HtmlAttributeValueStyle.DoubleQuotes);
    private static readonly TagHelperAttribute __tagHelperAttribute_55 = new TagHelperAttribute("value", (object) "Korea Standard Time", HtmlAttributeValueStyle.DoubleQuotes);
    private static readonly TagHelperAttribute __tagHelperAttribute_56 = new TagHelperAttribute("value", (object) "Yakutsk Standard Time", HtmlAttributeValueStyle.DoubleQuotes);
    private static readonly TagHelperAttribute __tagHelperAttribute_57 = new TagHelperAttribute("value", (object) "Cen. Australia Standard Time", HtmlAttributeValueStyle.DoubleQuotes);
    private static readonly TagHelperAttribute __tagHelperAttribute_58 = new TagHelperAttribute("value", (object) "AUS Central Standard Time", HtmlAttributeValueStyle.DoubleQuotes);
    private static readonly TagHelperAttribute __tagHelperAttribute_59 = new TagHelperAttribute("value", (object) "E. Australia Standard Time", HtmlAttributeValueStyle.DoubleQuotes);
    private static readonly TagHelperAttribute __tagHelperAttribute_60 = new TagHelperAttribute("value", (object) "AUS Eastern Standard Time", HtmlAttributeValueStyle.DoubleQuotes);
    private static readonly TagHelperAttribute __tagHelperAttribute_61 = new TagHelperAttribute("value", (object) "West Pacific Standard Time", HtmlAttributeValueStyle.DoubleQuotes);
    private static readonly TagHelperAttribute __tagHelperAttribute_62 = new TagHelperAttribute("value", (object) "Tasmania Standard Time", HtmlAttributeValueStyle.DoubleQuotes);
    private static readonly TagHelperAttribute __tagHelperAttribute_63 = new TagHelperAttribute("value", (object) "Vladivostok Standard Time", HtmlAttributeValueStyle.DoubleQuotes);
    private static readonly TagHelperAttribute __tagHelperAttribute_64 = new TagHelperAttribute("value", (object) "Central Pacific Standard Time", HtmlAttributeValueStyle.DoubleQuotes);
    private static readonly TagHelperAttribute __tagHelperAttribute_65 = new TagHelperAttribute("value", (object) "New Zealand Standard Time", HtmlAttributeValueStyle.DoubleQuotes);
    private static readonly TagHelperAttribute __tagHelperAttribute_66 = new TagHelperAttribute("value", (object) "Fiji Standard Time", HtmlAttributeValueStyle.DoubleQuotes);
    private static readonly TagHelperAttribute __tagHelperAttribute_67 = new TagHelperAttribute("value", (object) "Tonga Standard Time", HtmlAttributeValueStyle.DoubleQuotes);
    private static readonly TagHelperAttribute __tagHelperAttribute_68 = new TagHelperAttribute("value", (object) "Azores Standard Time", HtmlAttributeValueStyle.DoubleQuotes);
    private static readonly TagHelperAttribute __tagHelperAttribute_69 = new TagHelperAttribute("value", (object) "Cape Verde Standard Time", HtmlAttributeValueStyle.DoubleQuotes);
    private static readonly TagHelperAttribute __tagHelperAttribute_70 = new TagHelperAttribute("value", (object) "Mid-Atlantic Standard Time", HtmlAttributeValueStyle.DoubleQuotes);
    private static readonly TagHelperAttribute __tagHelperAttribute_71 = new TagHelperAttribute("value", (object) "E. South America Standard Time", HtmlAttributeValueStyle.DoubleQuotes);
    private static readonly TagHelperAttribute __tagHelperAttribute_72 = new TagHelperAttribute("value", (object) "Argentina Standard Time", HtmlAttributeValueStyle.DoubleQuotes);
    private static readonly TagHelperAttribute __tagHelperAttribute_73 = new TagHelperAttribute("value", (object) "SA Eastern Standard Time", HtmlAttributeValueStyle.DoubleQuotes);
    private static readonly TagHelperAttribute __tagHelperAttribute_74 = new TagHelperAttribute("value", (object) "Greenland Standard Time", HtmlAttributeValueStyle.DoubleQuotes);
    private static readonly TagHelperAttribute __tagHelperAttribute_75 = new TagHelperAttribute("value", (object) "Montevideo Standard Time", HtmlAttributeValueStyle.DoubleQuotes);
    private static readonly TagHelperAttribute __tagHelperAttribute_76 = new TagHelperAttribute("value", (object) "Newfoundland Standard Time", HtmlAttributeValueStyle.DoubleQuotes);
    private static readonly TagHelperAttribute __tagHelperAttribute_77 = new TagHelperAttribute("value", (object) "Atlantic Standard Time", HtmlAttributeValueStyle.DoubleQuotes);
    private static readonly TagHelperAttribute __tagHelperAttribute_78 = new TagHelperAttribute("value", (object) "SA Western Standard Time", HtmlAttributeValueStyle.DoubleQuotes);
    private static readonly TagHelperAttribute __tagHelperAttribute_79 = new TagHelperAttribute("value", (object) "Central Brazilian Standard Time", HtmlAttributeValueStyle.DoubleQuotes);
    private static readonly TagHelperAttribute __tagHelperAttribute_80 = new TagHelperAttribute("value", (object) "Pacific SA Standard Time", HtmlAttributeValueStyle.DoubleQuotes);
    private static readonly TagHelperAttribute __tagHelperAttribute_81 = new TagHelperAttribute("value", (object) "Venezuela Standard Time", HtmlAttributeValueStyle.DoubleQuotes);
    private static readonly TagHelperAttribute __tagHelperAttribute_82 = new TagHelperAttribute("value", (object) "SA Pacific Standard Time", HtmlAttributeValueStyle.DoubleQuotes);
    private static readonly TagHelperAttribute __tagHelperAttribute_83 = new TagHelperAttribute("value", (object) "Eastern Standard Time", HtmlAttributeValueStyle.DoubleQuotes);
    private static readonly TagHelperAttribute __tagHelperAttribute_84 = new TagHelperAttribute("value", (object) "US Eastern Standard Time", HtmlAttributeValueStyle.DoubleQuotes);
    private static readonly TagHelperAttribute __tagHelperAttribute_85 = new TagHelperAttribute("value", (object) "Central America Standard Time", HtmlAttributeValueStyle.DoubleQuotes);
    private static readonly TagHelperAttribute __tagHelperAttribute_86 = new TagHelperAttribute("value", (object) "Central Standard Time", HtmlAttributeValueStyle.DoubleQuotes);
    private static readonly TagHelperAttribute __tagHelperAttribute_87 = new TagHelperAttribute("value", (object) "Central Standard Time (Mexico)", HtmlAttributeValueStyle.DoubleQuotes);
    private static readonly TagHelperAttribute __tagHelperAttribute_88 = new TagHelperAttribute("value", (object) "Canada Central Standard Time", HtmlAttributeValueStyle.DoubleQuotes);
    private static readonly TagHelperAttribute __tagHelperAttribute_89 = new TagHelperAttribute("value", (object) "US Mountain Standard Time", HtmlAttributeValueStyle.DoubleQuotes);
    private static readonly TagHelperAttribute __tagHelperAttribute_90 = new TagHelperAttribute("value", (object) "Mountain Standard Time (Mexico)", HtmlAttributeValueStyle.DoubleQuotes);
    private static readonly TagHelperAttribute __tagHelperAttribute_91 = new TagHelperAttribute("value", (object) "Mountain Standard Time", HtmlAttributeValueStyle.DoubleQuotes);
    private static readonly TagHelperAttribute __tagHelperAttribute_92 = new TagHelperAttribute("value", (object) "Pacific Standard Time", HtmlAttributeValueStyle.DoubleQuotes);
    private static readonly TagHelperAttribute __tagHelperAttribute_93 = new TagHelperAttribute("value", (object) "Pacific Standard Time (Mexico)", HtmlAttributeValueStyle.DoubleQuotes);
    private static readonly TagHelperAttribute __tagHelperAttribute_94 = new TagHelperAttribute("value", (object) "Alaskan Standard Time", HtmlAttributeValueStyle.DoubleQuotes);
    private static readonly TagHelperAttribute __tagHelperAttribute_95 = new TagHelperAttribute("value", (object) "Hawaiian Standard Time", HtmlAttributeValueStyle.DoubleQuotes);
    private static readonly TagHelperAttribute __tagHelperAttribute_96 = new TagHelperAttribute("value", (object) "Samoa Standard Time", HtmlAttributeValueStyle.DoubleQuotes);
    private static readonly TagHelperAttribute __tagHelperAttribute_97 = new TagHelperAttribute("value", (object) "Dateline Standard Time", HtmlAttributeValueStyle.DoubleQuotes);
    private static readonly TagHelperAttribute __tagHelperAttribute_98 = new TagHelperAttribute("style", (object) new HtmlString("display:none"), HtmlAttributeValueStyle.DoubleQuotes);
    private static readonly TagHelperAttribute __tagHelperAttribute_99 = new TagHelperAttribute("rows", (object) new HtmlString("3"), HtmlAttributeValueStyle.DoubleQuotes);
    private static readonly TagHelperAttribute __tagHelperAttribute_100 = new TagHelperAttribute("onchange", (object) new HtmlString("ChangeGoogleMapLocal(this);"), HtmlAttributeValueStyle.SingleQuotes);
    private static readonly TagHelperAttribute __tagHelperAttribute_101 = new TagHelperAttribute("placeholder", (object) new HtmlString("Example: Name:Username, Phone:TelephoneNumber, Email:EmailAddress"), HtmlAttributeValueStyle.DoubleQuotes);
    private static readonly TagHelperAttribute __tagHelperAttribute_102 = new TagHelperAttribute("asp-action", (object) "Delete", HtmlAttributeValueStyle.DoubleQuotes);
    private static readonly TagHelperAttribute __tagHelperAttribute_103 = new TagHelperAttribute("class", (object) new HtmlString("btn btn-danger"), HtmlAttributeValueStyle.DoubleQuotes);
    private static readonly TagHelperAttribute __tagHelperAttribute_104 = new TagHelperAttribute("asp-action", (object) "Edit", HtmlAttributeValueStyle.DoubleQuotes);
    private static readonly TagHelperAttribute __tagHelperAttribute_105 = new TagHelperAttribute("id", (object) new HtmlString("mainform"), HtmlAttributeValueStyle.DoubleQuotes);
    private static readonly TagHelperAttribute __tagHelperAttribute_106 = new TagHelperAttribute("value", (object) "0", HtmlAttributeValueStyle.DoubleQuotes);
    private static readonly TagHelperAttribute __tagHelperAttribute_107 = new TagHelperAttribute("style", (object) new HtmlString("background-color:lightgray"), HtmlAttributeValueStyle.DoubleQuotes);
    private static readonly TagHelperAttribute __tagHelperAttribute_108 = new TagHelperAttribute("id", (object) new HtmlString("countrylist"), HtmlAttributeValueStyle.DoubleQuotes);
    private static readonly TagHelperAttribute __tagHelperAttribute_109 = new TagHelperAttribute("style", (object) new HtmlString("margin-top:8px;width:225px"), HtmlAttributeValueStyle.DoubleQuotes);
    private string __tagHelperStringValueBuffer;
    private TagHelperExecutionContext __tagHelperExecutionContext;
    private TagHelperRunner __tagHelperRunner = new TagHelperRunner();
    private TagHelperScopeManager __backed__tagHelperScopeManager;
    private FormTagHelper __Microsoft_AspNetCore_Mvc_TagHelpers_FormTagHelper;
    private RenderAtEndOfFormTagHelper __Microsoft_AspNetCore_Mvc_TagHelpers_RenderAtEndOfFormTagHelper;
    private ValidationSummaryTagHelper __Microsoft_AspNetCore_Mvc_TagHelpers_ValidationSummaryTagHelper;
    private InputTagHelper __Microsoft_AspNetCore_Mvc_TagHelpers_InputTagHelper;
    private LabelTagHelper __Microsoft_AspNetCore_Mvc_TagHelpers_LabelTagHelper;
    private ValidationMessageTagHelper __Microsoft_AspNetCore_Mvc_TagHelpers_ValidationMessageTagHelper;
    private TextAreaTagHelper __Microsoft_AspNetCore_Mvc_TagHelpers_TextAreaTagHelper;
    private SelectTagHelper __Microsoft_AspNetCore_Mvc_TagHelpers_SelectTagHelper;
    private OptionTagHelper __Microsoft_AspNetCore_Mvc_TagHelpers_OptionTagHelper;
    private AnchorTagHelper __Microsoft_AspNetCore_Mvc_TagHelpers_AnchorTagHelper;
    private static readonly Expression<Func<trafficjob, int>> __h0 = (Expression<Func<trafficjob, int>>) (__model => __model.id);
    private static readonly Expression<Func<trafficjob, int>> __h1 = (Expression<Func<trafficjob, int>>) (__model => __model.group_id);
    private static readonly Expression<Func<trafficjob, string>> __h2 = (Expression<Func<trafficjob, string>>) (__model => __model.job_name);
    private static readonly Expression<Func<trafficjob, string>> __h3 = (Expression<Func<trafficjob, string>>) (__model => __model.job_name);
    private static readonly Expression<Func<trafficjob, string>> __h4 = (Expression<Func<trafficjob, string>>) (__model => __model.job_name);
    private static readonly Expression<Func<trafficjob, string>> __h5 = (Expression<Func<trafficjob, string>>) (__model => __model.target_url);
    private static readonly Expression<Func<trafficjob, string>> __h6 = (Expression<Func<trafficjob, string>>) (__model => __model.target_url);
    private static readonly Expression<Func<trafficjob, string>> __h7 = (Expression<Func<trafficjob, string>>) (__model => __model.target_url);
    private static readonly Expression<Func<trafficjob, bool>> __h8 = (Expression<Func<trafficjob, bool>>) (__model => __model.wild_card);
    private static readonly Expression<Func<trafficjob, bool>> __h9 = (Expression<Func<trafficjob, bool>>) (__model => __model.wild_card);
    private static readonly Expression<Func<trafficjob, string>> __h10 = (Expression<Func<trafficjob, string>>) (__model => __model.exttarget_url);
    private static readonly Expression<Func<trafficjob, string>> __h11 = (Expression<Func<trafficjob, string>>) (__model => __model.exttarget_url);
    private static readonly Expression<Func<trafficjob, string>> __h12 = (Expression<Func<trafficjob, string>>) (__model => __model.exttarget_url);
    private static readonly Expression<Func<trafficjob, string>> __h13 = (Expression<Func<trafficjob, string>>) (__model => __model.name_business);
    private static readonly Expression<Func<trafficjob, string>> __h14 = (Expression<Func<trafficjob, string>>) (__model => __model.name_business);
    private static readonly Expression<Func<trafficjob, string>> __h15 = (Expression<Func<trafficjob, string>>) (__model => __model.name_business);
    private static readonly Expression<Func<trafficjob, string>> __h16 = (Expression<Func<trafficjob, string>>) (__model => __model.search_term);
    private static readonly Expression<Func<trafficjob, string>> __h17 = (Expression<Func<trafficjob, string>>) (__model => __model.search_term);
    private static readonly Expression<Func<trafficjob, string>> __h18 = (Expression<Func<trafficjob, string>>) (__model => __model.search_term);
    private static readonly Expression<Func<trafficjob, string>> __h19 = (Expression<Func<trafficjob, string>>) (__model => __model.snippet_content);
    private static readonly Expression<Func<trafficjob, string>> __h20 = (Expression<Func<trafficjob, string>>) (__model => __model.snippet_content);
    private static readonly Expression<Func<trafficjob, string>> __h21 = (Expression<Func<trafficjob, string>>) (__model => __model.snippet_content);
    private static readonly Expression<Func<trafficjob, string>> __h22 = (Expression<Func<trafficjob, string>>) (__model => __model.location);
    private static readonly Expression<Func<trafficjob, string>> __h23 = (Expression<Func<trafficjob, string>>) (__model => __model.location);
    private static readonly Expression<Func<trafficjob, trafficjob.SEARCH_ENGINE>> __h24 = (Expression<Func<trafficjob, trafficjob.SEARCH_ENGINE>>) (__model => __model.search_engine);
    private static readonly Expression<Func<trafficjob, trafficjob.SEARCH_ENGINE>> __h25 = (Expression<Func<trafficjob, trafficjob.SEARCH_ENGINE>>) (__model => __model.search_engine);
    private static readonly Expression<Func<trafficjob, trafficjob.SEARCH_ENGINE>> __h26 = (Expression<Func<trafficjob, trafficjob.SEARCH_ENGINE>>) (__model => __model.search_engine);
    private static readonly Expression<Func<trafficjob, trafficjob.AGENT_KIND>> __h27 = (Expression<Func<trafficjob, trafficjob.AGENT_KIND>>) (__model => __model.agent_kind);
    private static readonly Expression<Func<trafficjob, trafficjob.AGENT_KIND>> __h28 = (Expression<Func<trafficjob, trafficjob.AGENT_KIND>>) (__model => __model.agent_kind);
    private static readonly Expression<Func<trafficjob, trafficjob.AGENT_KIND>> __h29 = (Expression<Func<trafficjob, trafficjob.AGENT_KIND>>) (__model => __model.agent_kind);
    private static readonly Expression<Func<trafficjob, trafficjob.AGENT_AGE>> __h30 = (Expression<Func<trafficjob, trafficjob.AGENT_AGE>>) (__model => __model.agent_age);
    private static readonly Expression<Func<trafficjob, trafficjob.AGENT_AGE>> __h31 = (Expression<Func<trafficjob, trafficjob.AGENT_AGE>>) (__model => __model.agent_age);
    private static readonly Expression<Func<trafficjob, trafficjob.AGENT_AGE>> __h32 = (Expression<Func<trafficjob, trafficjob.AGENT_AGE>>) (__model => __model.agent_age);
    private static readonly Expression<Func<trafficjob, int>> __h33 = (Expression<Func<trafficjob, int>>) (__model => __model.session_count);
    private static readonly Expression<Func<trafficjob, int>> __h34 = (Expression<Func<trafficjob, int>>) (__model => __model.session_count);
    private static readonly Expression<Func<trafficjob, int>> __h35 = (Expression<Func<trafficjob, int>>) (__model => __model.session_count);
    private static readonly Expression<Func<trafficjob, bool>> __h36 = (Expression<Func<trafficjob, bool>>) (__model => __model.cookie_website);
    private static readonly Expression<Func<trafficjob, bool>> __h37 = (Expression<Func<trafficjob, bool>>) (__model => __model.cookie_website);
    private static readonly Expression<Func<trafficjob, string>> __h38 = (Expression<Func<trafficjob, string>>) (__model => __model.proxy_setting);
    private static readonly Expression<Func<trafficjob, string>> __h39 = (Expression<Func<trafficjob, string>>) (__model => __model.proxy_setting);
    private static readonly Expression<Func<trafficjob, bool>> __h40 = (Expression<Func<trafficjob, bool>>) (__model => __model.googlemaplocal);
    private static readonly Expression<Func<trafficjob, bool>> __h41 = (Expression<Func<trafficjob, bool>>) (__model => __model.googlemaplocal);
    private static readonly Expression<Func<trafficjob, string>> __h42 = (Expression<Func<trafficjob, string>>) (__model => __model.googlemaplist);
    private static readonly Expression<Func<trafficjob, string>> __h43 = (Expression<Func<trafficjob, string>>) (__model => __model.googlegeoresultselect);
    private static readonly Expression<Func<trafficjob, string>> __h44 = (Expression<Func<trafficjob, string>>) (__model => __model.journey_url);
    private static readonly Expression<Func<trafficjob, string>> __h45 = (Expression<Func<trafficjob, string>>) (__model => __model.journey_url);
    private static readonly Expression<Func<trafficjob, string>> __h46 = (Expression<Func<trafficjob, string>>) (__model => __model.form_fields);
    private static readonly Expression<Func<trafficjob, string>> __h47 = (Expression<Func<trafficjob, string>>) (__model => __model.form_fields);

    private TagHelperScopeManager __tagHelperScopeManager
    {
      get
      {
        if (this.__backed__tagHelperScopeManager == null)
          this.__backed__tagHelperScopeManager = new TagHelperScopeManager(new Action<HtmlEncoder>(((RazorPageBase) this).StartTagHelperWritingScope), new Func<TagHelperContent>(((RazorPageBase) this).EndTagHelperWritingScope));
        return this.__backed__tagHelperScopeManager;
      }
    }

    public virtual async Task ExecuteAsync()
    {
      _Views_Home_Edit_cshtml viewsHomeEditCshtml1 = this;
      viewsHomeEditCshtml1.BeginContext(34, 2, true);
      viewsHomeEditCshtml1.WriteLiteral("\r\n");
      viewsHomeEditCshtml1.EndContext();
      viewsHomeEditCshtml1.ViewData["Title"] = (object) "Edit";
      // ISSUE: explicit non-virtual call
      __nonvirtual (viewsHomeEditCshtml1.Layout) = "~/Views/Shared/_Layout.cshtml";
      viewsHomeEditCshtml1.BeginContext(123, 1165, true);
      viewsHomeEditCshtml1.WriteLiteral("\r\n<style>\r\n    /* Always set the map height explicitly to define the size of the div\r\n       * element that contains the map. */\r\n    #map {\r\n        height: 100%;\r\n    }\r\n    /* Optional: Makes the sample page fill the window. */\r\n    html, body {\r\n        height: 100%;\r\n        margin: 0;\r\n        padding: 0;\r\n    }\r\n\r\n    .controls {\r\n        background-color: #fff;\r\n        border-radius: 2px;\r\n        border: 1px solid transparent;\r\n        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);\r\n        box-sizing: border-box;\r\n        font-family: Roboto;\r\n        font-size: 15px;\r\n        font-weight: 300;\r\n        height: 29px;\r\n        margin-left: 17px;\r\n        margin-top: 10px;\r\n        outline: none;\r\n        padding: 0 11px 0 13px;\r\n        text-overflow: ellipsis;\r\n        width: 400px;\r\n    }\r\n\r\n        .controls:focus {\r\n            border-color: #4d90fe;\r\n        }\r\n\r\n    .title {\r\n        font-weight: bold;\r\n    }\r\n\r\n    #infowindow-content {\r\n        display: none;\r\n    }\r\n\r\n    #map #infowindow-conten");
      viewsHomeEditCshtml1.WriteLiteral("t {\r\n        display: inline;\r\n    }\r\n</style>\r\n\r\n<h2>Edit Traffic Job</h2>\r\n<hr />\r\n<div class=\"row\">\r\n    <div class=\"col-md-12\">\r\n        ");
      viewsHomeEditCshtml1.EndContext();
      viewsHomeEditCshtml1.BeginContext(1288, 31612, false);
      // ISSUE: reference to a compiler-generated method
      viewsHomeEditCshtml1.__tagHelperExecutionContext = viewsHomeEditCshtml1.__tagHelperScopeManager.Begin("form", TagMode.StartTagAndEndTag, "90ea451a677f4835bc89cfae6b35fd2e", new Func<Task>(viewsHomeEditCshtml1.\u003CExecuteAsync\u003Eb__126_0));
      viewsHomeEditCshtml1.__Microsoft_AspNetCore_Mvc_TagHelpers_FormTagHelper = viewsHomeEditCshtml1.CreateTagHelper<FormTagHelper>();
      viewsHomeEditCshtml1.__tagHelperExecutionContext.Add((ITagHelper) viewsHomeEditCshtml1.__Microsoft_AspNetCore_Mvc_TagHelpers_FormTagHelper);
      viewsHomeEditCshtml1.__Microsoft_AspNetCore_Mvc_TagHelpers_RenderAtEndOfFormTagHelper = viewsHomeEditCshtml1.CreateTagHelper<RenderAtEndOfFormTagHelper>();
      viewsHomeEditCshtml1.__tagHelperExecutionContext.Add((ITagHelper) viewsHomeEditCshtml1.__Microsoft_AspNetCore_Mvc_TagHelpers_RenderAtEndOfFormTagHelper);
      viewsHomeEditCshtml1.__Microsoft_AspNetCore_Mvc_TagHelpers_FormTagHelper.Action = (string) _Views_Home_Edit_cshtml.__tagHelperAttribute_104.Value;
      viewsHomeEditCshtml1.__tagHelperExecutionContext.AddTagHelperAttribute(_Views_Home_Edit_cshtml.__tagHelperAttribute_104);
      viewsHomeEditCshtml1.__tagHelperExecutionContext.AddHtmlAttribute(_Views_Home_Edit_cshtml.__tagHelperAttribute_105);
      await viewsHomeEditCshtml1.__tagHelperRunner.RunAsync(viewsHomeEditCshtml1.__tagHelperExecutionContext);
      if (!viewsHomeEditCshtml1.__tagHelperExecutionContext.Output.IsContentModified)
        await viewsHomeEditCshtml1.__tagHelperExecutionContext.SetOutputContentAsync();
      viewsHomeEditCshtml1.Write((object) viewsHomeEditCshtml1.__tagHelperExecutionContext.Output);
      viewsHomeEditCshtml1.__tagHelperExecutionContext = viewsHomeEditCshtml1.__tagHelperScopeManager.End();
      viewsHomeEditCshtml1.EndContext();
      viewsHomeEditCshtml1.BeginContext(32900, 865, true);
      viewsHomeEditCshtml1.WriteLiteral("\r\n    </div>\r\n</div>\r\n\r\n<div id=\"AddModal\" class=\"modal fade\" tabindex=\"-1\" role=\"dialog\" aria-hidden=\"true\">\r\n    <div class=\"modal-dialog\" style=\"width:768px\">\r\n        <div class=\"modal-content\">\r\n            <div class=\"modal-header\">\r\n                <button type=\"button\" class=\"close\" data-dismiss=\"modal\" aria-label=\"Close\">\r\n                    <span aria-hidden=\"true\">×</span>\r\n                </button>\r\n                <h4 class=\"modal-title\">Select Location</h4>\r\n            </div>\r\n            <div class=\"modal-body\">\r\n                <div class=\"form-horizontal form-label-left\">\r\n                    <div class=\"form-group\">\r\n                        <label class=\"control-label col-md-2 col-sm-3 col-xs-12\" style=\"padding-right:0\">Country : </label>\r\n                        <div class=\"col-md-4 col-sm-8 col-xs-12\">\r\n                            ");
      viewsHomeEditCshtml1.EndContext();
      viewsHomeEditCshtml1.BeginContext(33765, 272, false);
      // ISSUE: reference to a compiler-generated method
      viewsHomeEditCshtml1.__tagHelperExecutionContext = viewsHomeEditCshtml1.__tagHelperScopeManager.Begin("select", TagMode.StartTagAndEndTag, "b9e22670eed94fd5ae88715314e52b55", new Func<Task>(viewsHomeEditCshtml1.\u003CExecuteAsync\u003Eb__126_141));
      viewsHomeEditCshtml1.__Microsoft_AspNetCore_Mvc_TagHelpers_SelectTagHelper = viewsHomeEditCshtml1.CreateTagHelper<SelectTagHelper>();
      viewsHomeEditCshtml1.__tagHelperExecutionContext.Add((ITagHelper) viewsHomeEditCshtml1.__Microsoft_AspNetCore_Mvc_TagHelpers_SelectTagHelper);
      viewsHomeEditCshtml1.__tagHelperExecutionContext.AddHtmlAttribute(_Views_Home_Edit_cshtml.__tagHelperAttribute_108);
      SelectTagHelper helpersSelectTagHelper = viewsHomeEditCshtml1.__Microsoft_AspNetCore_Mvc_TagHelpers_SelectTagHelper;
      // ISSUE: reference to a compiler-generated field
      if (_Views_Home_Edit_cshtml.\u003C\u003Eo__126.\u003C\u003Ep__14 == null)
      {
        // ISSUE: reference to a compiler-generated field
        _Views_Home_Edit_cshtml.\u003C\u003Eo__126.\u003C\u003Ep__14 = CallSite<Func<CallSite, Type, object, string, string, SelectList>>.Create(Binder.InvokeConstructor(CSharpBinderFlags.None, typeof (_Views_Home_Edit_cshtml), (IEnumerable<CSharpArgumentInfo>) new CSharpArgumentInfo[4]
        {
          CSharpArgumentInfo.Create(CSharpArgumentInfoFlags.UseCompileTimeType | CSharpArgumentInfoFlags.IsStaticType, (string) null),
          CSharpArgumentInfo.Create(CSharpArgumentInfoFlags.None, (string) null),
          CSharpArgumentInfo.Create(CSharpArgumentInfoFlags.UseCompileTimeType | CSharpArgumentInfoFlags.Constant, (string) null),
          CSharpArgumentInfo.Create(CSharpArgumentInfoFlags.UseCompileTimeType | CSharpArgumentInfoFlags.Constant, (string) null)
        }));
      }
      // ISSUE: reference to a compiler-generated field
      Func<CallSite, Type, object, string, string, SelectList> target1 = _Views_Home_Edit_cshtml.\u003C\u003Eo__126.\u003C\u003Ep__14.Target;
      // ISSUE: reference to a compiler-generated field
      CallSite<Func<CallSite, Type, object, string, string, SelectList>> p14 = _Views_Home_Edit_cshtml.\u003C\u003Eo__126.\u003C\u003Ep__14;
      Type type = typeof (SelectList);
      // ISSUE: reference to a compiler-generated field
      if (_Views_Home_Edit_cshtml.\u003C\u003Eo__126.\u003C\u003Ep__13 == null)
      {
        // ISSUE: reference to a compiler-generated field
        _Views_Home_Edit_cshtml.\u003C\u003Eo__126.\u003C\u003Ep__13 = CallSite<Func<CallSite, object, object>>.Create(Binder.GetMember(CSharpBinderFlags.None, "List", typeof (_Views_Home_Edit_cshtml), (IEnumerable<CSharpArgumentInfo>) new CSharpArgumentInfo[1]
        {
          CSharpArgumentInfo.Create(CSharpArgumentInfoFlags.None, (string) null)
        }));
      }
      // ISSUE: reference to a compiler-generated field
      // ISSUE: reference to a compiler-generated field
      object obj1 = _Views_Home_Edit_cshtml.\u003C\u003Eo__126.\u003C\u003Ep__13.Target((CallSite) _Views_Home_Edit_cshtml.\u003C\u003Eo__126.\u003C\u003Ep__13, viewsHomeEditCshtml1.ViewBag);
      SelectList selectList = target1((CallSite) p14, type, obj1, "id", "label");
      helpersSelectTagHelper.Items = (IEnumerable<SelectListItem>) selectList;
      viewsHomeEditCshtml1.__tagHelperExecutionContext.AddTagHelperAttribute("asp-items", (object) viewsHomeEditCshtml1.__Microsoft_AspNetCore_Mvc_TagHelpers_SelectTagHelper.Items, HtmlAttributeValueStyle.DoubleQuotes);
      viewsHomeEditCshtml1.__tagHelperExecutionContext.AddHtmlAttribute(_Views_Home_Edit_cshtml.__tagHelperAttribute_109);
      await viewsHomeEditCshtml1.__tagHelperRunner.RunAsync(viewsHomeEditCshtml1.__tagHelperExecutionContext);
      if (!viewsHomeEditCshtml1.__tagHelperExecutionContext.Output.IsContentModified)
        await viewsHomeEditCshtml1.__tagHelperExecutionContext.SetOutputContentAsync();
      viewsHomeEditCshtml1.Write((object) viewsHomeEditCshtml1.__tagHelperExecutionContext.Output);
      viewsHomeEditCshtml1.__tagHelperExecutionContext = viewsHomeEditCshtml1.__tagHelperScopeManager.End();
      viewsHomeEditCshtml1.EndContext();
      viewsHomeEditCshtml1.BeginContext(34037, 2247, true);
      viewsHomeEditCshtml1.WriteLiteral("\r\n                        </div>\r\n                    </div>\r\n                    <div class=\"form-group\">\r\n                        <label class=\"control-label col-md-2 col-sm-3 col-xs-12\" style=\"padding-right:0\">State : </label>\r\n                        <div class=\"col-md-4 col-sm-8 col-xs-12\">\r\n                            <select multiple=\"multiple\" size=\"7\" id=\"statelist\" style=\"width:100%\"></select>\r\n                        </div>\r\n                    </div>\r\n                    <div class=\"form-group\">\r\n                        <label class=\"control-label col-md-2 col-sm-3 col-xs-12\" style=\"padding-right:0\">City : </label>\r\n                        <div class=\"col-md-4 col-sm-8 col-xs-12\">\r\n                            <select multiple=\"multiple\" size=\"7\" id=\"citylist\" style=\"width:100%\"></select>\r\n                        </div>\r\n                        <div class=\"col-md-1 col-sm-8 col-xs-12\" style=\"text-align:center\">\r\n                            <button type=\"button\" class=\"btn btn-default\" style=\"margin");
      viewsHomeEditCshtml1.WriteLiteral(": 15px 0;\" onclick=\"insertMission()\">=></button>\r\n                            <br />\r\n                            <button type=\"button\" class=\"btn btn-default\" onclick=\"RemoveMission()\"><=</button>\r\n                        </div>\r\n                        <div class=\"col-md-4 col-sm-8 col-xs-12\">\r\n                            <select multiple=\"multiple\" size=\"7\" id=\"loclist\" style=\"width:100%\"></select>\r\n                        </div>\r\n                    </div>\r\n                    <div class=\"form-group\">\r\n                        <label class=\"control-label col-md-2 col-sm-3 col-xs-12\" style=\"padding-right:0\">Neighborhood : </label>\r\n                        <div class=\"col-md-4 col-sm-8 col-xs-12\">\r\n                            <select multiple=\"multiple\" size=\"7\" id=\"neighbortlist\" style=\"width:100%\"></select>\r\n                        </div>\r\n                    </div>\r\n                </div>\r\n            </div>\r\n            <div class=\"modal-footer\">\r\n                <button type=\"button\" class=\"btn btn-defa");
      viewsHomeEditCshtml1.WriteLiteral("ult\" onclick=\"btnAddLocation_Click()\" data-dismiss=\"modal\">OK</button>\r\n            </div>\r\n        </div>\r\n    </div>\r\n</div>\r\n\r\n<script>\r\n    var marker;\r\n    var map;\r\n    var type = 0;\r\n    if ('");
      viewsHomeEditCshtml1.EndContext();
      viewsHomeEditCshtml1.BeginContext(36285, 19, false);
      viewsHomeEditCshtml1.Write(viewsHomeEditCshtml1.Model.proxy_setting);
      viewsHomeEditCshtml1.EndContext();
      viewsHomeEditCshtml1.BeginContext(36304, 12, true);
      viewsHomeEditCshtml1.WriteLiteral("' == \"\" || '");
      viewsHomeEditCshtml1.EndContext();
      viewsHomeEditCshtml1.BeginContext(36317, 19, false);
      viewsHomeEditCshtml1.Write(viewsHomeEditCshtml1.Model.proxy_setting);
      viewsHomeEditCshtml1.EndContext();
      viewsHomeEditCshtml1.BeginContext(36336, 82, true);
      viewsHomeEditCshtml1.WriteLiteral("' == null)\r\n    {\r\n        $(\"input[value='Normal']\").click();\r\n    }\r\n\r\n    if ('");
      viewsHomeEditCshtml1.EndContext();
      viewsHomeEditCshtml1.BeginContext(36419, 19, false);
      viewsHomeEditCshtml1.Write(viewsHomeEditCshtml1.Model.proxy_setting);
      viewsHomeEditCshtml1.EndContext();
      viewsHomeEditCshtml1.BeginContext(36438, 13, true);
      viewsHomeEditCshtml1.WriteLiteral("' != \"\" && !'");
      viewsHomeEditCshtml1.EndContext();
      viewsHomeEditCshtml1.BeginContext(36452, 19, false);
      viewsHomeEditCshtml1.Write(viewsHomeEditCshtml1.Model.proxy_setting);
      viewsHomeEditCshtml1.EndContext();
      viewsHomeEditCshtml1.BeginContext(36471, 129, true);
      viewsHomeEditCshtml1.WriteLiteral("'.includes(\",\"))\r\n    {\r\n        $(\"input[value='Direct Proxy']\").click();\r\n        $(\"#proxy_setting\").show();\r\n    }\r\n    if ('");
      viewsHomeEditCshtml1.EndContext();
      viewsHomeEditCshtml1.BeginContext(36601, 19, false);
      viewsHomeEditCshtml1.Write(viewsHomeEditCshtml1.Model.proxy_setting);
      viewsHomeEditCshtml1.EndContext();
      viewsHomeEditCshtml1.BeginContext(36620, 12, true);
      viewsHomeEditCshtml1.WriteLiteral("' != \"\" && '");
      viewsHomeEditCshtml1.EndContext();
      viewsHomeEditCshtml1.BeginContext(36633, 19, false);
      viewsHomeEditCshtml1.Write(viewsHomeEditCshtml1.Model.proxy_setting);
      viewsHomeEditCshtml1.EndContext();
      viewsHomeEditCshtml1.BeginContext(36652, 677, true);
      viewsHomeEditCshtml1.WriteLiteral("'.includes(\",\"))\r\n    {\r\n        $(\"input[value='Select Location']\").click();\r\n        $(\"#proxy_setting\").show();\r\n    }\r\n    function btnAddLocation_Click() {\r\n        //var type = 0;\r\n        var ids=\"\";\r\n        if ($(\"#countrylist\").val() == 0) {\r\n            alert(\"Select the Country !\");\r\n            $(\"#selLoc\").attr(\"checked\", false);\r\n            $(\"#selLoc\").val(false);\r\n            return;\r\n        }\r\n        ids += $(\"#countrylist\").val();\r\n        $(\"#location\").val(\"\");\r\n        $(\"#loclist option\").each(function () {\r\n            // Add $(this).val() to your list\r\n            ids += \",\" +  $(this).val()\r\n        });\r\n        $.ajax({\r\n            url: '");
      viewsHomeEditCshtml1.EndContext();
      viewsHomeEditCshtml1.BeginContext(37330, 35, false);
      viewsHomeEditCshtml1.Write(UrlHelperExtensions.Action(viewsHomeEditCshtml1.Url, "CheckLocation", "Home"));
      viewsHomeEditCshtml1.EndContext();
      viewsHomeEditCshtml1.BeginContext(37365, 770, true);
      viewsHomeEditCshtml1.WriteLiteral("',\r\n            contentType: 'application/x-www-form-urlencoded',\r\n            type: 'POST',\r\n            data: { type: type, ids: ids},\r\n            success: function (data) {\r\n                $(\"#location\").val(data);\r\n                return;\r\n            },\r\n            error: function (XMLHttpRequest, textStatus, errorThrown) {\r\n                alert(\"server connect error ! \");\r\n                return;\r\n            }\r\n        });\r\n\r\n    }\r\n    \r\n    function showModel() {\r\n        $(\"#AddModal\").modal();\r\n    }\r\n\r\n    $(\"#countrylist\").bind(\"change\", function () {\r\n        $(\"#statelist\").empty();\r\n        $(\"#citylist\").empty();\r\n        $(\"#neighbortlist\").empty();\r\n        if ($(\"#countrylist\").val() != 0) {\r\n            $.ajax({\r\n                url: '");
      viewsHomeEditCshtml1.EndContext();
      viewsHomeEditCshtml1.BeginContext(38136, 33, false);
      viewsHomeEditCshtml1.Write(UrlHelperExtensions.Action(viewsHomeEditCshtml1.Url, "changestate", "Home"));
      viewsHomeEditCshtml1.EndContext();
      viewsHomeEditCshtml1.BeginContext(38169, 1738, true);
      viewsHomeEditCshtml1.WriteLiteral("',\r\n                contentType: 'application/x-www-form-urlencoded',\r\n                dataType: 'json',\r\n                type: 'POST',\r\n                data: { id: $(\"#countrylist\").val() },\r\n                success: function (data) {\r\n                    if (data == \"}\") {\r\n                        return;\r\n                    }\r\n                    data = jQuery.parseJSON(data);\r\n                    var strHtml = \"\";\r\n                    for (var j = 0; j < data[\"state\"].length; j++) {\r\n                        strHtml += \"<option value=\\\"\" + data[\"state\"][j].id + \"\\\">\" + data[\"state\"][j].name + \"</option>\";\r\n                    }\r\n                    $(\"#statelist\").html(strHtml);\r\n                    strHtml = \"\";\r\n                    for (var j = 0; j < data[\"city\"].length; j++) {\r\n                        strHtml += \"<option value=\\\"\" + data[\"city\"][j].id + \"\\\">\" + data[\"city\"][j].name + \"</option>\";\r\n                    }\r\n                    $(\"#citylist\").html(strHtml);\r\n                    strHtml = \"");
      viewsHomeEditCshtml1.WriteLiteral("\";\r\n                    for (var j = 0; j < data[\"neighbor\"].length; j++) {\r\n                        strHtml += \"<option value=\\\"\" + data[\"neighbor\"][j].id + \"\\\">\" + data[\"neighbor\"][j].name + \"</option>\";\r\n                    }\r\n                    $(\"#neighborhoodlist\").html(strHtml);\r\n                    return;\r\n                },\r\n                error: function (XMLHttpRequest, textStatus, errorThrown) {\r\n                    alert(\"server connect error ! \");\r\n                    return;\r\n                }\r\n            });\r\n        }\r\n    });\r\n    $(\"#statelist\").bind(\"change\", function () {\r\n\r\n        $(\"#citylist\").empty();\r\n        $(\"#neighbortlist\").empty();\r\n        $.ajax({\r\n            url: '");
      viewsHomeEditCshtml1.EndContext();
      viewsHomeEditCshtml1.BeginContext(39908, 33, false);
      viewsHomeEditCshtml1.Write(UrlHelperExtensions.Action(viewsHomeEditCshtml1.Url, "changeCity1", "Home"));
      viewsHomeEditCshtml1.EndContext();
      viewsHomeEditCshtml1.BeginContext(39941, 966, true);
      viewsHomeEditCshtml1.WriteLiteral("',\r\n            contentType: 'application/x-www-form-urlencoded',\r\n            type: 'POST',\r\n            data: { ids: $(\"#statelist\").val() },\r\n            success: function (data) {\r\n                if (data == \"{\\\"city\\\":]}\") {\r\n                    return;\r\n                }\r\n                data = jQuery.parseJSON(data);\r\n                var strHtml = \"\";\r\n                for (var j = 0; j < data[\"city\"].length; j++) {\r\n                    strHtml += \"<option value=\\\"\" + data[\"city\"][j].id + \"\\\">\" + data[\"city\"][j].name + \"</option>\";\r\n                }\r\n                $(\"#citylist\").html(strHtml);\r\n                return;\r\n            },\r\n            error: function (XMLHttpRequest, textStatus, errorThrown) {\r\n                alert(\"server connect error ! \");\r\n                return;\r\n            }\r\n        });\r\n\r\n    });\r\n    $(\"#citylist\").bind(\"change\", function () {\r\n\r\n        $(\"#neighbortlist\").empty();\r\n        $.ajax({\r\n            url: '");
      viewsHomeEditCshtml1.EndContext();
      viewsHomeEditCshtml1.BeginContext(40908, 41, false);
      viewsHomeEditCshtml1.Write(UrlHelperExtensions.Action(viewsHomeEditCshtml1.Url, "changeNeighborhood1", "Home"));
      viewsHomeEditCshtml1.EndContext();
      viewsHomeEditCshtml1.BeginContext(40949, 11151, true);
      viewsHomeEditCshtml1.WriteLiteral("',\r\n            contentType: 'application/x-www-form-urlencoded',\r\n            type: 'POST',\r\n            data: { ids: $(\"#citylist\").val() },\r\n            success: function (data) {\r\n                if (data == \"}\") {\r\n                    return;\r\n                }\r\n                var strHtml = \"\";\r\n                data = jQuery.parseJSON(data);\r\n                for (var j = 0; j < data[\"neighbor\"].length; j++) {\r\n                    strHtml += \"<option value=\\\"\" + data[\"neighbor\"][j].id + \"\\\">\" + data[\"neighbor\"][j].name + \"</option>\";\r\n                }\r\n                $(\"#neighbortlist\").html(strHtml);\r\n                return;\r\n            },\r\n            error: function (XMLHttpRequest, textStatus, errorThrown) {\r\n                alert(\"server connect error ! \");\r\n                return;\r\n            }\r\n        });\r\n    });\r\n    function insertMission() {\r\n\r\n        if ($(\"#neighbortlist\").val() != null && $(\"#neighbortlist\").val()!=0) {\r\n            if (type != 3) {\r\n                $(\"#loclist\").html");
      viewsHomeEditCshtml1.WriteLiteral("(\"\");\r\n            }\r\n            $('#neighbortlist :selected').each(function (i, selected) {\r\n                var value = $(selected).val();\r\n                var text = $(selected).text();\r\n                $(\"#loclist\").append('<option value=\"' + value + '\">' + text + '</option>');\r\n                type = 3;\r\n            });\r\n        }\r\n        else if ($(\"#citylist\").val() != null && $(\"#citylist\").val() != 0) {\r\n            if (type != 2) {\r\n                $(\"#loclist\").html(\"\");\r\n            }\r\n            $('#citylist :selected').each(function (i, selected) {\r\n                var value = $(selected).val();\r\n                var text = $(selected).text();\r\n                $(\"#loclist\").append('<option value=\"' + value + '\">' + text + '</option>');\r\n            });\r\n            type = 2;\r\n        }\r\n        //else if ($(\"#statelist\").val() != null && $(\"#statelist\").val() != 0) {\r\n        //    if (type != 1) {\r\n        //        $(\"#loclist\").html(\"\");\r\n        //    }\r\n        //    $('#statelist :select");
      viewsHomeEditCshtml1.WriteLiteral("ed').each(function (i, selected) {\r\n        //        var value = $(selected).val();\r\n        //        var text = $(selected).text();\r\n        //        $(\"#loclist\").append('<option value=\"' + value + '\">' + text + '</option>');\r\n        //    });\r\n        //    type = 1;\r\n        //}\r\n    }\r\n    function RemoveMission() {\r\n        $(\"#loclist option:selected\").remove();\r\n    }\r\n    function myMap() {\r\n\r\n        var geoarray = $(\"input[name=googlemaplist]\").val().split(\";\");\r\n        var arraylength = geoarray.length;\r\n        for (var i = 0; i < arraylength; i++) {\r\n            if (geoarray[i].trim() ==\"\") {\r\n                continue;\r\n            }\r\n\r\n            var latlngpair = geoarray[i].split(\",\");\r\n            var pairlength = latlngpair.length;\r\n            if (pairlength == 2) {\r\n\r\n                var requrl = \"https://maps.googleapis.com/maps/api/geocode/json?latlng=\" + latlngpair[0] + \",\" + latlngpair[1] + \"&key=AIzaSyAOsvabsRTPfzBBZ4urpGojRr1f5X-zPoU\";\r\n                $.getJSON(requrl, functio");
      viewsHomeEditCshtml1.WriteLiteral("n (result) {\r\n                    if (result.status == \"OK\") {\r\n                        result.results.forEach(function (obj) {\r\n                            if (obj.types.length == 1 && obj.types[0] == \"premise\") {\r\n\r\n                                $(\"input[name=googlemaplat]\").val(obj.geometry.location.lat);\r\n                                $(\"input[name=googlemaplng]\").val(obj.geometry.location.lng);\r\n                                var uluru = { lat: Number(obj.geometry.location.lat), lng: Number(obj.geometry.location.lng) };\r\n                                placeMarker(uluru, map);\r\n\r\n                                var latlng = obj.geometry.location.lat + \",\" + obj.geometry.location.lng;\r\n                                $(\"select[name=googlegeoresultselect]\").append($('<option>', { value: latlng, text: obj.formatted_address }));\r\n                            }\r\n                        });\r\n                    }\r\n                 });\r\n            }\r\n        }\r\n\r\n\r\n\r\n        var uluru = { lat: Number($(\"in");
      viewsHomeEditCshtml1.WriteLiteral("put[name=googlemaplat]\").val()), lng: Number($(\"input[name=googlemaplng]\").val()) };\r\n\r\n        var mapProp = {\r\n            center: uluru, zoom: 5,\r\n        };\r\n\r\n        map = new google.maps.Map(document.getElementById(\"googleMap\"), mapProp);\r\n\r\n\r\n\r\n        var input = document.getElementById('pac-input');\r\n\r\n        var autocomplete = new google.maps.places.Autocomplete(input);\r\n        autocomplete.bindTo('bounds', map);\r\n        autocomplete.setFields(['place_id', 'geometry', 'name']);\r\n        map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);\r\n\r\n\r\n\r\n        autocomplete.addListener('place_changed', function () {\r\n\r\n            var place = autocomplete.getPlace();\r\n\r\n            if (!place.geometry) {\r\n                return;\r\n            }\r\n\r\n            if (place.geometry.viewport) {\r\n                map.fitBounds(place.geometry.viewport);\r\n            } else {\r\n                map.setCenter(place.geometry.location);\r\n                map.setZoom(17);\r\n            }\r\n        });\r\n\r\n\r\n\r\n\r\n");
      viewsHomeEditCshtml1.WriteLiteral("        map.addListener('click', function (e) {\r\n            placeMarker(e.latLng, map);\r\n            $(\"input[name=googlemaplat]\").val(e.latLng.lat());\r\n            $(\"input[name=googlemaplng]\").val(e.latLng.lng());\r\n\r\n            $(\"select[name=googlespinlist]\").empty();\r\n\r\n            var requrl = \"https://maps.googleapis.com/maps/api/geocode/json?latlng=\" + e.latLng.lat() + \",\" + e.latLng.lng() + \"&key=AIzaSyAOsvabsRTPfzBBZ4urpGojRr1f5X-zPoU\";\r\n            $.getJSON(requrl, function (result) {\r\n                if (result.status == \"OK\") {\r\n                    result.results.forEach(function (obj) {\r\n                        var latlng = obj.geometry.location.lat + \",\" + obj.geometry.location.lng;\r\n                        $(\"select[name=googlespinlist]\").append($('<option>', { value: latlng, text: obj.formatted_address }));\r\n                    });\r\n                }\r\n            });\r\n\r\n        });\r\n    }\r\n\r\n\r\n    function SetGeoLocation() {\r\n\r\n        var googlemapliststr = \"\";\r\n        $(\"input[name=googl");
      viewsHomeEditCshtml1.WriteLiteral("emaplist]\").val(googlemapliststr);\r\n        var googlegeoresultselect = \"\";\r\n        $(\"input[name=googlegeoresultselect]\").val(googlegeoresultselect);\r\n        $('#googlegeoresultselect > option').each(function () {\r\n            googlemapliststr += $(this).val() + \";\";\r\n            googlegeoresultselect += $(this).text() + \";\";\r\n        });\r\n        $(\"input[name=googlemaplist]\").val(googlemapliststr);\r\n        $(\"input[name=googlegeoresultselect]\").val(googlegeoresultselect);\r\n        return true;\r\n    }\r\n\r\n    function placeMarker(position, map) {\r\n        if (marker) {\r\n            marker.setPosition(position);\r\n        } else {\r\n            marker = new google.maps.Marker({\r\n                position: position,\r\n                map: map\r\n            });\r\n        }\r\n        map.panTo(position);\r\n    }\r\n\r\n    function ChangeGoogleMapLocal() {\r\n        var a = $(\"input[name='googlemaplocal']\").is(':checked');\r\n        if (a == true) {\r\n            $(\"div[id='googleMap']\").show();\r\n            $(\"input[id='go");
      viewsHomeEditCshtml1.WriteLiteral("oglemaplat']\").show();\r\n            $(\"input[id='googlemaplng']\").show();\r\n            $(\"select[id='googlegeoresultselect']\").show();\r\n            $(\"textarea[id='googlemapcitylist']\").show();\r\n            $(\"input[id='addgooglemapcitylist']\").show();\r\n            $(\"input[id='georesultremoveselected']\").show();\r\n            $(\"input[id='georesultremoveall']\").show();\r\n            $(\"input[id='addgooglespinlist']\").show();\r\n            $(\"select[id='googlespinlist']\").show();\r\n            $(\"label[id='labeladdbycity']\").show();\r\n            $(\"label[id='labeladdbyspin']\").show();\r\n        }\r\n        else {\r\n            $(\"div[id='googleMap']\").hide();\r\n            $(\"input[id='googlemaplat']\").hide();\r\n            $(\"input[id='googlemaplng']\").hide();\r\n            $(\"select[id='googlegeoresultselect']\").hide();\r\n            $(\"textarea[id='googlemapcitylist']\").hide();\r\n            $(\"input[id='addgooglemapcitylist']\").hide();\r\n            $(\"input[id='georesultremoveselected']\").hide();\r\n            $(\"inpu");
      viewsHomeEditCshtml1.WriteLiteral("t[id='georesultremoveall']\").hide();\r\n            $(\"input[id='addgooglespinlist']\").hide();\r\n            $(\"select[id='googlespinlist']\").hide();\r\n            $(\"label[id='labeladdbycity']\").hide();\r\n            $(\"label[id='labeladdbyspin']\").hide();\r\n        }\r\n    }\r\n\r\n    function AddGeoCityListClicked() {\r\n        var userinputed = $(\"textarea[name=googlemapcitylist]\").val();\r\n\r\n        var userinputgeolist = userinputed.split(/\\r?\\n/)\r\n        var arraylength = userinputgeolist.length;\r\n\r\n\r\n        for (var i = 0; i < arraylength; i++) {\r\n            if (userinputgeolist[i].trim() == \"\")\r\n                continue;\r\n\r\n            var requrl = \"https://maps.googleapis.com/maps/api/geocode/json?address=\" + userinputgeolist[i].trim() + \"&key=AIzaSyAOsvabsRTPfzBBZ4urpGojRr1f5X-zPoU\";\r\n            $.getJSON(requrl, function (result) {\r\n                if (result.status == \"OK\") {\r\n                    result.results.forEach(function (obj) {\r\n                        var latlng = obj.geometry.location.lat + \",\"");
      viewsHomeEditCshtml1.WriteLiteral(" + obj.geometry.location.lng;\r\n                        $(\"select[name=googlegeoresultselect]\").append($('<option>', { value: latlng, text: obj.formatted_address }));\r\n                    });\r\n                }\r\n            });\r\n        }\r\n    }\r\n\r\n    function AddGeoSpinClicked() {\r\n        var selOption = $(\"select[name=googlespinlist] option:selected\").val();\r\n        var selLabel = $(\"select[name=googlespinlist] option:selected\").text();\r\n\r\n        var text = selOption.split(\",\");\r\n        var arraylength = text.length;\r\n        if (arraylength == 2) {\r\n            $(\"select[name=googlegeoresultselect]\").append($('<option>', { value: selOption, text: selLabel }));\r\n        }\r\n    }\r\n\r\n    function ChangeGoogleSpinList() {\r\n        var selOption = $(\"select[name=googlespinlist] option:selected\").val();\r\n\r\n        var text = selOption.split(\",\");\r\n        var arraylength = text.length;\r\n        if (arraylength == 2) {\r\n            $(\"input[name=googlemaplat]\").val(text[0]);\r\n            $(\"input[name=googlem");
      viewsHomeEditCshtml1.WriteLiteral("aplng]\").val(text[1]);\r\n\r\n            var uluru = { lat: Number(text[0]), lng: Number(text[1]) };\r\n            placeMarker(uluru, map);\r\n        }\r\n    }\r\n\r\n    function ChangeGoogleGeoResultSelect() {\r\n        var selOption = $(\"select[name=googlegeoresultselect] option:selected\").val();\r\n\r\n        var text = selOption.split(\",\");\r\n        var arraylength = text.length;\r\n        if (arraylength == 2) {\r\n            $(\"input[name=googlemaplat]\").val(text[0]);\r\n            $(\"input[name=googlemaplng]\").val(text[1]);\r\n\r\n            var uluru = { lat: Number(text[0]), lng: Number(text[1]) };\r\n            placeMarker(uluru, map);\r\n        }\r\n    }\r\n\r\n    function RemoveSelected() {\r\n        var x = document.getElementById(\"googlegeoresultselect\");\r\n        x.remove(x.selectedIndex);\r\n    }\r\n\r\n    function RemoveAll() {\r\n\r\n        $('#googlegeoresultselect').empty();\r\n    }\r\n\r\n    var countrycodelist = ");
      viewsHomeEditCshtml1.EndContext();
      viewsHomeEditCshtml1.BeginContext(52101, 49, false);
      // ISSUE: reference to a compiler-generated field
      if (_Views_Home_Edit_cshtml.\u003C\u003Eo__126.\u003C\u003Ep__18 == null)
      {
        // ISSUE: reference to a compiler-generated field
        _Views_Home_Edit_cshtml.\u003C\u003Eo__126.\u003C\u003Ep__18 = CallSite<Action<CallSite, _Views_Home_Edit_cshtml, object>>.Create(Binder.InvokeMember(CSharpBinderFlags.InvokeSimpleName | CSharpBinderFlags.ResultDiscarded, "Write", (IEnumerable<Type>) null, typeof (_Views_Home_Edit_cshtml), (IEnumerable<CSharpArgumentInfo>) new CSharpArgumentInfo[2]
        {
          CSharpArgumentInfo.Create(CSharpArgumentInfoFlags.UseCompileTimeType, (string) null),
          CSharpArgumentInfo.Create(CSharpArgumentInfoFlags.None, (string) null)
        }));
      }
      // ISSUE: reference to a compiler-generated field
      Action<CallSite, _Views_Home_Edit_cshtml, object> target2 = _Views_Home_Edit_cshtml.\u003C\u003Eo__126.\u003C\u003Ep__18.Target;
      // ISSUE: reference to a compiler-generated field
      CallSite<Action<CallSite, _Views_Home_Edit_cshtml, object>> p18 = _Views_Home_Edit_cshtml.\u003C\u003Eo__126.\u003C\u003Ep__18;
      _Views_Home_Edit_cshtml viewsHomeEditCshtml2 = viewsHomeEditCshtml1;
      // ISSUE: reference to a compiler-generated field
      if (_Views_Home_Edit_cshtml.\u003C\u003Eo__126.\u003C\u003Ep__17 == null)
      {
        // ISSUE: reference to a compiler-generated field
        _Views_Home_Edit_cshtml.\u003C\u003Eo__126.\u003C\u003Ep__17 = CallSite<Func<CallSite, IHtmlHelper<trafficjob>, object, object>>.Create(Binder.InvokeMember(CSharpBinderFlags.None, "Raw", (IEnumerable<Type>) null, typeof (_Views_Home_Edit_cshtml), (IEnumerable<CSharpArgumentInfo>) new CSharpArgumentInfo[2]
        {
          CSharpArgumentInfo.Create(CSharpArgumentInfoFlags.UseCompileTimeType, (string) null),
          CSharpArgumentInfo.Create(CSharpArgumentInfoFlags.None, (string) null)
        }));
      }
      // ISSUE: reference to a compiler-generated field
      Func<CallSite, IHtmlHelper<trafficjob>, object, object> target3 = _Views_Home_Edit_cshtml.\u003C\u003Eo__126.\u003C\u003Ep__17.Target;
      // ISSUE: reference to a compiler-generated field
      CallSite<Func<CallSite, IHtmlHelper<trafficjob>, object, object>> p17 = _Views_Home_Edit_cshtml.\u003C\u003Eo__126.\u003C\u003Ep__17;
      IHtmlHelper<trafficjob> html1 = viewsHomeEditCshtml1.Html;
      // ISSUE: reference to a compiler-generated field
      if (_Views_Home_Edit_cshtml.\u003C\u003Eo__126.\u003C\u003Ep__16 == null)
      {
        // ISSUE: reference to a compiler-generated field
        _Views_Home_Edit_cshtml.\u003C\u003Eo__126.\u003C\u003Ep__16 = CallSite<Func<CallSite, IJsonHelper, object, object>>.Create(Binder.InvokeMember(CSharpBinderFlags.None, "Serialize", (IEnumerable<Type>) null, typeof (_Views_Home_Edit_cshtml), (IEnumerable<CSharpArgumentInfo>) new CSharpArgumentInfo[2]
        {
          CSharpArgumentInfo.Create(CSharpArgumentInfoFlags.UseCompileTimeType, (string) null),
          CSharpArgumentInfo.Create(CSharpArgumentInfoFlags.None, (string) null)
        }));
      }
      // ISSUE: reference to a compiler-generated field
      Func<CallSite, IJsonHelper, object, object> target4 = _Views_Home_Edit_cshtml.\u003C\u003Eo__126.\u003C\u003Ep__16.Target;
      // ISSUE: reference to a compiler-generated field
      CallSite<Func<CallSite, IJsonHelper, object, object>> p16 = _Views_Home_Edit_cshtml.\u003C\u003Eo__126.\u003C\u003Ep__16;
      IJsonHelper json1 = viewsHomeEditCshtml1.Json;
      // ISSUE: reference to a compiler-generated field
      if (_Views_Home_Edit_cshtml.\u003C\u003Eo__126.\u003C\u003Ep__15 == null)
      {
        // ISSUE: reference to a compiler-generated field
        _Views_Home_Edit_cshtml.\u003C\u003Eo__126.\u003C\u003Ep__15 = CallSite<Func<CallSite, object, object>>.Create(Binder.GetMember(CSharpBinderFlags.None, "countrycodelist", typeof (_Views_Home_Edit_cshtml), (IEnumerable<CSharpArgumentInfo>) new CSharpArgumentInfo[1]
        {
          CSharpArgumentInfo.Create(CSharpArgumentInfoFlags.None, (string) null)
        }));
      }
      // ISSUE: reference to a compiler-generated field
      // ISSUE: reference to a compiler-generated field
      object obj2 = _Views_Home_Edit_cshtml.\u003C\u003Eo__126.\u003C\u003Ep__15.Target((CallSite) _Views_Home_Edit_cshtml.\u003C\u003Eo__126.\u003C\u003Ep__15, viewsHomeEditCshtml1.ViewBag);
      object obj3 = target4((CallSite) p16, json1, obj2);
      object obj4 = target3((CallSite) p17, html1, obj3);
      target2((CallSite) p18, viewsHomeEditCshtml2, obj4);
      viewsHomeEditCshtml1.EndContext();
      viewsHomeEditCshtml1.BeginContext(52150, 25, true);
      viewsHomeEditCshtml1.WriteLiteral(";\r\n    var countrylist = ");
      viewsHomeEditCshtml1.EndContext();
      viewsHomeEditCshtml1.BeginContext(52176, 45, false);
      // ISSUE: reference to a compiler-generated field
      if (_Views_Home_Edit_cshtml.\u003C\u003Eo__126.\u003C\u003Ep__22 == null)
      {
        // ISSUE: reference to a compiler-generated field
        _Views_Home_Edit_cshtml.\u003C\u003Eo__126.\u003C\u003Ep__22 = CallSite<Action<CallSite, _Views_Home_Edit_cshtml, object>>.Create(Binder.InvokeMember(CSharpBinderFlags.InvokeSimpleName | CSharpBinderFlags.ResultDiscarded, "Write", (IEnumerable<Type>) null, typeof (_Views_Home_Edit_cshtml), (IEnumerable<CSharpArgumentInfo>) new CSharpArgumentInfo[2]
        {
          CSharpArgumentInfo.Create(CSharpArgumentInfoFlags.UseCompileTimeType, (string) null),
          CSharpArgumentInfo.Create(CSharpArgumentInfoFlags.None, (string) null)
        }));
      }
      // ISSUE: reference to a compiler-generated field
      Action<CallSite, _Views_Home_Edit_cshtml, object> target5 = _Views_Home_Edit_cshtml.\u003C\u003Eo__126.\u003C\u003Ep__22.Target;
      // ISSUE: reference to a compiler-generated field
      CallSite<Action<CallSite, _Views_Home_Edit_cshtml, object>> p22 = _Views_Home_Edit_cshtml.\u003C\u003Eo__126.\u003C\u003Ep__22;
      _Views_Home_Edit_cshtml viewsHomeEditCshtml3 = viewsHomeEditCshtml1;
      // ISSUE: reference to a compiler-generated field
      if (_Views_Home_Edit_cshtml.\u003C\u003Eo__126.\u003C\u003Ep__21 == null)
      {
        // ISSUE: reference to a compiler-generated field
        _Views_Home_Edit_cshtml.\u003C\u003Eo__126.\u003C\u003Ep__21 = CallSite<Func<CallSite, IHtmlHelper<trafficjob>, object, object>>.Create(Binder.InvokeMember(CSharpBinderFlags.None, "Raw", (IEnumerable<Type>) null, typeof (_Views_Home_Edit_cshtml), (IEnumerable<CSharpArgumentInfo>) new CSharpArgumentInfo[2]
        {
          CSharpArgumentInfo.Create(CSharpArgumentInfoFlags.UseCompileTimeType, (string) null),
          CSharpArgumentInfo.Create(CSharpArgumentInfoFlags.None, (string) null)
        }));
      }
      // ISSUE: reference to a compiler-generated field
      Func<CallSite, IHtmlHelper<trafficjob>, object, object> target6 = _Views_Home_Edit_cshtml.\u003C\u003Eo__126.\u003C\u003Ep__21.Target;
      // ISSUE: reference to a compiler-generated field
      CallSite<Func<CallSite, IHtmlHelper<trafficjob>, object, object>> p21 = _Views_Home_Edit_cshtml.\u003C\u003Eo__126.\u003C\u003Ep__21;
      IHtmlHelper<trafficjob> html2 = viewsHomeEditCshtml1.Html;
      // ISSUE: reference to a compiler-generated field
      if (_Views_Home_Edit_cshtml.\u003C\u003Eo__126.\u003C\u003Ep__20 == null)
      {
        // ISSUE: reference to a compiler-generated field
        _Views_Home_Edit_cshtml.\u003C\u003Eo__126.\u003C\u003Ep__20 = CallSite<Func<CallSite, IJsonHelper, object, object>>.Create(Binder.InvokeMember(CSharpBinderFlags.None, "Serialize", (IEnumerable<Type>) null, typeof (_Views_Home_Edit_cshtml), (IEnumerable<CSharpArgumentInfo>) new CSharpArgumentInfo[2]
        {
          CSharpArgumentInfo.Create(CSharpArgumentInfoFlags.UseCompileTimeType, (string) null),
          CSharpArgumentInfo.Create(CSharpArgumentInfoFlags.None, (string) null)
        }));
      }
      // ISSUE: reference to a compiler-generated field
      Func<CallSite, IJsonHelper, object, object> target7 = _Views_Home_Edit_cshtml.\u003C\u003Eo__126.\u003C\u003Ep__20.Target;
      // ISSUE: reference to a compiler-generated field
      CallSite<Func<CallSite, IJsonHelper, object, object>> p20 = _Views_Home_Edit_cshtml.\u003C\u003Eo__126.\u003C\u003Ep__20;
      IJsonHelper json2 = viewsHomeEditCshtml1.Json;
      // ISSUE: reference to a compiler-generated field
      if (_Views_Home_Edit_cshtml.\u003C\u003Eo__126.\u003C\u003Ep__19 == null)
      {
        // ISSUE: reference to a compiler-generated field
        _Views_Home_Edit_cshtml.\u003C\u003Eo__126.\u003C\u003Ep__19 = CallSite<Func<CallSite, object, object>>.Create(Binder.GetMember(CSharpBinderFlags.None, "countrylist", typeof (_Views_Home_Edit_cshtml), (IEnumerable<CSharpArgumentInfo>) new CSharpArgumentInfo[1]
        {
          CSharpArgumentInfo.Create(CSharpArgumentInfoFlags.None, (string) null)
        }));
      }
      // ISSUE: reference to a compiler-generated field
      // ISSUE: reference to a compiler-generated field
      object obj5 = _Views_Home_Edit_cshtml.\u003C\u003Eo__126.\u003C\u003Ep__19.Target((CallSite) _Views_Home_Edit_cshtml.\u003C\u003Eo__126.\u003C\u003Ep__19, viewsHomeEditCshtml1.ViewBag);
      object obj6 = target7((CallSite) p20, json2, obj5);
      object obj7 = target6((CallSite) p21, html2, obj6);
      target5((CallSite) p22, viewsHomeEditCshtml3, obj7);
      viewsHomeEditCshtml1.EndContext();
      viewsHomeEditCshtml1.BeginContext(52221, 900, true);
      viewsHomeEditCshtml1.WriteLiteral(";\r\n\r\n    function ShowHideAddNewState()\r\n    {\r\n        var selectedState = $(\"select[name=StateSelector] option:selected\").text();\r\n\r\n        if (selectedState.includes(\"Add New\")) {\r\n            $(\"input[name=StateInput]\").show();\r\n            $(\"button[name=StateAdd]\").show();\r\n        }\r\n        else {\r\n            $(\"input[name=StateInput]\").hide();\r\n            $(\"button[name=StateAdd]\").hide();\r\n        }\r\n    }\r\n\r\n    function ShowHideAddNewCity()\r\n    {\r\n        var selOption = $(\"select[name=CitySelector] option:selected\").text();\r\n\r\n        if (selOption.includes(\"Add New\")) {\r\n            $(\"input[name=CityInput]\").show();\r\n            $(\"button[name=CityAdd]\").show();\r\n        }\r\n        else {\r\n            $(\"input[name=CityInput]\").hide();\r\n            $(\"button[name=CityAdd]\").hide();\r\n        }\r\n    }\r\n\r\n    function RedrawTimeZone()\r\n    {\r\n        $(\"#time_zone\").val(\"");
      viewsHomeEditCshtml1.EndContext();
      viewsHomeEditCshtml1.BeginContext(53122, 15, false);
      viewsHomeEditCshtml1.Write(viewsHomeEditCshtml1.Model.time_zone);
      viewsHomeEditCshtml1.EndContext();
      viewsHomeEditCshtml1.BeginContext(53137, 338, true);
      viewsHomeEditCshtml1.WriteLiteral("\");\r\n    }\r\n\r\n    function RedrawTimeSelector()\r\n    {\r\n        for (var i = 0; i < 24; i++)\r\n        {\r\n\r\n            $(\"select[name=start_time]\").append($('<option>', { value: i, text: i + \":00\"}));\r\n            $(\"select[name=end_time]\").append($('<option>', { value: i, text: i + \":00\" }));\r\n        }\r\n\r\n        $(\"#start_time\").val(");
      viewsHomeEditCshtml1.EndContext();
      viewsHomeEditCshtml1.BeginContext(53476, 16, false);
      viewsHomeEditCshtml1.Write(viewsHomeEditCshtml1.Model.start_time);
      viewsHomeEditCshtml1.EndContext();
      viewsHomeEditCshtml1.BeginContext(53492, 31, true);
      viewsHomeEditCshtml1.WriteLiteral(");\r\n        $(\"#end_time\").val(");
      viewsHomeEditCshtml1.EndContext();
      viewsHomeEditCshtml1.BeginContext(53524, 14, false);
      viewsHomeEditCshtml1.Write(viewsHomeEditCshtml1.Model.end_time);
      viewsHomeEditCshtml1.EndContext();
      viewsHomeEditCshtml1.BeginContext(53538, 3794, true);
      viewsHomeEditCshtml1.WriteLiteral(");\r\n    }\r\n\r\n    $(document).ready(function () {\r\n\r\n        $(document).on(\"keydown\", \":input:not(textarea)\", function (event) {\r\n            if (event.key == \"Enter\") {\r\n                event.preventDefault();\r\n            }\r\n        });\r\n\r\n        $(\"input[name=target_url]\").tooltip({ 'trigger': 'focus', 'title': 'Target url of Post' });\r\n        $(\"input[name=exttarget_url]\").tooltip({ 'trigger': 'focus', 'title': 'Extra Target url of Post (i.e for mobile page)' });\r\n        $(\"input[name=session_count]\").tooltip({ 'trigger': 'focus', 'title': 'count of running in a day' });\r\n        $(\"input[name=proxy_setting]\").tooltip({ 'trigger': 'focus', 'title': 'These proxies will be used when journey works' });\r\n        $(\"textarea[name=search_term]\").tooltip({ 'trigger': 'focus', 'title': 'The journey will be started with this keyword' });\r\n        $(\"textarea[name=name_business]\").tooltip({ 'trigger': 'focus', 'title': 'Available only for GMB & Brand & Company, for getting intermediate panel box or posts' });\r\n\r");
      viewsHomeEditCshtml1.WriteLiteral("\n        ChangeGoogleMapLocal();\r\n        $('input[type=radio][name=superOption]').change(function () {\r\n            if (this.value == 'Get Directions') {\r\n                $(\"#sel_location\").show();\r\n            }\r\n            else {\r\n                $(\"#sel_location\").hide();\r\n            }\r\n        });\r\n        $('input[type=radio][name=proxyOption]').change(function () {\r\n            if (this.value == 'Normal') {\r\n                $(\"#proxy_setting\").hide();\r\n                $(\"#proxy_setting\").val(\"\");\r\n            }\r\n            else if (this.value == 'Direct Proxy') {\r\n                $(\"#proxy_setting\").show();\r\n            }\r\n            else {\r\n                $(\"#selbtnLoc\").show();\r\n                $(\"#proxy_setting\").show();\r\n            }\r\n        });\r\n        $(\"textarea[name=search_term]\").bind('input propertychange', function () {\r\n\r\n            var text = $(\"textarea[name=search_term]\").val().split(\"|\");\r\n            var arraylength = text.length;\r\n            var newlinedtext = \"\";\r\n         ");
      viewsHomeEditCshtml1.WriteLiteral("   for (var i = 0; i < arraylength; i++)\r\n            {\r\n                newlinedtext += text[i];\r\n                if(i != arraylength - 1)\r\n                    newlinedtext += \"\\n\";\r\n            }\r\n            $(\"textarea[name=search_term]\").val(newlinedtext);\r\n\r\n        });\r\n\r\n        var text = $(\"textarea[name=search_term]\").val().split(\"|\");\r\n        var arraylength = text.length;\r\n        var newlinedsearchterm = \"\";\r\n        for (var i = 0; i < arraylength; i++) {\r\n            newlinedsearchterm += text[i];\r\n            if (i != arraylength - 1)\r\n                newlinedsearchterm += \"\\n\";\r\n        }\r\n        $(\"textarea[name=search_term]\").val(newlinedsearchterm);\r\n\r\n\r\n        $(\"textarea[name=name_business]\").bind('input propertychange', function () {\r\n\r\n            var text = $(\"textarea[name=name_business]\").val().split(\"|\");\r\n            var arraylength = text.length;\r\n            var newlinedtext = \"\";\r\n            for (var i = 0; i < arraylength; i++) {\r\n                newlinedtext += text[i];\r");
      viewsHomeEditCshtml1.WriteLiteral("\n                if (i != arraylength - 1)\r\n                    newlinedtext += \"\\n\";\r\n            }\r\n            $(\"textarea[name=name_business]\").val(newlinedtext);\r\n\r\n        });\r\n\r\n        var text = $(\"textarea[name=name_business]\").val().split(\"|\");\r\n        var arraylength = text.length;\r\n        var newlinednamebusiness = \"\";\r\n        for (var i = 0; i < arraylength; i++) {\r\n            newlinednamebusiness += text[i];\r\n            if (i != arraylength - 1)\r\n                newlinednamebusiness += \"\\n\";\r\n        }\r\n        $(\"textarea[name=name_business]\").val(newlinednamebusiness);\r\n\r\n        RedrawTimeZone();\r\n        RedrawTimeSelector();\r\n\r\n\r\n        changedOption();\r\n\r\n        var selectedjourney = '");
      viewsHomeEditCshtml1.EndContext();
      viewsHomeEditCshtml1.BeginContext(57334, 62, false);
      _Views_Home_Edit_cshtml viewsHomeEditCshtml4 = viewsHomeEditCshtml1;
      // ISSUE: reference to a compiler-generated field
      if (_Views_Home_Edit_cshtml.\u003C\u003Eo__126.\u003C\u003Ep__23 == null)
      {
        // ISSUE: reference to a compiler-generated field
        _Views_Home_Edit_cshtml.\u003C\u003Eo__126.\u003C\u003Ep__23 = CallSite<Func<CallSite, object, object>>.Create(Binder.GetMember(CSharpBinderFlags.None, "JourneyOption", typeof (_Views_Home_Edit_cshtml), (IEnumerable<CSharpArgumentInfo>) new CSharpArgumentInfo[1]
        {
          CSharpArgumentInfo.Create(CSharpArgumentInfoFlags.None, (string) null)
        }));
      }
      // ISSUE: reference to a compiler-generated field
      // ISSUE: reference to a compiler-generated field
      string str = (_Views_Home_Edit_cshtml.\u003C\u003Eo__126.\u003C\u003Ep__23.Target((CallSite) _Views_Home_Edit_cshtml.\u003C\u003Eo__126.\u003C\u003Ep__23, viewsHomeEditCshtml1.ViewBag) as SelectList).SelectedValue.ToString();
      viewsHomeEditCshtml4.Write(str);
      viewsHomeEditCshtml1.EndContext();
      viewsHomeEditCshtml1.BeginContext(57397, 666, true);
      viewsHomeEditCshtml1.WriteLiteral("';\r\n\r\n        $(\"select[name=agent_kind]\").empty();\r\n        if (selectedjourney == 'VideoSearch' || selectedjourney == 'YoutubeSearch') {\r\n\r\n            $(\"select[name=agent_kind]\").append($('<option>', { value: '2', text: 'Desktop' }));\r\n            $(\"select[name=agent_kind] option[value=2]\").attr('selected', 'selected');\r\n        }\r\n        else {\r\n\r\n            $(\"select[name=agent_kind]\").append($('<option>', { value: '0', text: 'Both' }));\r\n            $(\"select[name=agent_kind]\").append($('<option>', { value: '1', text: 'Mobile' }));\r\n            $(\"select[name=agent_kind]\").append($('<option>', { value: '2', text: 'Desktop' }));\r\n\r\n            if ('");
      viewsHomeEditCshtml1.EndContext();
      viewsHomeEditCshtml1.BeginContext(58064, 16, false);
      viewsHomeEditCshtml1.Write((object) viewsHomeEditCshtml1.Model.agent_kind);
      viewsHomeEditCshtml1.EndContext();
      viewsHomeEditCshtml1.BeginContext(58080, 6, true);
      viewsHomeEditCshtml1.WriteLiteral("' == '");
      viewsHomeEditCshtml1.EndContext();
      viewsHomeEditCshtml1.BeginContext(58087, 26, false);
      viewsHomeEditCshtml1.Write((object) trafficjob.AGENT_KIND.BOTH);
      viewsHomeEditCshtml1.EndContext();
      viewsHomeEditCshtml1.BeginContext(58113, 135, true);
      viewsHomeEditCshtml1.WriteLiteral("') {\r\n                $(\"select[name=agent_kind] option[value=0]\").attr('selected', 'selected');\r\n            }\r\n            else if ('");
      viewsHomeEditCshtml1.EndContext();
      viewsHomeEditCshtml1.BeginContext(58249, 16, false);
      viewsHomeEditCshtml1.Write((object) viewsHomeEditCshtml1.Model.agent_kind);
      viewsHomeEditCshtml1.EndContext();
      viewsHomeEditCshtml1.BeginContext(58265, 6, true);
      viewsHomeEditCshtml1.WriteLiteral("' == '");
      viewsHomeEditCshtml1.EndContext();
      viewsHomeEditCshtml1.BeginContext(58272, 28, false);
      viewsHomeEditCshtml1.Write((object) trafficjob.AGENT_KIND.MOBILE);
      viewsHomeEditCshtml1.EndContext();
      viewsHomeEditCshtml1.BeginContext(58300, 135, true);
      viewsHomeEditCshtml1.WriteLiteral("') {\r\n                $(\"select[name=agent_kind] option[value=1]\").attr('selected', 'selected');\r\n            }\r\n            else if ('");
      viewsHomeEditCshtml1.EndContext();
      viewsHomeEditCshtml1.BeginContext(58436, 16, false);
      viewsHomeEditCshtml1.Write((object) viewsHomeEditCshtml1.Model.agent_kind);
      viewsHomeEditCshtml1.EndContext();
      viewsHomeEditCshtml1.BeginContext(58452, 6, true);
      viewsHomeEditCshtml1.WriteLiteral("' == '");
      viewsHomeEditCshtml1.EndContext();
      viewsHomeEditCshtml1.BeginContext(58459, 29, false);
      viewsHomeEditCshtml1.Write((object) trafficjob.AGENT_KIND.DESKTOP);
      viewsHomeEditCshtml1.EndContext();
      viewsHomeEditCshtml1.BeginContext(58488, 301, true);
      viewsHomeEditCshtml1.WriteLiteral("') {\r\n                $(\"select[name=agent_kind] option[value=2]\").attr('selected', 'selected');\r\n            }\r\n        }\r\n\r\n\r\n    });\r\n</script>\r\n<script async defer src=\"https://maps.googleapis.com/maps/api/js?key=AIzaSyAOsvabsRTPfzBBZ4urpGojRr1f5X-zPoU&libraries=places&callback=myMap\"></script>\r\n");
      viewsHomeEditCshtml1.EndContext();
      // ISSUE: reference to a compiler-generated method
      viewsHomeEditCshtml1.DefineSection("Scripts", new RenderAsyncDelegate(viewsHomeEditCshtml1.\u003CExecuteAsync\u003Eb__126_143));
    }

    [RazorInject]
    public IModelExpressionProvider ModelExpressionProvider { get; private set; }

    [RazorInject]
    public IUrlHelper Url { get; private set; }

    [RazorInject]
    public IViewComponentHelper Component { get; private set; }

    [RazorInject]
    public IJsonHelper Json { get; private set; }

    [RazorInject]
    public IHtmlHelper<trafficjob> Html { get; private set; }
  }
}
