// Decompiled with JetBrains decompiler
// Type: AspNetCore._Views_Home_JobIndex_cshtml
// Assembly: Traffic.PrecompiledViews, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null
// MVID: 8B37BA40-0390-40A7-A536-D9CCDBC36390
// Assembly location: D:\Workstation\TonniProjects\TrafficWebDeploy\Traffic.PrecompiledViews.dll

using Microsoft.AspNetCore.Html;
using Microsoft.AspNetCore.Mvc;
using Microsoft.AspNetCore.Mvc.Razor;
using Microsoft.AspNetCore.Mvc.Razor.Internal;
using Microsoft.AspNetCore.Mvc.Rendering;
using Microsoft.AspNetCore.Mvc.TagHelpers;
using Microsoft.AspNetCore.Mvc.ViewFeatures;
using Microsoft.AspNetCore.Razor.Runtime.TagHelpers;
using Microsoft.AspNetCore.Razor.TagHelpers;
using System;
using System.Collections.Generic;
using System.Linq.Expressions;
using System.Text.Encodings.Web;
using System.Threading.Tasks;
using Traffic.Models;

namespace AspNetCore
{
  public class _Views_Home_JobIndex_cshtml : RazorPage<IEnumerable<trafficjob>>
  {
    private static readonly TagHelperAttribute __tagHelperAttribute_0 = new TagHelperAttribute("asp-action", (object) "GMBIndex", HtmlAttributeValueStyle.DoubleQuotes);
    private static readonly TagHelperAttribute __tagHelperAttribute_1 = new TagHelperAttribute("class", (object) new HtmlString("btn btn-info"), HtmlAttributeValueStyle.DoubleQuotes);
    private static readonly TagHelperAttribute __tagHelperAttribute_2 = new TagHelperAttribute("style", (object) new HtmlString("float:left"), HtmlAttributeValueStyle.DoubleQuotes);
    private static readonly TagHelperAttribute __tagHelperAttribute_3 = new TagHelperAttribute("asp-action", (object) "BuilderManager", HtmlAttributeValueStyle.DoubleQuotes);
    private static readonly TagHelperAttribute __tagHelperAttribute_4 = new TagHelperAttribute("asp-action", (object) "TwitterPost", HtmlAttributeValueStyle.DoubleQuotes);
    private static readonly TagHelperAttribute __tagHelperAttribute_5 = new TagHelperAttribute("asp-action", (object) "Index", HtmlAttributeValueStyle.DoubleQuotes);
    private static readonly TagHelperAttribute __tagHelperAttribute_6 = new TagHelperAttribute("asp-action", (object) "CreateFolder", HtmlAttributeValueStyle.DoubleQuotes);
    private static readonly TagHelperAttribute __tagHelperAttribute_7 = new TagHelperAttribute("asp-action", (object) "Jobs", HtmlAttributeValueStyle.DoubleQuotes);
    private static readonly TagHelperAttribute __tagHelperAttribute_8 = new TagHelperAttribute("class", (object) new HtmlString("btn btn-success btn-xs"), HtmlAttributeValueStyle.DoubleQuotes);
    private static readonly TagHelperAttribute __tagHelperAttribute_9 = new TagHelperAttribute("asp-action", (object) "RemoveFolder", HtmlAttributeValueStyle.DoubleQuotes);
    private static readonly TagHelperAttribute __tagHelperAttribute_10 = new TagHelperAttribute("class", (object) new HtmlString("btn btn-danger btn-xs"), HtmlAttributeValueStyle.DoubleQuotes);
    private static readonly TagHelperAttribute __tagHelperAttribute_11 = new TagHelperAttribute("onclick", (object) new HtmlString("return RemoveConfirm();"), HtmlAttributeValueStyle.DoubleQuotes);
    private string __tagHelperStringValueBuffer;
    private TagHelperExecutionContext __tagHelperExecutionContext;
    private TagHelperRunner __tagHelperRunner = new TagHelperRunner();
    private TagHelperScopeManager __backed__tagHelperScopeManager;
    private AnchorTagHelper __Microsoft_AspNetCore_Mvc_TagHelpers_AnchorTagHelper;

    private TagHelperScopeManager __tagHelperScopeManager
    {
      get
      {
        if (this.__backed__tagHelperScopeManager == null)
          this.__backed__tagHelperScopeManager = new TagHelperScopeManager(new Action<HtmlEncoder>(((RazorPageBase) this).StartTagHelperWritingScope), new Func<TagHelperContent>(((RazorPageBase) this).EndTagHelperWritingScope));
        return this.__backed__tagHelperScopeManager;
      }
    }

    public virtual async Task ExecuteAsync()
    {
      _Views_Home_JobIndex_cshtml homeJobIndexCshtml = this;
      homeJobIndexCshtml.BeginContext(47, 2, true);
      homeJobIndexCshtml.WriteLiteral("\r\n");
      homeJobIndexCshtml.EndContext();
      homeJobIndexCshtml.ViewData["Title"] = (object) "Index";
      // ISSUE: explicit non-virtual call
      __nonvirtual (homeJobIndexCshtml.Layout) = "~/Views/Shared/_Layout.cshtml";
      string path = (string) homeJobIndexCshtml.Context.Request.Path;
      string userId = string.Empty;
      userId = path.Replace("/Home/JobIndex", "").Replace("/", "");
      homeJobIndexCshtml.BeginContext(425, 35, true);
      homeJobIndexCshtml.WriteLiteral("\r\n</br>\r\n<p class=\"text-right\">\r\n\r\n");
      homeJobIndexCshtml.EndContext();
      if (homeJobIndexCshtml.ViewData["EnableGMB"].Equals((object) true))
      {
        homeJobIndexCshtml.BeginContext(513, 8, true);
        homeJobIndexCshtml.WriteLiteral("        ");
        homeJobIndexCshtml.EndContext();
        homeJobIndexCshtml.BeginContext(521, 104, false);
        // ISSUE: reference to a compiler-generated method
        homeJobIndexCshtml.__tagHelperExecutionContext = homeJobIndexCshtml.__tagHelperScopeManager.Begin("a", TagMode.StartTagAndEndTag, "a4c1b29e499b4ee8a242a61f0429b168", new Func<Task>(homeJobIndexCshtml.\u003CExecuteAsync\u003Eb__19_0));
        homeJobIndexCshtml.__Microsoft_AspNetCore_Mvc_TagHelpers_AnchorTagHelper = homeJobIndexCshtml.CreateTagHelper<AnchorTagHelper>();
        homeJobIndexCshtml.__tagHelperExecutionContext.Add((ITagHelper) homeJobIndexCshtml.__Microsoft_AspNetCore_Mvc_TagHelpers_AnchorTagHelper);
        homeJobIndexCshtml.__Microsoft_AspNetCore_Mvc_TagHelpers_AnchorTagHelper.Action = (string) _Views_Home_JobIndex_cshtml.__tagHelperAttribute_0.Value;
        homeJobIndexCshtml.__tagHelperExecutionContext.AddTagHelperAttribute(_Views_Home_JobIndex_cshtml.__tagHelperAttribute_0);
        if (homeJobIndexCshtml.__Microsoft_AspNetCore_Mvc_TagHelpers_AnchorTagHelper.RouteValues == null)
          throw new InvalidOperationException(homeJobIndexCshtml.InvalidTagHelperIndexerAssignment("asp-route-id", "Microsoft.AspNetCore.Mvc.TagHelpers.AnchorTagHelper", "RouteValues"));
        homeJobIndexCshtml.BeginWriteTagHelperAttribute();
        homeJobIndexCshtml.WriteLiteral(userId);
        homeJobIndexCshtml.__tagHelperStringValueBuffer = homeJobIndexCshtml.EndWriteTagHelperAttribute();
        homeJobIndexCshtml.__Microsoft_AspNetCore_Mvc_TagHelpers_AnchorTagHelper.RouteValues["id"] = homeJobIndexCshtml.__tagHelperStringValueBuffer;
        homeJobIndexCshtml.__tagHelperExecutionContext.AddTagHelperAttribute("asp-route-id", (object) homeJobIndexCshtml.__Microsoft_AspNetCore_Mvc_TagHelpers_AnchorTagHelper.RouteValues["id"], HtmlAttributeValueStyle.DoubleQuotes);
        homeJobIndexCshtml.__tagHelperExecutionContext.AddHtmlAttribute(_Views_Home_JobIndex_cshtml.__tagHelperAttribute_1);
        homeJobIndexCshtml.__tagHelperExecutionContext.AddHtmlAttribute(_Views_Home_JobIndex_cshtml.__tagHelperAttribute_2);
        await homeJobIndexCshtml.__tagHelperRunner.RunAsync(homeJobIndexCshtml.__tagHelperExecutionContext);
        if (!homeJobIndexCshtml.__tagHelperExecutionContext.Output.IsContentModified)
          await homeJobIndexCshtml.__tagHelperExecutionContext.SetOutputContentAsync();
        homeJobIndexCshtml.Write((object) homeJobIndexCshtml.__tagHelperExecutionContext.Output);
        homeJobIndexCshtml.__tagHelperExecutionContext = homeJobIndexCshtml.__tagHelperScopeManager.End();
        homeJobIndexCshtml.EndContext();
        homeJobIndexCshtml.BeginContext(625, 2, true);
        homeJobIndexCshtml.WriteLiteral("\r\n");
        homeJobIndexCshtml.EndContext();
      }
      homeJobIndexCshtml.BeginContext(634, 4, true);
      homeJobIndexCshtml.WriteLiteral("    ");
      homeJobIndexCshtml.EndContext();
      if (homeJobIndexCshtml.ViewData["EnableHtml"].Equals((object) true))
      {
        homeJobIndexCshtml.BeginContext(688, 8, true);
        homeJobIndexCshtml.WriteLiteral("        ");
        homeJobIndexCshtml.EndContext();
        homeJobIndexCshtml.BeginContext(696, 68, false);
        // ISSUE: reference to a compiler-generated method
        homeJobIndexCshtml.__tagHelperExecutionContext = homeJobIndexCshtml.__tagHelperScopeManager.Begin("a", TagMode.StartTagAndEndTag, "1cad50ae94a04131bdd8fa26a4a97bf0", new Func<Task>(homeJobIndexCshtml.\u003CExecuteAsync\u003Eb__19_1));
        homeJobIndexCshtml.__Microsoft_AspNetCore_Mvc_TagHelpers_AnchorTagHelper = homeJobIndexCshtml.CreateTagHelper<AnchorTagHelper>();
        homeJobIndexCshtml.__tagHelperExecutionContext.Add((ITagHelper) homeJobIndexCshtml.__Microsoft_AspNetCore_Mvc_TagHelpers_AnchorTagHelper);
        homeJobIndexCshtml.__Microsoft_AspNetCore_Mvc_TagHelpers_AnchorTagHelper.Action = (string) _Views_Home_JobIndex_cshtml.__tagHelperAttribute_3.Value;
        homeJobIndexCshtml.__tagHelperExecutionContext.AddTagHelperAttribute(_Views_Home_JobIndex_cshtml.__tagHelperAttribute_3);
        homeJobIndexCshtml.__tagHelperExecutionContext.AddHtmlAttribute(_Views_Home_JobIndex_cshtml.__tagHelperAttribute_1);
        await homeJobIndexCshtml.__tagHelperRunner.RunAsync(homeJobIndexCshtml.__tagHelperExecutionContext);
        if (!homeJobIndexCshtml.__tagHelperExecutionContext.Output.IsContentModified)
          await homeJobIndexCshtml.__tagHelperExecutionContext.SetOutputContentAsync();
        homeJobIndexCshtml.Write((object) homeJobIndexCshtml.__tagHelperExecutionContext.Output);
        homeJobIndexCshtml.__tagHelperExecutionContext = homeJobIndexCshtml.__tagHelperScopeManager.End();
        homeJobIndexCshtml.EndContext();
        homeJobIndexCshtml.BeginContext(764, 2, true);
        homeJobIndexCshtml.WriteLiteral("\r\n");
        homeJobIndexCshtml.EndContext();
      }
      homeJobIndexCshtml.BeginContext(773, 4, true);
      homeJobIndexCshtml.WriteLiteral("    ");
      homeJobIndexCshtml.EndContext();
      if (homeJobIndexCshtml.ViewData["EnableTwitter"].Equals((object) true))
      {
        homeJobIndexCshtml.BeginContext(830, 8, true);
        homeJobIndexCshtml.WriteLiteral("        ");
        homeJobIndexCshtml.EndContext();
        homeJobIndexCshtml.BeginContext(838, 65, false);
        // ISSUE: reference to a compiler-generated method
        homeJobIndexCshtml.__tagHelperExecutionContext = homeJobIndexCshtml.__tagHelperScopeManager.Begin("a", TagMode.StartTagAndEndTag, "011065b2207b495082999adf2a3e2f27", new Func<Task>(homeJobIndexCshtml.\u003CExecuteAsync\u003Eb__19_2));
        homeJobIndexCshtml.__Microsoft_AspNetCore_Mvc_TagHelpers_AnchorTagHelper = homeJobIndexCshtml.CreateTagHelper<AnchorTagHelper>();
        homeJobIndexCshtml.__tagHelperExecutionContext.Add((ITagHelper) homeJobIndexCshtml.__Microsoft_AspNetCore_Mvc_TagHelpers_AnchorTagHelper);
        homeJobIndexCshtml.__Microsoft_AspNetCore_Mvc_TagHelpers_AnchorTagHelper.Action = (string) _Views_Home_JobIndex_cshtml.__tagHelperAttribute_4.Value;
        homeJobIndexCshtml.__tagHelperExecutionContext.AddTagHelperAttribute(_Views_Home_JobIndex_cshtml.__tagHelperAttribute_4);
        homeJobIndexCshtml.__tagHelperExecutionContext.AddHtmlAttribute(_Views_Home_JobIndex_cshtml.__tagHelperAttribute_1);
        await homeJobIndexCshtml.__tagHelperRunner.RunAsync(homeJobIndexCshtml.__tagHelperExecutionContext);
        if (!homeJobIndexCshtml.__tagHelperExecutionContext.Output.IsContentModified)
          await homeJobIndexCshtml.__tagHelperExecutionContext.SetOutputContentAsync();
        homeJobIndexCshtml.Write((object) homeJobIndexCshtml.__tagHelperExecutionContext.Output);
        homeJobIndexCshtml.__tagHelperExecutionContext = homeJobIndexCshtml.__tagHelperScopeManager.End();
        homeJobIndexCshtml.EndContext();
        homeJobIndexCshtml.BeginContext(903, 2, true);
        homeJobIndexCshtml.WriteLiteral("\r\n");
        homeJobIndexCshtml.EndContext();
      }
      homeJobIndexCshtml.BeginContext(912, 2, true);
      homeJobIndexCshtml.WriteLiteral("\r\n");
      homeJobIndexCshtml.EndContext();
      if (!string.IsNullOrEmpty(userId))
      {
        homeJobIndexCshtml.BeginContext(962, 8, true);
        homeJobIndexCshtml.WriteLiteral("        ");
        homeJobIndexCshtml.EndContext();
        homeJobIndexCshtml.BeginContext(970, 66, false);
        // ISSUE: reference to a compiler-generated method
        homeJobIndexCshtml.__tagHelperExecutionContext = homeJobIndexCshtml.__tagHelperScopeManager.Begin("a", TagMode.StartTagAndEndTag, "ff284075204242cd81d046a9cf34484f", new Func<Task>(homeJobIndexCshtml.\u003CExecuteAsync\u003Eb__19_3));
        homeJobIndexCshtml.__Microsoft_AspNetCore_Mvc_TagHelpers_AnchorTagHelper = homeJobIndexCshtml.CreateTagHelper<AnchorTagHelper>();
        homeJobIndexCshtml.__tagHelperExecutionContext.Add((ITagHelper) homeJobIndexCshtml.__Microsoft_AspNetCore_Mvc_TagHelpers_AnchorTagHelper);
        homeJobIndexCshtml.__Microsoft_AspNetCore_Mvc_TagHelpers_AnchorTagHelper.Action = (string) _Views_Home_JobIndex_cshtml.__tagHelperAttribute_5.Value;
        homeJobIndexCshtml.__tagHelperExecutionContext.AddTagHelperAttribute(_Views_Home_JobIndex_cshtml.__tagHelperAttribute_5);
        homeJobIndexCshtml.__tagHelperExecutionContext.AddHtmlAttribute(_Views_Home_JobIndex_cshtml.__tagHelperAttribute_1);
        await homeJobIndexCshtml.__tagHelperRunner.RunAsync(homeJobIndexCshtml.__tagHelperExecutionContext);
        if (!homeJobIndexCshtml.__tagHelperExecutionContext.Output.IsContentModified)
          await homeJobIndexCshtml.__tagHelperExecutionContext.SetOutputContentAsync();
        homeJobIndexCshtml.Write((object) homeJobIndexCshtml.__tagHelperExecutionContext.Output);
        homeJobIndexCshtml.__tagHelperExecutionContext = homeJobIndexCshtml.__tagHelperScopeManager.End();
        homeJobIndexCshtml.EndContext();
        homeJobIndexCshtml.BeginContext(1036, 2, true);
        homeJobIndexCshtml.WriteLiteral("\r\n");
        homeJobIndexCshtml.EndContext();
      }
      homeJobIndexCshtml.BeginContext(1045, 4, true);
      homeJobIndexCshtml.WriteLiteral("    ");
      homeJobIndexCshtml.EndContext();
      homeJobIndexCshtml.BeginContext(1049, 67, false);
      // ISSUE: reference to a compiler-generated method
      homeJobIndexCshtml.__tagHelperExecutionContext = homeJobIndexCshtml.__tagHelperScopeManager.Begin("a", TagMode.StartTagAndEndTag, "dad93183e4d64ecaade5d50526ab2e53", new Func<Task>(homeJobIndexCshtml.\u003CExecuteAsync\u003Eb__19_4));
      homeJobIndexCshtml.__Microsoft_AspNetCore_Mvc_TagHelpers_AnchorTagHelper = homeJobIndexCshtml.CreateTagHelper<AnchorTagHelper>();
      homeJobIndexCshtml.__tagHelperExecutionContext.Add((ITagHelper) homeJobIndexCshtml.__Microsoft_AspNetCore_Mvc_TagHelpers_AnchorTagHelper);
      homeJobIndexCshtml.__Microsoft_AspNetCore_Mvc_TagHelpers_AnchorTagHelper.Action = (string) _Views_Home_JobIndex_cshtml.__tagHelperAttribute_6.Value;
      homeJobIndexCshtml.__tagHelperExecutionContext.AddTagHelperAttribute(_Views_Home_JobIndex_cshtml.__tagHelperAttribute_6);
      homeJobIndexCshtml.__tagHelperExecutionContext.AddHtmlAttribute(_Views_Home_JobIndex_cshtml.__tagHelperAttribute_1);
      await homeJobIndexCshtml.__tagHelperRunner.RunAsync(homeJobIndexCshtml.__tagHelperExecutionContext);
      if (!homeJobIndexCshtml.__tagHelperExecutionContext.Output.IsContentModified)
        await homeJobIndexCshtml.__tagHelperExecutionContext.SetOutputContentAsync();
      homeJobIndexCshtml.Write((object) homeJobIndexCshtml.__tagHelperExecutionContext.Output);
      homeJobIndexCshtml.__tagHelperExecutionContext = homeJobIndexCshtml.__tagHelperScopeManager.End();
      homeJobIndexCshtml.EndContext();
      homeJobIndexCshtml.BeginContext(1116, 710, true);
      homeJobIndexCshtml.WriteLiteral("\r\n</p>\r\n<style>\r\n    .crop {\r\n        white-space: nowrap;\r\n        overflow: hidden;\r\n        text-overflow: ellipsis\r\n    }\r\n\r\n    .btn-disable {\r\n        cursor: not-allowed;\r\n        pointer-events: none;\r\n        /*Button disabled - CSS color class*/\r\n        color: #c0c0c0;\r\n        background-color: #ffffff;\r\n    }\r\n</style>\r\n<table class=\"table\">\r\n    <thead>\r\n        <tr>\r\n            <th style=\"width: 40%;text-align:center;\">\r\n                Folder Name\r\n            </th>\r\n            <th style=\"width: 30%;text-align:center;\">\r\n                Description\r\n            </th>\r\n            <th style=\"width: 30%;text-align:center;\">\r\n            </th>\r\n        </tr>\r\n    </thead>\r\n    <tbody>\r\n");
      homeJobIndexCshtml.EndContext();
      foreach (trafficjob trafficjob in homeJobIndexCshtml.Model)
      {
        trafficjob item = trafficjob;
        if (item.search_term.CompareTo("FOLDER") == 0 && item.session_count == -1)
        {
          homeJobIndexCshtml.BeginContext(2001, 136, true);
          homeJobIndexCshtml.WriteLiteral("        <tr style=\"background-color:#ebeeef;\">\r\n            <td style=\"text-align:center;\">\r\n                <div>\r\n                    ");
          homeJobIndexCshtml.EndContext();
          homeJobIndexCshtml.BeginContext(2138, 43, false);
          homeJobIndexCshtml.Write((object) homeJobIndexCshtml.Html.DisplayFor<IEnumerable<trafficjob>, string>((Expression<Func<IEnumerable<trafficjob>, string>>) (modelItem => item.job_name)));
          homeJobIndexCshtml.EndContext();
          homeJobIndexCshtml.BeginContext(2181, 106, true);
          homeJobIndexCshtml.WriteLiteral("\r\n                </div>\r\n            </td>\r\n            <td style=\"text-align:center;\">\r\n                ");
          homeJobIndexCshtml.EndContext();
          homeJobIndexCshtml.BeginContext(2288, 45, false);
          homeJobIndexCshtml.Write((object) homeJobIndexCshtml.Html.DisplayFor<IEnumerable<trafficjob>, string>((Expression<Func<IEnumerable<trafficjob>, string>>) (modelItem => item.target_url)));
          homeJobIndexCshtml.EndContext();
          homeJobIndexCshtml.BeginContext(2333, 120, true);
          homeJobIndexCshtml.WriteLiteral("\r\n            </td>\r\n\r\n            <td style=\"text-align:center;\">\r\n                <div style=\"white-space: nowrap;\">\r\n");
          homeJobIndexCshtml.EndContext();
          if (!string.IsNullOrEmpty(userId))
          {
            homeJobIndexCshtml.BeginContext(2533, 20, true);
            homeJobIndexCshtml.WriteLiteral("                    ");
            homeJobIndexCshtml.EndContext();
            homeJobIndexCshtml.BeginContext(2553, 112, false);
            // ISSUE: reference to a compiler-generated method
            homeJobIndexCshtml.__tagHelperExecutionContext = homeJobIndexCshtml.__tagHelperScopeManager.Begin("a", TagMode.StartTagAndEndTag, "9afccfed46bb4ed792520d81bbce833b", new Func<Task>(homeJobIndexCshtml.\u003CExecuteAsync\u003Eb__19_5));
            homeJobIndexCshtml.__Microsoft_AspNetCore_Mvc_TagHelpers_AnchorTagHelper = homeJobIndexCshtml.CreateTagHelper<AnchorTagHelper>();
            homeJobIndexCshtml.__tagHelperExecutionContext.Add((ITagHelper) homeJobIndexCshtml.__Microsoft_AspNetCore_Mvc_TagHelpers_AnchorTagHelper);
            homeJobIndexCshtml.__Microsoft_AspNetCore_Mvc_TagHelpers_AnchorTagHelper.Action = (string) _Views_Home_JobIndex_cshtml.__tagHelperAttribute_7.Value;
            homeJobIndexCshtml.__tagHelperExecutionContext.AddTagHelperAttribute(_Views_Home_JobIndex_cshtml.__tagHelperAttribute_7);
            if (homeJobIndexCshtml.__Microsoft_AspNetCore_Mvc_TagHelpers_AnchorTagHelper.RouteValues == null)
              throw new InvalidOperationException(homeJobIndexCshtml.InvalidTagHelperIndexerAssignment("asp-route-id", "Microsoft.AspNetCore.Mvc.TagHelpers.AnchorTagHelper", "RouteValues"));
            homeJobIndexCshtml.BeginWriteTagHelperAttribute();
            homeJobIndexCshtml.WriteLiteral((object) item.id);
            homeJobIndexCshtml.__tagHelperStringValueBuffer = homeJobIndexCshtml.EndWriteTagHelperAttribute();
            homeJobIndexCshtml.__Microsoft_AspNetCore_Mvc_TagHelpers_AnchorTagHelper.RouteValues["id"] = homeJobIndexCshtml.__tagHelperStringValueBuffer;
            homeJobIndexCshtml.__tagHelperExecutionContext.AddTagHelperAttribute("asp-route-id", (object) homeJobIndexCshtml.__Microsoft_AspNetCore_Mvc_TagHelpers_AnchorTagHelper.RouteValues["id"], HtmlAttributeValueStyle.DoubleQuotes);
            homeJobIndexCshtml.BeginWriteTagHelperAttribute();
            homeJobIndexCshtml.WriteLiteral(userId);
            homeJobIndexCshtml.__tagHelperStringValueBuffer = homeJobIndexCshtml.EndWriteTagHelperAttribute();
            homeJobIndexCshtml.__Microsoft_AspNetCore_Mvc_TagHelpers_AnchorTagHelper.RouteValues["userid"] = homeJobIndexCshtml.__tagHelperStringValueBuffer;
            homeJobIndexCshtml.__tagHelperExecutionContext.AddTagHelperAttribute("asp-route-userid", (object) homeJobIndexCshtml.__Microsoft_AspNetCore_Mvc_TagHelpers_AnchorTagHelper.RouteValues["userid"], HtmlAttributeValueStyle.DoubleQuotes);
            homeJobIndexCshtml.__tagHelperExecutionContext.AddHtmlAttribute(_Views_Home_JobIndex_cshtml.__tagHelperAttribute_8);
            await homeJobIndexCshtml.__tagHelperRunner.RunAsync(homeJobIndexCshtml.__tagHelperExecutionContext);
            if (!homeJobIndexCshtml.__tagHelperExecutionContext.Output.IsContentModified)
              await homeJobIndexCshtml.__tagHelperExecutionContext.SetOutputContentAsync();
            homeJobIndexCshtml.Write((object) homeJobIndexCshtml.__tagHelperExecutionContext.Output);
            homeJobIndexCshtml.__tagHelperExecutionContext = homeJobIndexCshtml.__tagHelperScopeManager.End();
            homeJobIndexCshtml.EndContext();
            homeJobIndexCshtml.BeginContext(2665, 2, true);
            homeJobIndexCshtml.WriteLiteral("\r\n");
            homeJobIndexCshtml.EndContext();
          }
          else
          {
            homeJobIndexCshtml.BeginContext(2739, 20, true);
            homeJobIndexCshtml.WriteLiteral("                    ");
            homeJobIndexCshtml.EndContext();
            homeJobIndexCshtml.BeginContext(2759, 85, false);
            // ISSUE: reference to a compiler-generated method
            homeJobIndexCshtml.__tagHelperExecutionContext = homeJobIndexCshtml.__tagHelperScopeManager.Begin("a", TagMode.StartTagAndEndTag, "46cad8b0aa7b4865ba2814b195a7d461", new Func<Task>(homeJobIndexCshtml.\u003CExecuteAsync\u003Eb__19_6));
            homeJobIndexCshtml.__Microsoft_AspNetCore_Mvc_TagHelpers_AnchorTagHelper = homeJobIndexCshtml.CreateTagHelper<AnchorTagHelper>();
            homeJobIndexCshtml.__tagHelperExecutionContext.Add((ITagHelper) homeJobIndexCshtml.__Microsoft_AspNetCore_Mvc_TagHelpers_AnchorTagHelper);
            homeJobIndexCshtml.__Microsoft_AspNetCore_Mvc_TagHelpers_AnchorTagHelper.Action = (string) _Views_Home_JobIndex_cshtml.__tagHelperAttribute_7.Value;
            homeJobIndexCshtml.__tagHelperExecutionContext.AddTagHelperAttribute(_Views_Home_JobIndex_cshtml.__tagHelperAttribute_7);
            if (homeJobIndexCshtml.__Microsoft_AspNetCore_Mvc_TagHelpers_AnchorTagHelper.RouteValues == null)
              throw new InvalidOperationException(homeJobIndexCshtml.InvalidTagHelperIndexerAssignment("asp-route-id", "Microsoft.AspNetCore.Mvc.TagHelpers.AnchorTagHelper", "RouteValues"));
            homeJobIndexCshtml.BeginWriteTagHelperAttribute();
            homeJobIndexCshtml.WriteLiteral((object) item.id);
            homeJobIndexCshtml.__tagHelperStringValueBuffer = homeJobIndexCshtml.EndWriteTagHelperAttribute();
            homeJobIndexCshtml.__Microsoft_AspNetCore_Mvc_TagHelpers_AnchorTagHelper.RouteValues["id"] = homeJobIndexCshtml.__tagHelperStringValueBuffer;
            homeJobIndexCshtml.__tagHelperExecutionContext.AddTagHelperAttribute("asp-route-id", (object) homeJobIndexCshtml.__Microsoft_AspNetCore_Mvc_TagHelpers_AnchorTagHelper.RouteValues["id"], HtmlAttributeValueStyle.DoubleQuotes);
            homeJobIndexCshtml.__tagHelperExecutionContext.AddHtmlAttribute(_Views_Home_JobIndex_cshtml.__tagHelperAttribute_8);
            await homeJobIndexCshtml.__tagHelperRunner.RunAsync(homeJobIndexCshtml.__tagHelperExecutionContext);
            if (!homeJobIndexCshtml.__tagHelperExecutionContext.Output.IsContentModified)
              await homeJobIndexCshtml.__tagHelperExecutionContext.SetOutputContentAsync();
            homeJobIndexCshtml.Write((object) homeJobIndexCshtml.__tagHelperExecutionContext.Output);
            homeJobIndexCshtml.__tagHelperExecutionContext = homeJobIndexCshtml.__tagHelperScopeManager.End();
            homeJobIndexCshtml.EndContext();
            homeJobIndexCshtml.BeginContext(2844, 2, true);
            homeJobIndexCshtml.WriteLiteral("\r\n");
            homeJobIndexCshtml.EndContext();
          }
          homeJobIndexCshtml.BeginContext(2869, 22, true);
          homeJobIndexCshtml.WriteLiteral("\r\n                    ");
          homeJobIndexCshtml.EndContext();
          homeJobIndexCshtml.BeginContext(2891, 134, false);
          // ISSUE: reference to a compiler-generated method
          homeJobIndexCshtml.__tagHelperExecutionContext = homeJobIndexCshtml.__tagHelperScopeManager.Begin("a", TagMode.StartTagAndEndTag, "670e01fb1bbc41e7b1c5407ee730f02b", new Func<Task>(homeJobIndexCshtml.\u003CExecuteAsync\u003Eb__19_7));
          homeJobIndexCshtml.__Microsoft_AspNetCore_Mvc_TagHelpers_AnchorTagHelper = homeJobIndexCshtml.CreateTagHelper<AnchorTagHelper>();
          homeJobIndexCshtml.__tagHelperExecutionContext.Add((ITagHelper) homeJobIndexCshtml.__Microsoft_AspNetCore_Mvc_TagHelpers_AnchorTagHelper);
          homeJobIndexCshtml.__Microsoft_AspNetCore_Mvc_TagHelpers_AnchorTagHelper.Action = (string) _Views_Home_JobIndex_cshtml.__tagHelperAttribute_9.Value;
          homeJobIndexCshtml.__tagHelperExecutionContext.AddTagHelperAttribute(_Views_Home_JobIndex_cshtml.__tagHelperAttribute_9);
          if (homeJobIndexCshtml.__Microsoft_AspNetCore_Mvc_TagHelpers_AnchorTagHelper.RouteValues == null)
            throw new InvalidOperationException(homeJobIndexCshtml.InvalidTagHelperIndexerAssignment("asp-route-id", "Microsoft.AspNetCore.Mvc.TagHelpers.AnchorTagHelper", "RouteValues"));
          homeJobIndexCshtml.BeginWriteTagHelperAttribute();
          homeJobIndexCshtml.WriteLiteral((object) item.id);
          homeJobIndexCshtml.__tagHelperStringValueBuffer = homeJobIndexCshtml.EndWriteTagHelperAttribute();
          homeJobIndexCshtml.__Microsoft_AspNetCore_Mvc_TagHelpers_AnchorTagHelper.RouteValues["id"] = homeJobIndexCshtml.__tagHelperStringValueBuffer;
          homeJobIndexCshtml.__tagHelperExecutionContext.AddTagHelperAttribute("asp-route-id", (object) homeJobIndexCshtml.__Microsoft_AspNetCore_Mvc_TagHelpers_AnchorTagHelper.RouteValues["id"], HtmlAttributeValueStyle.DoubleQuotes);
          homeJobIndexCshtml.__tagHelperExecutionContext.AddHtmlAttribute(_Views_Home_JobIndex_cshtml.__tagHelperAttribute_10);
          homeJobIndexCshtml.__tagHelperExecutionContext.AddHtmlAttribute(_Views_Home_JobIndex_cshtml.__tagHelperAttribute_11);
          await homeJobIndexCshtml.__tagHelperRunner.RunAsync(homeJobIndexCshtml.__tagHelperExecutionContext);
          if (!homeJobIndexCshtml.__tagHelperExecutionContext.Output.IsContentModified)
            await homeJobIndexCshtml.__tagHelperExecutionContext.SetOutputContentAsync();
          homeJobIndexCshtml.Write((object) homeJobIndexCshtml.__tagHelperExecutionContext.Output);
          homeJobIndexCshtml.__tagHelperExecutionContext = homeJobIndexCshtml.__tagHelperScopeManager.End();
          homeJobIndexCshtml.EndContext();
          homeJobIndexCshtml.BeginContext(3025, 60, true);
          homeJobIndexCshtml.WriteLiteral("\r\n                </div>\r\n            </td>\r\n        </tr>\r\n");
          homeJobIndexCshtml.EndContext();
        }
      }
      homeJobIndexCshtml.BeginContext(3111, 248, true);
      homeJobIndexCshtml.WriteLiteral("    </tbody>\r\n</table>\r\n<script>\r\n    function StopConfirm() {\r\n        return confirm(\"Are you going to stop really?\");\r\n    }\r\n\r\n    function RemoveConfirm() {\r\n        return confirm(\"Are you going to remove folder really?\");\r\n    }\r\n</script>\r\n");
      homeJobIndexCshtml.EndContext();
    }

    [RazorInject]
    public IModelExpressionProvider ModelExpressionProvider { get; private set; }

    [RazorInject]
    public IUrlHelper Url { get; private set; }

    [RazorInject]
    public IViewComponentHelper Component { get; private set; }

    [RazorInject]
    public IJsonHelper Json { get; private set; }

    [RazorInject]
    public IHtmlHelper<IEnumerable<trafficjob>> Html { get; private set; }
  }
}
