// Decompiled with JetBrains decompiler
// Type: AspNetCore._Views_Home_OverLink_cshtml
// Assembly: Traffic.PrecompiledViews, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null
// MVID: 8B37BA40-0390-40A7-A536-D9CCDBC36390
// Assembly location: D:\Workstation\TonniProjects\TrafficWebDeploy\Traffic.PrecompiledViews.dll

using Microsoft.AspNetCore.Html;
using Microsoft.AspNetCore.Mvc;
using Microsoft.AspNetCore.Mvc.Razor;
using Microsoft.AspNetCore.Mvc.Razor.Internal;
using Microsoft.AspNetCore.Mvc.Rendering;
using Microsoft.AspNetCore.Mvc.TagHelpers;
using Microsoft.AspNetCore.Mvc.ViewFeatures;
using Microsoft.AspNetCore.Razor.Runtime.TagHelpers;
using Microsoft.AspNetCore.Razor.TagHelpers;
using Microsoft.CSharp.RuntimeBinder;
using System;
using System.Collections;
using System.Collections.Generic;
using System.Linq.Expressions;
using System.Runtime.CompilerServices;
using System.Text.Encodings.Web;
using System.Threading.Tasks;
using Traffic.Models;

namespace AspNetCore
{
  public class _Views_Home_OverLink_cshtml : RazorPage<IEnumerable<overviewtool>>
  {
    private static readonly TagHelperAttribute __tagHelperAttribute_0 = new TagHelperAttribute("asp-action", (object) "OverLink", HtmlAttributeValueStyle.DoubleQuotes);
    private static readonly TagHelperAttribute __tagHelperAttribute_1 = new TagHelperAttribute("class", (object) new HtmlString("btn btn-success btn-xs"), HtmlAttributeValueStyle.DoubleQuotes);
    private static readonly TagHelperAttribute __tagHelperAttribute_2 = new TagHelperAttribute("asp-action", (object) "DeleteToolProject", HtmlAttributeValueStyle.DoubleQuotes);
    private static readonly TagHelperAttribute __tagHelperAttribute_3 = new TagHelperAttribute("class", (object) new HtmlString("btn btn-danger btn-xs"), HtmlAttributeValueStyle.DoubleQuotes);
    private static readonly TagHelperAttribute __tagHelperAttribute_4 = new TagHelperAttribute("onclick", (object) new HtmlString("return DeleteConfirm();"), HtmlAttributeValueStyle.DoubleQuotes);
    private string __tagHelperStringValueBuffer;
    private TagHelperExecutionContext __tagHelperExecutionContext;
    private TagHelperRunner __tagHelperRunner = new TagHelperRunner();
    private TagHelperScopeManager __backed__tagHelperScopeManager;
    private AnchorTagHelper __Microsoft_AspNetCore_Mvc_TagHelpers_AnchorTagHelper;

    private TagHelperScopeManager __tagHelperScopeManager
    {
      get
      {
        if (this.__backed__tagHelperScopeManager == null)
          this.__backed__tagHelperScopeManager = new TagHelperScopeManager(new Action<HtmlEncoder>(((RazorPageBase) this).StartTagHelperWritingScope), new Func<TagHelperContent>(((RazorPageBase) this).EndTagHelperWritingScope));
        return this.__backed__tagHelperScopeManager;
      }
    }

    public virtual async Task ExecuteAsync()
    {
      _Views_Home_OverLink_cshtml homeOverLinkCshtml1 = this;
      homeOverLinkCshtml1.ViewData["Title"] = (object) "Overview Tool";
      // ISSUE: explicit non-virtual call
      __nonvirtual (homeOverLinkCshtml1.Layout) = "~/Views/Shared/_Layout.cshtml";
      homeOverLinkCshtml1.BeginContext(145, 717, true);
      homeOverLinkCshtml1.WriteLiteral("\r\n<h2>Website Sub Link</h2>\r\n\r\n</br>\r\n\r\n<style>\r\n    .crop {\r\n        white-space: nowrap;\r\n        overflow: hidden;\r\n        text-overflow: ellipsis\r\n    }\r\n\r\n    .btn-disable {\r\n        cursor: not-allowed;\r\n        pointer-events: none;\r\n        /*Button disabled - CSS color class*/\r\n        color: #c0c0c0;\r\n        background-color: #ffffff;\r\n    }\r\n    td{\r\n        max-width:800px\r\n    }\r\n</style>\r\n\r\n<table class=\"table\">\r\n    <thead>\r\n        <tr>\r\n            <th style=\"width: 20%;text-align:center;\">\r\n                Main Url\r\n            </th>\r\n            <th style=\"width: 30%;text-align:center;\">\r\n                Sub Url\r\n            </th>\r\n            <th style=\"width: 25%;text-align:center;\">\r\n");
      homeOverLinkCshtml1.EndContext();
      // ISSUE: reference to a compiler-generated field
      if (_Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__2 == null)
      {
        // ISSUE: reference to a compiler-generated field
        _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__2 = CallSite<Func<CallSite, object, bool>>.Create(Binder.UnaryOperation(CSharpBinderFlags.None, ExpressionType.IsTrue, typeof (_Views_Home_OverLink_cshtml), (IEnumerable<CSharpArgumentInfo>) new CSharpArgumentInfo[1]
        {
          CSharpArgumentInfo.Create(CSharpArgumentInfoFlags.None, (string) null)
        }));
      }
      // ISSUE: reference to a compiler-generated field
      Func<CallSite, object, bool> target1 = _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__2.Target;
      // ISSUE: reference to a compiler-generated field
      CallSite<Func<CallSite, object, bool>> p2 = _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__2;
      // ISSUE: reference to a compiler-generated field
      if (_Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__1 == null)
      {
        // ISSUE: reference to a compiler-generated field
        _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__1 = CallSite<Func<CallSite, object, int, object>>.Create(Binder.BinaryOperation(CSharpBinderFlags.None, ExpressionType.NotEqual, typeof (_Views_Home_OverLink_cshtml), (IEnumerable<CSharpArgumentInfo>) new CSharpArgumentInfo[2]
        {
          CSharpArgumentInfo.Create(CSharpArgumentInfoFlags.None, (string) null),
          CSharpArgumentInfo.Create(CSharpArgumentInfoFlags.UseCompileTimeType | CSharpArgumentInfoFlags.Constant, (string) null)
        }));
      }
      // ISSUE: reference to a compiler-generated field
      Func<CallSite, object, int, object> target2 = _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__1.Target;
      // ISSUE: reference to a compiler-generated field
      CallSite<Func<CallSite, object, int, object>> p1 = _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__1;
      // ISSUE: reference to a compiler-generated field
      if (_Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__0 == null)
      {
        // ISSUE: reference to a compiler-generated field
        _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__0 = CallSite<Func<CallSite, object, object>>.Create(Binder.GetMember(CSharpBinderFlags.None, "mid", typeof (_Views_Home_OverLink_cshtml), (IEnumerable<CSharpArgumentInfo>) new CSharpArgumentInfo[1]
        {
          CSharpArgumentInfo.Create(CSharpArgumentInfoFlags.None, (string) null)
        }));
      }
      // ISSUE: reference to a compiler-generated field
      // ISSUE: reference to a compiler-generated field
      object obj1 = _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__0.Target((CallSite) _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__0, homeOverLinkCshtml1.ViewBag);
      object obj2 = target2((CallSite) p1, obj1, 0);
      if (target1((CallSite) p2, obj2))
      {
        homeOverLinkCshtml1.BeginContext(922, 48, true);
        homeOverLinkCshtml1.WriteLiteral("                    <button class=\"btn btn-info\"");
        homeOverLinkCshtml1.EndContext();
        homeOverLinkCshtml1.BeginWriteAttribute("onclick", " onclick=\"", 970, "\"", 1025, 6);
        homeOverLinkCshtml1.WriteAttributeValue("", 980, (object) "return", 980, 6, true);
        homeOverLinkCshtml1.WriteAttributeValue(" ", 986, (object) "ScrapUrl('", 987, 11, true);
        // ISSUE: reference to a compiler-generated field
        if (_Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__4 == null)
        {
          // ISSUE: reference to a compiler-generated field
          _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__4 = CallSite<Action<CallSite, _Views_Home_OverLink_cshtml, string, int, object, int, int, bool>>.Create(Binder.InvokeMember(CSharpBinderFlags.InvokeSimpleName | CSharpBinderFlags.ResultDiscarded, "WriteAttributeValue", (IEnumerable<Type>) null, typeof (_Views_Home_OverLink_cshtml), (IEnumerable<CSharpArgumentInfo>) new CSharpArgumentInfo[7]
          {
            CSharpArgumentInfo.Create(CSharpArgumentInfoFlags.UseCompileTimeType, (string) null),
            CSharpArgumentInfo.Create(CSharpArgumentInfoFlags.UseCompileTimeType | CSharpArgumentInfoFlags.Constant, (string) null),
            CSharpArgumentInfo.Create(CSharpArgumentInfoFlags.UseCompileTimeType | CSharpArgumentInfoFlags.Constant, (string) null),
            CSharpArgumentInfo.Create(CSharpArgumentInfoFlags.None, (string) null),
            CSharpArgumentInfo.Create(CSharpArgumentInfoFlags.UseCompileTimeType | CSharpArgumentInfoFlags.Constant, (string) null),
            CSharpArgumentInfo.Create(CSharpArgumentInfoFlags.UseCompileTimeType | CSharpArgumentInfoFlags.Constant, (string) null),
            CSharpArgumentInfo.Create(CSharpArgumentInfoFlags.UseCompileTimeType | CSharpArgumentInfoFlags.Constant, (string) null)
          }));
        }
        // ISSUE: reference to a compiler-generated field
        Action<CallSite, _Views_Home_OverLink_cshtml, string, int, object, int, int, bool> target3 = _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__4.Target;
        // ISSUE: reference to a compiler-generated field
        CallSite<Action<CallSite, _Views_Home_OverLink_cshtml, string, int, object, int, int, bool>> p4 = _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__4;
        _Views_Home_OverLink_cshtml homeOverLinkCshtml2 = homeOverLinkCshtml1;
        // ISSUE: reference to a compiler-generated field
        if (_Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__3 == null)
        {
          // ISSUE: reference to a compiler-generated field
          _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__3 = CallSite<Func<CallSite, object, object>>.Create(Binder.GetMember(CSharpBinderFlags.None, "URL", typeof (_Views_Home_OverLink_cshtml), (IEnumerable<CSharpArgumentInfo>) new CSharpArgumentInfo[1]
          {
            CSharpArgumentInfo.Create(CSharpArgumentInfoFlags.None, (string) null)
          }));
        }
        // ISSUE: reference to a compiler-generated field
        // ISSUE: reference to a compiler-generated field
        object obj3 = _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__3.Target((CallSite) _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__3, homeOverLinkCshtml1.ViewBag);
        target3((CallSite) p4, homeOverLinkCshtml2, "", 997, obj3, 997, 12, false);
        homeOverLinkCshtml1.WriteAttributeValue("", 1009, (object) "',", 1009, 2, true);
        // ISSUE: reference to a compiler-generated field
        if (_Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__6 == null)
        {
          // ISSUE: reference to a compiler-generated field
          _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__6 = CallSite<Action<CallSite, _Views_Home_OverLink_cshtml, string, int, object, int, int, bool>>.Create(Binder.InvokeMember(CSharpBinderFlags.InvokeSimpleName | CSharpBinderFlags.ResultDiscarded, "WriteAttributeValue", (IEnumerable<Type>) null, typeof (_Views_Home_OverLink_cshtml), (IEnumerable<CSharpArgumentInfo>) new CSharpArgumentInfo[7]
          {
            CSharpArgumentInfo.Create(CSharpArgumentInfoFlags.UseCompileTimeType, (string) null),
            CSharpArgumentInfo.Create(CSharpArgumentInfoFlags.UseCompileTimeType | CSharpArgumentInfoFlags.Constant, (string) null),
            CSharpArgumentInfo.Create(CSharpArgumentInfoFlags.UseCompileTimeType | CSharpArgumentInfoFlags.Constant, (string) null),
            CSharpArgumentInfo.Create(CSharpArgumentInfoFlags.None, (string) null),
            CSharpArgumentInfo.Create(CSharpArgumentInfoFlags.UseCompileTimeType | CSharpArgumentInfoFlags.Constant, (string) null),
            CSharpArgumentInfo.Create(CSharpArgumentInfoFlags.UseCompileTimeType | CSharpArgumentInfoFlags.Constant, (string) null),
            CSharpArgumentInfo.Create(CSharpArgumentInfoFlags.UseCompileTimeType | CSharpArgumentInfoFlags.Constant, (string) null)
          }));
        }
        // ISSUE: reference to a compiler-generated field
        Action<CallSite, _Views_Home_OverLink_cshtml, string, int, object, int, int, bool> target4 = _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__6.Target;
        // ISSUE: reference to a compiler-generated field
        CallSite<Action<CallSite, _Views_Home_OverLink_cshtml, string, int, object, int, int, bool>> p6 = _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__6;
        _Views_Home_OverLink_cshtml homeOverLinkCshtml3 = homeOverLinkCshtml1;
        // ISSUE: reference to a compiler-generated field
        if (_Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__5 == null)
        {
          // ISSUE: reference to a compiler-generated field
          _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__5 = CallSite<Func<CallSite, object, object>>.Create(Binder.GetMember(CSharpBinderFlags.None, "pid", typeof (_Views_Home_OverLink_cshtml), (IEnumerable<CSharpArgumentInfo>) new CSharpArgumentInfo[1]
          {
            CSharpArgumentInfo.Create(CSharpArgumentInfoFlags.None, (string) null)
          }));
        }
        // ISSUE: reference to a compiler-generated field
        // ISSUE: reference to a compiler-generated field
        object obj4 = _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__5.Target((CallSite) _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__5, homeOverLinkCshtml1.ViewBag);
        target4((CallSite) p6, homeOverLinkCshtml3, "", 1011, obj4, 1011, 12, false);
        homeOverLinkCshtml1.WriteAttributeValue("", 1023, (object) ");", 1023, 2, true);
        homeOverLinkCshtml1.EndWriteAttribute();
        homeOverLinkCshtml1.BeginContext(1026, 26, true);
        homeOverLinkCshtml1.WriteLiteral(">Scrap Sub Link</button>\r\n");
        homeOverLinkCshtml1.EndContext();
      }
      homeOverLinkCshtml1.BeginContext(1071, 16, true);
      homeOverLinkCshtml1.WriteLiteral("                ");
      homeOverLinkCshtml1.EndContext();
      // ISSUE: reference to a compiler-generated field
      if (_Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__9 == null)
      {
        // ISSUE: reference to a compiler-generated field
        _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__9 = CallSite<Func<CallSite, object, bool>>.Create(Binder.UnaryOperation(CSharpBinderFlags.None, ExpressionType.IsTrue, typeof (_Views_Home_OverLink_cshtml), (IEnumerable<CSharpArgumentInfo>) new CSharpArgumentInfo[1]
        {
          CSharpArgumentInfo.Create(CSharpArgumentInfoFlags.None, (string) null)
        }));
      }
      // ISSUE: reference to a compiler-generated field
      Func<CallSite, object, bool> target5 = _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__9.Target;
      // ISSUE: reference to a compiler-generated field
      CallSite<Func<CallSite, object, bool>> p9 = _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__9;
      // ISSUE: reference to a compiler-generated field
      if (_Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__8 == null)
      {
        // ISSUE: reference to a compiler-generated field
        _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__8 = CallSite<Func<CallSite, object, int, object>>.Create(Binder.BinaryOperation(CSharpBinderFlags.None, ExpressionType.Equal, typeof (_Views_Home_OverLink_cshtml), (IEnumerable<CSharpArgumentInfo>) new CSharpArgumentInfo[2]
        {
          CSharpArgumentInfo.Create(CSharpArgumentInfoFlags.None, (string) null),
          CSharpArgumentInfo.Create(CSharpArgumentInfoFlags.UseCompileTimeType | CSharpArgumentInfoFlags.Constant, (string) null)
        }));
      }
      // ISSUE: reference to a compiler-generated field
      Func<CallSite, object, int, object> target6 = _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__8.Target;
      // ISSUE: reference to a compiler-generated field
      CallSite<Func<CallSite, object, int, object>> p8 = _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__8;
      // ISSUE: reference to a compiler-generated field
      if (_Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__7 == null)
      {
        // ISSUE: reference to a compiler-generated field
        _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__7 = CallSite<Func<CallSite, object, object>>.Create(Binder.GetMember(CSharpBinderFlags.None, "mid", typeof (_Views_Home_OverLink_cshtml), (IEnumerable<CSharpArgumentInfo>) new CSharpArgumentInfo[1]
        {
          CSharpArgumentInfo.Create(CSharpArgumentInfoFlags.None, (string) null)
        }));
      }
      // ISSUE: reference to a compiler-generated field
      // ISSUE: reference to a compiler-generated field
      object obj5 = _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__7.Target((CallSite) _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__7, homeOverLinkCshtml1.ViewBag);
      object obj6 = target6((CallSite) p8, obj5, 0);
      if (target5((CallSite) p9, obj6))
      {
        homeOverLinkCshtml1.BeginContext(1153, 48, true);
        homeOverLinkCshtml1.WriteLiteral("                    <button class=\"btn btn-info\"");
        homeOverLinkCshtml1.EndContext();
        homeOverLinkCshtml1.BeginWriteAttribute("onclick", " onclick=\"", 1201, "\"", 1255, 6);
        homeOverLinkCshtml1.WriteAttributeValue("", 1211, (object) "return", 1211, 6, true);
        homeOverLinkCshtml1.WriteAttributeValue(" ", 1217, (object) "ScrapUrl('", 1218, 11, true);
        // ISSUE: reference to a compiler-generated field
        if (_Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__11 == null)
        {
          // ISSUE: reference to a compiler-generated field
          _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__11 = CallSite<Action<CallSite, _Views_Home_OverLink_cshtml, string, int, object, int, int, bool>>.Create(Binder.InvokeMember(CSharpBinderFlags.InvokeSimpleName | CSharpBinderFlags.ResultDiscarded, "WriteAttributeValue", (IEnumerable<Type>) null, typeof (_Views_Home_OverLink_cshtml), (IEnumerable<CSharpArgumentInfo>) new CSharpArgumentInfo[7]
          {
            CSharpArgumentInfo.Create(CSharpArgumentInfoFlags.UseCompileTimeType, (string) null),
            CSharpArgumentInfo.Create(CSharpArgumentInfoFlags.UseCompileTimeType | CSharpArgumentInfoFlags.Constant, (string) null),
            CSharpArgumentInfo.Create(CSharpArgumentInfoFlags.UseCompileTimeType | CSharpArgumentInfoFlags.Constant, (string) null),
            CSharpArgumentInfo.Create(CSharpArgumentInfoFlags.None, (string) null),
            CSharpArgumentInfo.Create(CSharpArgumentInfoFlags.UseCompileTimeType | CSharpArgumentInfoFlags.Constant, (string) null),
            CSharpArgumentInfo.Create(CSharpArgumentInfoFlags.UseCompileTimeType | CSharpArgumentInfoFlags.Constant, (string) null),
            CSharpArgumentInfo.Create(CSharpArgumentInfoFlags.UseCompileTimeType | CSharpArgumentInfoFlags.Constant, (string) null)
          }));
        }
        // ISSUE: reference to a compiler-generated field
        Action<CallSite, _Views_Home_OverLink_cshtml, string, int, object, int, int, bool> target7 = _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__11.Target;
        // ISSUE: reference to a compiler-generated field
        CallSite<Action<CallSite, _Views_Home_OverLink_cshtml, string, int, object, int, int, bool>> p11 = _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__11;
        _Views_Home_OverLink_cshtml homeOverLinkCshtml4 = homeOverLinkCshtml1;
        // ISSUE: reference to a compiler-generated field
        if (_Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__10 == null)
        {
          // ISSUE: reference to a compiler-generated field
          _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__10 = CallSite<Func<CallSite, object, object>>.Create(Binder.GetMember(CSharpBinderFlags.None, "URL", typeof (_Views_Home_OverLink_cshtml), (IEnumerable<CSharpArgumentInfo>) new CSharpArgumentInfo[1]
          {
            CSharpArgumentInfo.Create(CSharpArgumentInfoFlags.None, (string) null)
          }));
        }
        // ISSUE: reference to a compiler-generated field
        // ISSUE: reference to a compiler-generated field
        object obj7 = _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__10.Target((CallSite) _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__10, homeOverLinkCshtml1.ViewBag);
        target7((CallSite) p11, homeOverLinkCshtml4, "", 1228, obj7, 1228, 12, false);
        homeOverLinkCshtml1.WriteAttributeValue("", 1240, (object) "',", 1240, 2, true);
        // ISSUE: reference to a compiler-generated field
        if (_Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__13 == null)
        {
          // ISSUE: reference to a compiler-generated field
          _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__13 = CallSite<Action<CallSite, _Views_Home_OverLink_cshtml, string, int, object, int, int, bool>>.Create(Binder.InvokeMember(CSharpBinderFlags.InvokeSimpleName | CSharpBinderFlags.ResultDiscarded, "WriteAttributeValue", (IEnumerable<Type>) null, typeof (_Views_Home_OverLink_cshtml), (IEnumerable<CSharpArgumentInfo>) new CSharpArgumentInfo[7]
          {
            CSharpArgumentInfo.Create(CSharpArgumentInfoFlags.UseCompileTimeType, (string) null),
            CSharpArgumentInfo.Create(CSharpArgumentInfoFlags.UseCompileTimeType | CSharpArgumentInfoFlags.Constant, (string) null),
            CSharpArgumentInfo.Create(CSharpArgumentInfoFlags.UseCompileTimeType | CSharpArgumentInfoFlags.Constant, (string) null),
            CSharpArgumentInfo.Create(CSharpArgumentInfoFlags.None, (string) null),
            CSharpArgumentInfo.Create(CSharpArgumentInfoFlags.UseCompileTimeType | CSharpArgumentInfoFlags.Constant, (string) null),
            CSharpArgumentInfo.Create(CSharpArgumentInfoFlags.UseCompileTimeType | CSharpArgumentInfoFlags.Constant, (string) null),
            CSharpArgumentInfo.Create(CSharpArgumentInfoFlags.UseCompileTimeType | CSharpArgumentInfoFlags.Constant, (string) null)
          }));
        }
        // ISSUE: reference to a compiler-generated field
        Action<CallSite, _Views_Home_OverLink_cshtml, string, int, object, int, int, bool> target8 = _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__13.Target;
        // ISSUE: reference to a compiler-generated field
        CallSite<Action<CallSite, _Views_Home_OverLink_cshtml, string, int, object, int, int, bool>> p13 = _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__13;
        _Views_Home_OverLink_cshtml homeOverLinkCshtml5 = homeOverLinkCshtml1;
        // ISSUE: reference to a compiler-generated field
        if (_Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__12 == null)
        {
          // ISSUE: reference to a compiler-generated field
          _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__12 = CallSite<Func<CallSite, object, object>>.Create(Binder.GetMember(CSharpBinderFlags.None, "id", typeof (_Views_Home_OverLink_cshtml), (IEnumerable<CSharpArgumentInfo>) new CSharpArgumentInfo[1]
          {
            CSharpArgumentInfo.Create(CSharpArgumentInfoFlags.None, (string) null)
          }));
        }
        // ISSUE: reference to a compiler-generated field
        // ISSUE: reference to a compiler-generated field
        object obj8 = _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__12.Target((CallSite) _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__12, homeOverLinkCshtml1.ViewBag);
        target8((CallSite) p13, homeOverLinkCshtml5, "", 1242, obj8, 1242, 11, false);
        homeOverLinkCshtml1.WriteAttributeValue("", 1253, (object) ");", 1253, 2, true);
        homeOverLinkCshtml1.EndWriteAttribute();
        homeOverLinkCshtml1.BeginContext(1256, 26, true);
        homeOverLinkCshtml1.WriteLiteral(">Scrap Sub Link</button>\r\n");
        homeOverLinkCshtml1.EndContext();
      }
      homeOverLinkCshtml1.BeginContext(1301, 151, true);
      homeOverLinkCshtml1.WriteLiteral("            </th>\r\n            <th style=\"width: 5%;text-align:center;\">\r\n\r\n            </th>\r\n            <th style=\"width: 20%;text-align:center;\">\r\n");
      homeOverLinkCshtml1.EndContext();
      // ISSUE: reference to a compiler-generated field
      if (_Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__16 == null)
      {
        // ISSUE: reference to a compiler-generated field
        _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__16 = CallSite<Func<CallSite, object, bool>>.Create(Binder.UnaryOperation(CSharpBinderFlags.None, ExpressionType.IsTrue, typeof (_Views_Home_OverLink_cshtml), (IEnumerable<CSharpArgumentInfo>) new CSharpArgumentInfo[1]
        {
          CSharpArgumentInfo.Create(CSharpArgumentInfoFlags.None, (string) null)
        }));
      }
      // ISSUE: reference to a compiler-generated field
      Func<CallSite, object, bool> target9 = _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__16.Target;
      // ISSUE: reference to a compiler-generated field
      CallSite<Func<CallSite, object, bool>> p16 = _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__16;
      // ISSUE: reference to a compiler-generated field
      if (_Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__15 == null)
      {
        // ISSUE: reference to a compiler-generated field
        _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__15 = CallSite<Func<CallSite, object, int, object>>.Create(Binder.BinaryOperation(CSharpBinderFlags.None, ExpressionType.NotEqual, typeof (_Views_Home_OverLink_cshtml), (IEnumerable<CSharpArgumentInfo>) new CSharpArgumentInfo[2]
        {
          CSharpArgumentInfo.Create(CSharpArgumentInfoFlags.None, (string) null),
          CSharpArgumentInfo.Create(CSharpArgumentInfoFlags.UseCompileTimeType | CSharpArgumentInfoFlags.Constant, (string) null)
        }));
      }
      // ISSUE: reference to a compiler-generated field
      Func<CallSite, object, int, object> target10 = _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__15.Target;
      // ISSUE: reference to a compiler-generated field
      CallSite<Func<CallSite, object, int, object>> p15 = _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__15;
      // ISSUE: reference to a compiler-generated field
      if (_Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__14 == null)
      {
        // ISSUE: reference to a compiler-generated field
        _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__14 = CallSite<Func<CallSite, object, object>>.Create(Binder.GetMember(CSharpBinderFlags.None, "mid", typeof (_Views_Home_OverLink_cshtml), (IEnumerable<CSharpArgumentInfo>) new CSharpArgumentInfo[1]
        {
          CSharpArgumentInfo.Create(CSharpArgumentInfoFlags.None, (string) null)
        }));
      }
      // ISSUE: reference to a compiler-generated field
      // ISSUE: reference to a compiler-generated field
      object obj9 = _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__14.Target((CallSite) _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__14, homeOverLinkCshtml1.ViewBag);
      object obj10 = target10((CallSite) p15, obj9, 0);
      if (target9((CallSite) p16, obj10))
      {
        homeOverLinkCshtml1.BeginContext(1596, 48, true);
        homeOverLinkCshtml1.WriteLiteral("                    <button class=\"btn btn-info\"");
        homeOverLinkCshtml1.EndContext();
        homeOverLinkCshtml1.BeginWriteAttribute("onclick", " onclick=\"", 1644, "\"", 1684, 4);
        homeOverLinkCshtml1.WriteAttributeValue("", 1654, (object) "return", 1654, 6, true);
        homeOverLinkCshtml1.WriteAttributeValue(" ", 1660, (object) "AddUrl('", 1661, 9, true);
        // ISSUE: reference to a compiler-generated field
        if (_Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__18 == null)
        {
          // ISSUE: reference to a compiler-generated field
          _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__18 = CallSite<Action<CallSite, _Views_Home_OverLink_cshtml, string, int, object, int, int, bool>>.Create(Binder.InvokeMember(CSharpBinderFlags.InvokeSimpleName | CSharpBinderFlags.ResultDiscarded, "WriteAttributeValue", (IEnumerable<Type>) null, typeof (_Views_Home_OverLink_cshtml), (IEnumerable<CSharpArgumentInfo>) new CSharpArgumentInfo[7]
          {
            CSharpArgumentInfo.Create(CSharpArgumentInfoFlags.UseCompileTimeType, (string) null),
            CSharpArgumentInfo.Create(CSharpArgumentInfoFlags.UseCompileTimeType | CSharpArgumentInfoFlags.Constant, (string) null),
            CSharpArgumentInfo.Create(CSharpArgumentInfoFlags.UseCompileTimeType | CSharpArgumentInfoFlags.Constant, (string) null),
            CSharpArgumentInfo.Create(CSharpArgumentInfoFlags.None, (string) null),
            CSharpArgumentInfo.Create(CSharpArgumentInfoFlags.UseCompileTimeType | CSharpArgumentInfoFlags.Constant, (string) null),
            CSharpArgumentInfo.Create(CSharpArgumentInfoFlags.UseCompileTimeType | CSharpArgumentInfoFlags.Constant, (string) null),
            CSharpArgumentInfo.Create(CSharpArgumentInfoFlags.UseCompileTimeType | CSharpArgumentInfoFlags.Constant, (string) null)
          }));
        }
        // ISSUE: reference to a compiler-generated field
        Action<CallSite, _Views_Home_OverLink_cshtml, string, int, object, int, int, bool> target11 = _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__18.Target;
        // ISSUE: reference to a compiler-generated field
        CallSite<Action<CallSite, _Views_Home_OverLink_cshtml, string, int, object, int, int, bool>> p18 = _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__18;
        _Views_Home_OverLink_cshtml homeOverLinkCshtml6 = homeOverLinkCshtml1;
        // ISSUE: reference to a compiler-generated field
        if (_Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__17 == null)
        {
          // ISSUE: reference to a compiler-generated field
          _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__17 = CallSite<Func<CallSite, object, object>>.Create(Binder.GetMember(CSharpBinderFlags.None, "pid", typeof (_Views_Home_OverLink_cshtml), (IEnumerable<CSharpArgumentInfo>) new CSharpArgumentInfo[1]
          {
            CSharpArgumentInfo.Create(CSharpArgumentInfoFlags.None, (string) null)
          }));
        }
        // ISSUE: reference to a compiler-generated field
        // ISSUE: reference to a compiler-generated field
        object obj11 = _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__17.Target((CallSite) _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__17, homeOverLinkCshtml1.ViewBag);
        target11((CallSite) p18, homeOverLinkCshtml6, "", 1669, obj11, 1669, 12, false);
        homeOverLinkCshtml1.WriteAttributeValue("", 1681, (object) "');", 1681, 3, true);
        homeOverLinkCshtml1.EndWriteAttribute();
        homeOverLinkCshtml1.BeginContext(1685, 24, true);
        homeOverLinkCshtml1.WriteLiteral(">Add Sub Link</button>\r\n");
        homeOverLinkCshtml1.EndContext();
      }
      homeOverLinkCshtml1.BeginContext(1728, 16, true);
      homeOverLinkCshtml1.WriteLiteral("                ");
      homeOverLinkCshtml1.EndContext();
      // ISSUE: reference to a compiler-generated field
      if (_Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__21 == null)
      {
        // ISSUE: reference to a compiler-generated field
        _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__21 = CallSite<Func<CallSite, object, bool>>.Create(Binder.UnaryOperation(CSharpBinderFlags.None, ExpressionType.IsTrue, typeof (_Views_Home_OverLink_cshtml), (IEnumerable<CSharpArgumentInfo>) new CSharpArgumentInfo[1]
        {
          CSharpArgumentInfo.Create(CSharpArgumentInfoFlags.None, (string) null)
        }));
      }
      // ISSUE: reference to a compiler-generated field
      Func<CallSite, object, bool> target12 = _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__21.Target;
      // ISSUE: reference to a compiler-generated field
      CallSite<Func<CallSite, object, bool>> p21 = _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__21;
      // ISSUE: reference to a compiler-generated field
      if (_Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__20 == null)
      {
        // ISSUE: reference to a compiler-generated field
        _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__20 = CallSite<Func<CallSite, object, int, object>>.Create(Binder.BinaryOperation(CSharpBinderFlags.None, ExpressionType.Equal, typeof (_Views_Home_OverLink_cshtml), (IEnumerable<CSharpArgumentInfo>) new CSharpArgumentInfo[2]
        {
          CSharpArgumentInfo.Create(CSharpArgumentInfoFlags.None, (string) null),
          CSharpArgumentInfo.Create(CSharpArgumentInfoFlags.UseCompileTimeType | CSharpArgumentInfoFlags.Constant, (string) null)
        }));
      }
      // ISSUE: reference to a compiler-generated field
      Func<CallSite, object, int, object> target13 = _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__20.Target;
      // ISSUE: reference to a compiler-generated field
      CallSite<Func<CallSite, object, int, object>> p20 = _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__20;
      // ISSUE: reference to a compiler-generated field
      if (_Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__19 == null)
      {
        // ISSUE: reference to a compiler-generated field
        _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__19 = CallSite<Func<CallSite, object, object>>.Create(Binder.GetMember(CSharpBinderFlags.None, "mid", typeof (_Views_Home_OverLink_cshtml), (IEnumerable<CSharpArgumentInfo>) new CSharpArgumentInfo[1]
        {
          CSharpArgumentInfo.Create(CSharpArgumentInfoFlags.None, (string) null)
        }));
      }
      // ISSUE: reference to a compiler-generated field
      // ISSUE: reference to a compiler-generated field
      object obj12 = _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__19.Target((CallSite) _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__19, homeOverLinkCshtml1.ViewBag);
      object obj13 = target13((CallSite) p20, obj12, 0);
      if (target12((CallSite) p21, obj13))
      {
        homeOverLinkCshtml1.BeginContext(1788, 48, true);
        homeOverLinkCshtml1.WriteLiteral("                    <button class=\"btn btn-info\"");
        homeOverLinkCshtml1.EndContext();
        homeOverLinkCshtml1.BeginWriteAttribute("onclick", " onclick=\"", 1836, "\"", 1875, 4);
        homeOverLinkCshtml1.WriteAttributeValue("", 1846, (object) "return", 1846, 6, true);
        homeOverLinkCshtml1.WriteAttributeValue(" ", 1852, (object) "AddUrl('", 1853, 9, true);
        // ISSUE: reference to a compiler-generated field
        if (_Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__23 == null)
        {
          // ISSUE: reference to a compiler-generated field
          _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__23 = CallSite<Action<CallSite, _Views_Home_OverLink_cshtml, string, int, object, int, int, bool>>.Create(Binder.InvokeMember(CSharpBinderFlags.InvokeSimpleName | CSharpBinderFlags.ResultDiscarded, "WriteAttributeValue", (IEnumerable<Type>) null, typeof (_Views_Home_OverLink_cshtml), (IEnumerable<CSharpArgumentInfo>) new CSharpArgumentInfo[7]
          {
            CSharpArgumentInfo.Create(CSharpArgumentInfoFlags.UseCompileTimeType, (string) null),
            CSharpArgumentInfo.Create(CSharpArgumentInfoFlags.UseCompileTimeType | CSharpArgumentInfoFlags.Constant, (string) null),
            CSharpArgumentInfo.Create(CSharpArgumentInfoFlags.UseCompileTimeType | CSharpArgumentInfoFlags.Constant, (string) null),
            CSharpArgumentInfo.Create(CSharpArgumentInfoFlags.None, (string) null),
            CSharpArgumentInfo.Create(CSharpArgumentInfoFlags.UseCompileTimeType | CSharpArgumentInfoFlags.Constant, (string) null),
            CSharpArgumentInfo.Create(CSharpArgumentInfoFlags.UseCompileTimeType | CSharpArgumentInfoFlags.Constant, (string) null),
            CSharpArgumentInfo.Create(CSharpArgumentInfoFlags.UseCompileTimeType | CSharpArgumentInfoFlags.Constant, (string) null)
          }));
        }
        // ISSUE: reference to a compiler-generated field
        Action<CallSite, _Views_Home_OverLink_cshtml, string, int, object, int, int, bool> target14 = _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__23.Target;
        // ISSUE: reference to a compiler-generated field
        CallSite<Action<CallSite, _Views_Home_OverLink_cshtml, string, int, object, int, int, bool>> p23 = _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__23;
        _Views_Home_OverLink_cshtml homeOverLinkCshtml7 = homeOverLinkCshtml1;
        // ISSUE: reference to a compiler-generated field
        if (_Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__22 == null)
        {
          // ISSUE: reference to a compiler-generated field
          _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__22 = CallSite<Func<CallSite, object, object>>.Create(Binder.GetMember(CSharpBinderFlags.None, "id", typeof (_Views_Home_OverLink_cshtml), (IEnumerable<CSharpArgumentInfo>) new CSharpArgumentInfo[1]
          {
            CSharpArgumentInfo.Create(CSharpArgumentInfoFlags.None, (string) null)
          }));
        }
        // ISSUE: reference to a compiler-generated field
        // ISSUE: reference to a compiler-generated field
        object obj14 = _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__22.Target((CallSite) _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__22, homeOverLinkCshtml1.ViewBag);
        target14((CallSite) p23, homeOverLinkCshtml7, "", 1861, obj14, 1861, 11, false);
        homeOverLinkCshtml1.WriteAttributeValue("", 1872, (object) "');", 1872, 3, true);
        homeOverLinkCshtml1.EndWriteAttribute();
        homeOverLinkCshtml1.BeginContext(1876, 24, true);
        homeOverLinkCshtml1.WriteLiteral(">Add Sub Link</button>\r\n");
        homeOverLinkCshtml1.EndContext();
      }
      homeOverLinkCshtml1.BeginContext(1919, 197, true);
      homeOverLinkCshtml1.WriteLiteral("            </th>\r\n        </tr>\r\n    </thead>\r\n    <tbody>\r\n        <tr style=\"background-color:#ebeeef;\">\r\n            <td style=\"text-align:center;\">\r\n                <div>\r\n                    ");
      homeOverLinkCshtml1.EndContext();
      homeOverLinkCshtml1.BeginContext(2117, 11, false);
      // ISSUE: reference to a compiler-generated field
      if (_Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__25 == null)
      {
        // ISSUE: reference to a compiler-generated field
        _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__25 = CallSite<Action<CallSite, _Views_Home_OverLink_cshtml, object>>.Create(Binder.InvokeMember(CSharpBinderFlags.InvokeSimpleName | CSharpBinderFlags.ResultDiscarded, "Write", (IEnumerable<Type>) null, typeof (_Views_Home_OverLink_cshtml), (IEnumerable<CSharpArgumentInfo>) new CSharpArgumentInfo[2]
        {
          CSharpArgumentInfo.Create(CSharpArgumentInfoFlags.UseCompileTimeType, (string) null),
          CSharpArgumentInfo.Create(CSharpArgumentInfoFlags.None, (string) null)
        }));
      }
      // ISSUE: reference to a compiler-generated field
      Action<CallSite, _Views_Home_OverLink_cshtml, object> target15 = _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__25.Target;
      // ISSUE: reference to a compiler-generated field
      CallSite<Action<CallSite, _Views_Home_OverLink_cshtml, object>> p25 = _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__25;
      _Views_Home_OverLink_cshtml homeOverLinkCshtml8 = homeOverLinkCshtml1;
      // ISSUE: reference to a compiler-generated field
      if (_Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__24 == null)
      {
        // ISSUE: reference to a compiler-generated field
        _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__24 = CallSite<Func<CallSite, object, object>>.Create(Binder.GetMember(CSharpBinderFlags.None, "URL", typeof (_Views_Home_OverLink_cshtml), (IEnumerable<CSharpArgumentInfo>) new CSharpArgumentInfo[1]
        {
          CSharpArgumentInfo.Create(CSharpArgumentInfoFlags.None, (string) null)
        }));
      }
      // ISSUE: reference to a compiler-generated field
      // ISSUE: reference to a compiler-generated field
      object obj15 = _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__24.Target((CallSite) _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__24, homeOverLinkCshtml1.ViewBag);
      target15((CallSite) p25, homeOverLinkCshtml8, obj15);
      homeOverLinkCshtml1.EndContext();
      homeOverLinkCshtml1.BeginContext(2128, 214, true);
      homeOverLinkCshtml1.WriteLiteral("\r\n                </div>\r\n            </td>\r\n\r\n            <td style=\"text-align:center;\"></td>\r\n            <td style=\"text-align:center;\"></td>\r\n            <td style=\"text-align:center;\">\r\n                <span>");
      homeOverLinkCshtml1.EndContext();
      homeOverLinkCshtml1.BeginContext(2343, 13, false);
      // ISSUE: reference to a compiler-generated field
      if (_Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__27 == null)
      {
        // ISSUE: reference to a compiler-generated field
        _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__27 = CallSite<Action<CallSite, _Views_Home_OverLink_cshtml, object>>.Create(Binder.InvokeMember(CSharpBinderFlags.InvokeSimpleName | CSharpBinderFlags.ResultDiscarded, "Write", (IEnumerable<Type>) null, typeof (_Views_Home_OverLink_cshtml), (IEnumerable<CSharpArgumentInfo>) new CSharpArgumentInfo[2]
        {
          CSharpArgumentInfo.Create(CSharpArgumentInfoFlags.UseCompileTimeType, (string) null),
          CSharpArgumentInfo.Create(CSharpArgumentInfoFlags.None, (string) null)
        }));
      }
      // ISSUE: reference to a compiler-generated field
      Action<CallSite, _Views_Home_OverLink_cshtml, object> target16 = _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__27.Target;
      // ISSUE: reference to a compiler-generated field
      CallSite<Action<CallSite, _Views_Home_OverLink_cshtml, object>> p27 = _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__27;
      _Views_Home_OverLink_cshtml homeOverLinkCshtml9 = homeOverLinkCshtml1;
      // ISSUE: reference to a compiler-generated field
      if (_Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__26 == null)
      {
        // ISSUE: reference to a compiler-generated field
        _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__26 = CallSite<Func<CallSite, object, object>>.Create(Binder.GetMember(CSharpBinderFlags.None, "count", typeof (_Views_Home_OverLink_cshtml), (IEnumerable<CSharpArgumentInfo>) new CSharpArgumentInfo[1]
        {
          CSharpArgumentInfo.Create(CSharpArgumentInfoFlags.None, (string) null)
        }));
      }
      // ISSUE: reference to a compiler-generated field
      // ISSUE: reference to a compiler-generated field
      object obj16 = _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__26.Target((CallSite) _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__26, homeOverLinkCshtml1.ViewBag);
      target16((CallSite) p27, homeOverLinkCshtml9, obj16);
      homeOverLinkCshtml1.EndContext();
      homeOverLinkCshtml1.BeginContext(2356, 179, true);
      homeOverLinkCshtml1.WriteLiteral("</span>\r\n            </td>\r\n            <td style=\"text-align:center;\">\r\n                <div style=\"white-space: nowrap;\">\r\n                    <a class=\"btn btn-success btn-xs \"");
      homeOverLinkCshtml1.EndContext();
      homeOverLinkCshtml1.BeginWriteAttribute("onclick", " onclick=\"", 2535, "\"", 2574, 4);
      homeOverLinkCshtml1.WriteAttributeValue("", 2545, (object) "return", 2545, 6, true);
      homeOverLinkCshtml1.WriteAttributeValue(" ", 2551, (object) "AddUrl('", 2552, 9, true);
      // ISSUE: reference to a compiler-generated field
      if (_Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__29 == null)
      {
        // ISSUE: reference to a compiler-generated field
        _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__29 = CallSite<Action<CallSite, _Views_Home_OverLink_cshtml, string, int, object, int, int, bool>>.Create(Binder.InvokeMember(CSharpBinderFlags.InvokeSimpleName | CSharpBinderFlags.ResultDiscarded, "WriteAttributeValue", (IEnumerable<Type>) null, typeof (_Views_Home_OverLink_cshtml), (IEnumerable<CSharpArgumentInfo>) new CSharpArgumentInfo[7]
        {
          CSharpArgumentInfo.Create(CSharpArgumentInfoFlags.UseCompileTimeType, (string) null),
          CSharpArgumentInfo.Create(CSharpArgumentInfoFlags.UseCompileTimeType | CSharpArgumentInfoFlags.Constant, (string) null),
          CSharpArgumentInfo.Create(CSharpArgumentInfoFlags.UseCompileTimeType | CSharpArgumentInfoFlags.Constant, (string) null),
          CSharpArgumentInfo.Create(CSharpArgumentInfoFlags.None, (string) null),
          CSharpArgumentInfo.Create(CSharpArgumentInfoFlags.UseCompileTimeType | CSharpArgumentInfoFlags.Constant, (string) null),
          CSharpArgumentInfo.Create(CSharpArgumentInfoFlags.UseCompileTimeType | CSharpArgumentInfoFlags.Constant, (string) null),
          CSharpArgumentInfo.Create(CSharpArgumentInfoFlags.UseCompileTimeType | CSharpArgumentInfoFlags.Constant, (string) null)
        }));
      }
      // ISSUE: reference to a compiler-generated field
      Action<CallSite, _Views_Home_OverLink_cshtml, string, int, object, int, int, bool> target17 = _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__29.Target;
      // ISSUE: reference to a compiler-generated field
      CallSite<Action<CallSite, _Views_Home_OverLink_cshtml, string, int, object, int, int, bool>> p29 = _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__29;
      _Views_Home_OverLink_cshtml homeOverLinkCshtml10 = homeOverLinkCshtml1;
      // ISSUE: reference to a compiler-generated field
      if (_Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__28 == null)
      {
        // ISSUE: reference to a compiler-generated field
        _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__28 = CallSite<Func<CallSite, object, object>>.Create(Binder.GetMember(CSharpBinderFlags.None, "id", typeof (_Views_Home_OverLink_cshtml), (IEnumerable<CSharpArgumentInfo>) new CSharpArgumentInfo[1]
        {
          CSharpArgumentInfo.Create(CSharpArgumentInfoFlags.None, (string) null)
        }));
      }
      // ISSUE: reference to a compiler-generated field
      // ISSUE: reference to a compiler-generated field
      object obj17 = _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__28.Target((CallSite) _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__28, homeOverLinkCshtml1.ViewBag);
      target17((CallSite) p29, homeOverLinkCshtml10, "", 2560, obj17, 2560, 11, false);
      homeOverLinkCshtml1.WriteAttributeValue("", 2571, (object) "');", 2571, 3, true);
      homeOverLinkCshtml1.EndWriteAttribute();
      homeOverLinkCshtml1.BeginContext(2575, 28, true);
      homeOverLinkCshtml1.WriteLiteral(">+</a>\r\n                    ");
      homeOverLinkCshtml1.EndContext();
      homeOverLinkCshtml1.BeginContext(2603, 92, false);
      // ISSUE: reference to a compiler-generated method
      homeOverLinkCshtml1.__tagHelperExecutionContext = homeOverLinkCshtml1.__tagHelperScopeManager.Begin("a", TagMode.StartTagAndEndTag, "dc02b7511d134dc79ab3a250bbb54309", new Func<Task>(homeOverLinkCshtml1.\u003CExecuteAsync\u003Eb__12_0));
      homeOverLinkCshtml1.__Microsoft_AspNetCore_Mvc_TagHelpers_AnchorTagHelper = homeOverLinkCshtml1.CreateTagHelper<AnchorTagHelper>();
      homeOverLinkCshtml1.__tagHelperExecutionContext.Add((ITagHelper) homeOverLinkCshtml1.__Microsoft_AspNetCore_Mvc_TagHelpers_AnchorTagHelper);
      homeOverLinkCshtml1.__Microsoft_AspNetCore_Mvc_TagHelpers_AnchorTagHelper.Action = (string) _Views_Home_OverLink_cshtml.__tagHelperAttribute_0.Value;
      homeOverLinkCshtml1.__tagHelperExecutionContext.AddTagHelperAttribute(_Views_Home_OverLink_cshtml.__tagHelperAttribute_0);
      if (homeOverLinkCshtml1.__Microsoft_AspNetCore_Mvc_TagHelpers_AnchorTagHelper.RouteValues == null)
        throw new InvalidOperationException(homeOverLinkCshtml1.InvalidTagHelperIndexerAssignment("asp-route-id", "Microsoft.AspNetCore.Mvc.TagHelpers.AnchorTagHelper", "RouteValues"));
      homeOverLinkCshtml1.BeginWriteTagHelperAttribute();
      // ISSUE: reference to a compiler-generated field
      if (_Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__31 == null)
      {
        // ISSUE: reference to a compiler-generated field
        _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__31 = CallSite<Action<CallSite, _Views_Home_OverLink_cshtml, object>>.Create(Binder.InvokeMember(CSharpBinderFlags.InvokeSimpleName | CSharpBinderFlags.ResultDiscarded, "WriteLiteral", (IEnumerable<Type>) null, typeof (_Views_Home_OverLink_cshtml), (IEnumerable<CSharpArgumentInfo>) new CSharpArgumentInfo[2]
        {
          CSharpArgumentInfo.Create(CSharpArgumentInfoFlags.UseCompileTimeType, (string) null),
          CSharpArgumentInfo.Create(CSharpArgumentInfoFlags.None, (string) null)
        }));
      }
      // ISSUE: reference to a compiler-generated field
      Action<CallSite, _Views_Home_OverLink_cshtml, object> target18 = _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__31.Target;
      // ISSUE: reference to a compiler-generated field
      CallSite<Action<CallSite, _Views_Home_OverLink_cshtml, object>> p31 = _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__31;
      _Views_Home_OverLink_cshtml homeOverLinkCshtml11 = homeOverLinkCshtml1;
      // ISSUE: reference to a compiler-generated field
      if (_Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__30 == null)
      {
        // ISSUE: reference to a compiler-generated field
        _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__30 = CallSite<Func<CallSite, object, object>>.Create(Binder.GetMember(CSharpBinderFlags.None, "id", typeof (_Views_Home_OverLink_cshtml), (IEnumerable<CSharpArgumentInfo>) new CSharpArgumentInfo[1]
        {
          CSharpArgumentInfo.Create(CSharpArgumentInfoFlags.None, (string) null)
        }));
      }
      // ISSUE: reference to a compiler-generated field
      // ISSUE: reference to a compiler-generated field
      object obj18 = _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__30.Target((CallSite) _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__30, homeOverLinkCshtml1.ViewBag);
      target18((CallSite) p31, homeOverLinkCshtml11, obj18);
      homeOverLinkCshtml1.__tagHelperStringValueBuffer = homeOverLinkCshtml1.EndWriteTagHelperAttribute();
      homeOverLinkCshtml1.__Microsoft_AspNetCore_Mvc_TagHelpers_AnchorTagHelper.RouteValues["id"] = homeOverLinkCshtml1.__tagHelperStringValueBuffer;
      homeOverLinkCshtml1.__tagHelperExecutionContext.AddTagHelperAttribute("asp-route-id", (object) homeOverLinkCshtml1.__Microsoft_AspNetCore_Mvc_TagHelpers_AnchorTagHelper.RouteValues["id"], HtmlAttributeValueStyle.DoubleQuotes);
      homeOverLinkCshtml1.__tagHelperExecutionContext.AddHtmlAttribute(_Views_Home_OverLink_cshtml.__tagHelperAttribute_1);
      await homeOverLinkCshtml1.__tagHelperRunner.RunAsync(homeOverLinkCshtml1.__tagHelperExecutionContext);
      if (!homeOverLinkCshtml1.__tagHelperExecutionContext.Output.IsContentModified)
        await homeOverLinkCshtml1.__tagHelperExecutionContext.SetOutputContentAsync();
      homeOverLinkCshtml1.Write((object) homeOverLinkCshtml1.__tagHelperExecutionContext.Output);
      homeOverLinkCshtml1.__tagHelperExecutionContext = homeOverLinkCshtml1.__tagHelperScopeManager.End();
      homeOverLinkCshtml1.EndContext();
      homeOverLinkCshtml1.BeginContext(2695, 60, true);
      homeOverLinkCshtml1.WriteLiteral("\r\n                </div>\r\n            </td>\r\n        </tr>\r\n");
      homeOverLinkCshtml1.EndContext();
      foreach (overviewtool item in homeOverLinkCshtml1.Model)
      {
        // ISSUE: reference to a compiler-generated field
        if (_Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__32 == null)
        {
          // ISSUE: reference to a compiler-generated field
          _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__32 = CallSite<Func<CallSite, object, int, object>>.Create(Binder.SetMember(CSharpBinderFlags.None, "count", typeof (_Views_Home_OverLink_cshtml), (IEnumerable<CSharpArgumentInfo>) new CSharpArgumentInfo[2]
          {
            CSharpArgumentInfo.Create(CSharpArgumentInfoFlags.None, (string) null),
            CSharpArgumentInfo.Create(CSharpArgumentInfoFlags.UseCompileTimeType | CSharpArgumentInfoFlags.Constant, (string) null)
          }));
        }
        // ISSUE: reference to a compiler-generated field
        // ISSUE: reference to a compiler-generated field
        object obj19 = _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__32.Target((CallSite) _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__32, homeOverLinkCshtml1.ViewBag, 0);
        homeOverLinkCshtml1.BeginContext(2858, 231, true);
        homeOverLinkCshtml1.WriteLiteral("            <tr style=\"background-color:#ebeeef;\">\r\n                <td>\r\n                    <div>\r\n\r\n\r\n                    </div>\r\n                </td>\r\n                <td>\r\n                    <div>\r\n                        <a");
        homeOverLinkCshtml1.EndContext();
        homeOverLinkCshtml1.BeginWriteAttribute("href", " href=\"", 3089, "\"", 3106, 1);
        homeOverLinkCshtml1.WriteAttributeValue("", 3096, (object) item.href, 3096, 10, false);
        homeOverLinkCshtml1.EndWriteAttribute();
        homeOverLinkCshtml1.BeginContext(3107, 1, true);
        homeOverLinkCshtml1.WriteLiteral(">");
        homeOverLinkCshtml1.EndContext();
        homeOverLinkCshtml1.BeginContext(3109, 9, false);
        homeOverLinkCshtml1.Write(item.href);
        homeOverLinkCshtml1.EndContext();
        homeOverLinkCshtml1.BeginContext(3118, 133, true);
        homeOverLinkCshtml1.WriteLiteral("</a>\r\n                    </div>\r\n                </td>\r\n                <td style=\"text-align:center;\">\r\n                    <div>\r\n");
        homeOverLinkCshtml1.EndContext();
        if (item.anchor != "")
        {
          homeOverLinkCshtml1.BeginContext(3328, 34, true);
          homeOverLinkCshtml1.WriteLiteral("                            <span>");
          homeOverLinkCshtml1.EndContext();
          homeOverLinkCshtml1.BeginContext(3363, 11, false);
          homeOverLinkCshtml1.Write(item.anchor);
          homeOverLinkCshtml1.EndContext();
          homeOverLinkCshtml1.BeginContext(3374, 9, true);
          homeOverLinkCshtml1.WriteLiteral("</span>\r\n");
          homeOverLinkCshtml1.EndContext();
        }
        homeOverLinkCshtml1.BeginContext(3410, 129, true);
        homeOverLinkCshtml1.WriteLiteral("\r\n                    </div>\r\n                </td>\r\n                <td style=\"text-align:center;\">\r\n                    <div>\r\n");
        homeOverLinkCshtml1.EndContext();
        // ISSUE: reference to a compiler-generated field
        if (_Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__40 == null)
        {
          // ISSUE: reference to a compiler-generated field
          _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__40 = CallSite<Func<CallSite, object, IEnumerable>>.Create(Binder.Convert(CSharpBinderFlags.None, typeof (IEnumerable), typeof (_Views_Home_OverLink_cshtml)));
        }
        // ISSUE: reference to a compiler-generated field
        Func<CallSite, object, IEnumerable> target19 = _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__40.Target;
        // ISSUE: reference to a compiler-generated field
        CallSite<Func<CallSite, object, IEnumerable>> p40 = _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__40;
        // ISSUE: reference to a compiler-generated field
        if (_Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__33 == null)
        {
          // ISSUE: reference to a compiler-generated field
          _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__33 = CallSite<Func<CallSite, object, object>>.Create(Binder.GetMember(CSharpBinderFlags.None, "listofitems", typeof (_Views_Home_OverLink_cshtml), (IEnumerable<CSharpArgumentInfo>) new CSharpArgumentInfo[1]
          {
            CSharpArgumentInfo.Create(CSharpArgumentInfoFlags.None, (string) null)
          }));
        }
        // ISSUE: reference to a compiler-generated field
        // ISSUE: reference to a compiler-generated field
        object obj20 = _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__33.Target((CallSite) _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__33, homeOverLinkCshtml1.ViewBag);
        foreach (object obj21 in target19((CallSite) p40, obj20))
        {
          // ISSUE: reference to a compiler-generated field
          if (_Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__36 == null)
          {
            // ISSUE: reference to a compiler-generated field
            _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__36 = CallSite<Func<CallSite, object, bool>>.Create(Binder.UnaryOperation(CSharpBinderFlags.None, ExpressionType.IsTrue, typeof (_Views_Home_OverLink_cshtml), (IEnumerable<CSharpArgumentInfo>) new CSharpArgumentInfo[1]
            {
              CSharpArgumentInfo.Create(CSharpArgumentInfoFlags.None, (string) null)
            }));
          }
          // ISSUE: reference to a compiler-generated field
          Func<CallSite, object, bool> target20 = _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__36.Target;
          // ISSUE: reference to a compiler-generated field
          CallSite<Func<CallSite, object, bool>> p36 = _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__36;
          // ISSUE: reference to a compiler-generated field
          if (_Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__35 == null)
          {
            // ISSUE: reference to a compiler-generated field
            _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__35 = CallSite<Func<CallSite, object, int, object>>.Create(Binder.BinaryOperation(CSharpBinderFlags.None, ExpressionType.Equal, typeof (_Views_Home_OverLink_cshtml), (IEnumerable<CSharpArgumentInfo>) new CSharpArgumentInfo[2]
            {
              CSharpArgumentInfo.Create(CSharpArgumentInfoFlags.None, (string) null),
              CSharpArgumentInfo.Create(CSharpArgumentInfoFlags.UseCompileTimeType, (string) null)
            }));
          }
          // ISSUE: reference to a compiler-generated field
          Func<CallSite, object, int, object> target21 = _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__35.Target;
          // ISSUE: reference to a compiler-generated field
          CallSite<Func<CallSite, object, int, object>> p35 = _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__35;
          // ISSUE: reference to a compiler-generated field
          if (_Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__34 == null)
          {
            // ISSUE: reference to a compiler-generated field
            _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__34 = CallSite<Func<CallSite, object, object>>.Create(Binder.GetMember(CSharpBinderFlags.None, "parentId", typeof (_Views_Home_OverLink_cshtml), (IEnumerable<CSharpArgumentInfo>) new CSharpArgumentInfo[1]
            {
              CSharpArgumentInfo.Create(CSharpArgumentInfoFlags.None, (string) null)
            }));
          }
          // ISSUE: reference to a compiler-generated field
          // ISSUE: reference to a compiler-generated field
          object obj22 = _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__34.Target((CallSite) _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__34, obj21);
          int id = item.id;
          object obj23 = target21((CallSite) p35, obj22, id);
          if (target20((CallSite) p36, obj23))
          {
            object viewBag = homeOverLinkCshtml1.ViewBag;
            // ISSUE: reference to a compiler-generated field
            if (_Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__38 == null)
            {
              // ISSUE: reference to a compiler-generated field
              _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__38 = CallSite<Func<CallSite, object, object>>.Create(Binder.GetMember(CSharpBinderFlags.None, "count", typeof (_Views_Home_OverLink_cshtml), (IEnumerable<CSharpArgumentInfo>) new CSharpArgumentInfo[1]
              {
                CSharpArgumentInfo.Create(CSharpArgumentInfoFlags.None, (string) null)
              }));
            }
            // ISSUE: reference to a compiler-generated field
            // ISSUE: reference to a compiler-generated field
            object obj24 = _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__38.Target((CallSite) _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__38, viewBag);
            // ISSUE: reference to a compiler-generated field
            if (_Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__39 == null)
            {
              // ISSUE: reference to a compiler-generated field
              _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__39 = CallSite<Func<CallSite, object, object, object>>.Create(Binder.SetMember(CSharpBinderFlags.None, "count", typeof (_Views_Home_OverLink_cshtml), (IEnumerable<CSharpArgumentInfo>) new CSharpArgumentInfo[2]
              {
                CSharpArgumentInfo.Create(CSharpArgumentInfoFlags.None, (string) null),
                CSharpArgumentInfo.Create(CSharpArgumentInfoFlags.None, (string) null)
              }));
            }
            // ISSUE: reference to a compiler-generated field
            Func<CallSite, object, object, object> target22 = _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__39.Target;
            // ISSUE: reference to a compiler-generated field
            CallSite<Func<CallSite, object, object, object>> p39 = _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__39;
            object obj25 = viewBag;
            // ISSUE: reference to a compiler-generated field
            if (_Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__37 == null)
            {
              // ISSUE: reference to a compiler-generated field
              _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__37 = CallSite<Func<CallSite, object, object>>.Create(Binder.UnaryOperation(CSharpBinderFlags.None, ExpressionType.Increment, typeof (_Views_Home_OverLink_cshtml), (IEnumerable<CSharpArgumentInfo>) new CSharpArgumentInfo[1]
              {
                CSharpArgumentInfo.Create(CSharpArgumentInfoFlags.None, (string) null)
              }));
            }
            // ISSUE: reference to a compiler-generated field
            // ISSUE: reference to a compiler-generated field
            object obj26 = _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__37.Target((CallSite) _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__37, obj24);
            object obj27 = target22((CallSite) p39, obj25, obj26);
          }
        }
        homeOverLinkCshtml1.BeginContext(3835, 24, true);
        homeOverLinkCshtml1.WriteLiteral("                        ");
        homeOverLinkCshtml1.EndContext();
        // ISSUE: reference to a compiler-generated field
        if (_Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__43 == null)
        {
          // ISSUE: reference to a compiler-generated field
          _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__43 = CallSite<Func<CallSite, object, bool>>.Create(Binder.UnaryOperation(CSharpBinderFlags.None, ExpressionType.IsTrue, typeof (_Views_Home_OverLink_cshtml), (IEnumerable<CSharpArgumentInfo>) new CSharpArgumentInfo[1]
          {
            CSharpArgumentInfo.Create(CSharpArgumentInfoFlags.None, (string) null)
          }));
        }
        // ISSUE: reference to a compiler-generated field
        Func<CallSite, object, bool> target23 = _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__43.Target;
        // ISSUE: reference to a compiler-generated field
        CallSite<Func<CallSite, object, bool>> p43 = _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__43;
        // ISSUE: reference to a compiler-generated field
        if (_Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__42 == null)
        {
          // ISSUE: reference to a compiler-generated field
          _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__42 = CallSite<Func<CallSite, object, int, object>>.Create(Binder.BinaryOperation(CSharpBinderFlags.None, ExpressionType.GreaterThan, typeof (_Views_Home_OverLink_cshtml), (IEnumerable<CSharpArgumentInfo>) new CSharpArgumentInfo[2]
          {
            CSharpArgumentInfo.Create(CSharpArgumentInfoFlags.None, (string) null),
            CSharpArgumentInfo.Create(CSharpArgumentInfoFlags.UseCompileTimeType | CSharpArgumentInfoFlags.Constant, (string) null)
          }));
        }
        // ISSUE: reference to a compiler-generated field
        Func<CallSite, object, int, object> target24 = _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__42.Target;
        // ISSUE: reference to a compiler-generated field
        CallSite<Func<CallSite, object, int, object>> p42 = _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__42;
        // ISSUE: reference to a compiler-generated field
        if (_Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__41 == null)
        {
          // ISSUE: reference to a compiler-generated field
          _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__41 = CallSite<Func<CallSite, object, object>>.Create(Binder.GetMember(CSharpBinderFlags.None, "count", typeof (_Views_Home_OverLink_cshtml), (IEnumerable<CSharpArgumentInfo>) new CSharpArgumentInfo[1]
          {
            CSharpArgumentInfo.Create(CSharpArgumentInfoFlags.None, (string) null)
          }));
        }
        // ISSUE: reference to a compiler-generated field
        // ISSUE: reference to a compiler-generated field
        object obj28 = _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__41.Target((CallSite) _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__41, homeOverLinkCshtml1.ViewBag);
        object obj29 = target24((CallSite) p42, obj28, 0);
        if (target23((CallSite) p43, obj29))
        {
          homeOverLinkCshtml1.BeginContext(3911, 34, true);
          homeOverLinkCshtml1.WriteLiteral("                            <span>");
          homeOverLinkCshtml1.EndContext();
          homeOverLinkCshtml1.BeginContext(3946, 13, false);
          // ISSUE: reference to a compiler-generated field
          if (_Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__45 == null)
          {
            // ISSUE: reference to a compiler-generated field
            _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__45 = CallSite<Action<CallSite, _Views_Home_OverLink_cshtml, object>>.Create(Binder.InvokeMember(CSharpBinderFlags.InvokeSimpleName | CSharpBinderFlags.ResultDiscarded, "Write", (IEnumerable<Type>) null, typeof (_Views_Home_OverLink_cshtml), (IEnumerable<CSharpArgumentInfo>) new CSharpArgumentInfo[2]
            {
              CSharpArgumentInfo.Create(CSharpArgumentInfoFlags.UseCompileTimeType, (string) null),
              CSharpArgumentInfo.Create(CSharpArgumentInfoFlags.None, (string) null)
            }));
          }
          // ISSUE: reference to a compiler-generated field
          Action<CallSite, _Views_Home_OverLink_cshtml, object> target25 = _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__45.Target;
          // ISSUE: reference to a compiler-generated field
          CallSite<Action<CallSite, _Views_Home_OverLink_cshtml, object>> p45 = _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__45;
          _Views_Home_OverLink_cshtml homeOverLinkCshtml12 = homeOverLinkCshtml1;
          // ISSUE: reference to a compiler-generated field
          if (_Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__44 == null)
          {
            // ISSUE: reference to a compiler-generated field
            _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__44 = CallSite<Func<CallSite, object, object>>.Create(Binder.GetMember(CSharpBinderFlags.None, "count", typeof (_Views_Home_OverLink_cshtml), (IEnumerable<CSharpArgumentInfo>) new CSharpArgumentInfo[1]
            {
              CSharpArgumentInfo.Create(CSharpArgumentInfoFlags.None, (string) null)
            }));
          }
          // ISSUE: reference to a compiler-generated field
          // ISSUE: reference to a compiler-generated field
          object obj30 = _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__44.Target((CallSite) _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__44, homeOverLinkCshtml1.ViewBag);
          target25((CallSite) p45, homeOverLinkCshtml12, obj30);
          homeOverLinkCshtml1.EndContext();
          homeOverLinkCshtml1.BeginContext(3959, 9, true);
          homeOverLinkCshtml1.WriteLiteral("</span>\r\n");
          homeOverLinkCshtml1.EndContext();
          // ISSUE: reference to a compiler-generated field
          if (_Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__46 == null)
          {
            // ISSUE: reference to a compiler-generated field
            _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__46 = CallSite<Func<CallSite, object, int, object>>.Create(Binder.SetMember(CSharpBinderFlags.None, "count", typeof (_Views_Home_OverLink_cshtml), (IEnumerable<CSharpArgumentInfo>) new CSharpArgumentInfo[2]
            {
              CSharpArgumentInfo.Create(CSharpArgumentInfoFlags.None, (string) null),
              CSharpArgumentInfo.Create(CSharpArgumentInfoFlags.UseCompileTimeType | CSharpArgumentInfoFlags.Constant, (string) null)
            }));
          }
          // ISSUE: reference to a compiler-generated field
          // ISSUE: reference to a compiler-generated field
          object obj31 = _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__46.Target((CallSite) _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__46, homeOverLinkCshtml1.ViewBag, 0);
        }
        homeOverLinkCshtml1.BeginContext(4043, 215, true);
        homeOverLinkCshtml1.WriteLiteral("                    </div>\r\n                </td>\r\n\r\n                <td style=\"text-align:center;\">\r\n                    <div style=\"white-space: nowrap;\">\r\n                        <a class=\"btn btn-success btn-xs\"");
        homeOverLinkCshtml1.EndContext();
        homeOverLinkCshtml1.BeginWriteAttribute("onclick", " onclick=\"", 4258, "\"", 4294, 4);
        homeOverLinkCshtml1.WriteAttributeValue("", 4268, (object) "return", 4268, 6, true);
        homeOverLinkCshtml1.WriteAttributeValue(" ", 4274, (object) "AddUrl('", 4275, 9, true);
        homeOverLinkCshtml1.WriteAttributeValue("", 4283, (object) item.id, 4283, 8, false);
        homeOverLinkCshtml1.WriteAttributeValue("", 4291, (object) "');", 4291, 3, true);
        homeOverLinkCshtml1.EndWriteAttribute();
        homeOverLinkCshtml1.BeginContext(4295, 32, true);
        homeOverLinkCshtml1.WriteLiteral(">+</a>\r\n                        ");
        homeOverLinkCshtml1.EndContext();
        homeOverLinkCshtml1.BeginContext(4327, 89, false);
        // ISSUE: reference to a compiler-generated method
        homeOverLinkCshtml1.__tagHelperExecutionContext = homeOverLinkCshtml1.__tagHelperScopeManager.Begin("a", TagMode.StartTagAndEndTag, "d412651d2cd94c21a4f0eef3c2d830f0", new Func<Task>(homeOverLinkCshtml1.\u003CExecuteAsync\u003Eb__12_1));
        homeOverLinkCshtml1.__Microsoft_AspNetCore_Mvc_TagHelpers_AnchorTagHelper = homeOverLinkCshtml1.CreateTagHelper<AnchorTagHelper>();
        homeOverLinkCshtml1.__tagHelperExecutionContext.Add((ITagHelper) homeOverLinkCshtml1.__Microsoft_AspNetCore_Mvc_TagHelpers_AnchorTagHelper);
        homeOverLinkCshtml1.__Microsoft_AspNetCore_Mvc_TagHelpers_AnchorTagHelper.Action = (string) _Views_Home_OverLink_cshtml.__tagHelperAttribute_0.Value;
        homeOverLinkCshtml1.__tagHelperExecutionContext.AddTagHelperAttribute(_Views_Home_OverLink_cshtml.__tagHelperAttribute_0);
        if (homeOverLinkCshtml1.__Microsoft_AspNetCore_Mvc_TagHelpers_AnchorTagHelper.RouteValues == null)
          throw new InvalidOperationException(homeOverLinkCshtml1.InvalidTagHelperIndexerAssignment("asp-route-id", "Microsoft.AspNetCore.Mvc.TagHelpers.AnchorTagHelper", "RouteValues"));
        homeOverLinkCshtml1.BeginWriteTagHelperAttribute();
        homeOverLinkCshtml1.WriteLiteral((object) item.id);
        homeOverLinkCshtml1.__tagHelperStringValueBuffer = homeOverLinkCshtml1.EndWriteTagHelperAttribute();
        homeOverLinkCshtml1.__Microsoft_AspNetCore_Mvc_TagHelpers_AnchorTagHelper.RouteValues["id"] = homeOverLinkCshtml1.__tagHelperStringValueBuffer;
        homeOverLinkCshtml1.__tagHelperExecutionContext.AddTagHelperAttribute("asp-route-id", (object) homeOverLinkCshtml1.__Microsoft_AspNetCore_Mvc_TagHelpers_AnchorTagHelper.RouteValues["id"], HtmlAttributeValueStyle.DoubleQuotes);
        homeOverLinkCshtml1.__tagHelperExecutionContext.AddHtmlAttribute(_Views_Home_OverLink_cshtml.__tagHelperAttribute_1);
        await homeOverLinkCshtml1.__tagHelperRunner.RunAsync(homeOverLinkCshtml1.__tagHelperExecutionContext);
        if (!homeOverLinkCshtml1.__tagHelperExecutionContext.Output.IsContentModified)
          await homeOverLinkCshtml1.__tagHelperExecutionContext.SetOutputContentAsync();
        homeOverLinkCshtml1.Write((object) homeOverLinkCshtml1.__tagHelperExecutionContext.Output);
        homeOverLinkCshtml1.__tagHelperExecutionContext = homeOverLinkCshtml1.__tagHelperScopeManager.End();
        homeOverLinkCshtml1.EndContext();
        homeOverLinkCshtml1.BeginContext(4416, 26, true);
        homeOverLinkCshtml1.WriteLiteral("\r\n                        ");
        homeOverLinkCshtml1.EndContext();
        homeOverLinkCshtml1.BeginContext(4442, 132, false);
        // ISSUE: reference to a compiler-generated method
        homeOverLinkCshtml1.__tagHelperExecutionContext = homeOverLinkCshtml1.__tagHelperScopeManager.Begin("a", TagMode.StartTagAndEndTag, "245ca231473a4e9a892e5fa78fc7b95d", new Func<Task>(homeOverLinkCshtml1.\u003CExecuteAsync\u003Eb__12_2));
        homeOverLinkCshtml1.__Microsoft_AspNetCore_Mvc_TagHelpers_AnchorTagHelper = homeOverLinkCshtml1.CreateTagHelper<AnchorTagHelper>();
        homeOverLinkCshtml1.__tagHelperExecutionContext.Add((ITagHelper) homeOverLinkCshtml1.__Microsoft_AspNetCore_Mvc_TagHelpers_AnchorTagHelper);
        homeOverLinkCshtml1.__Microsoft_AspNetCore_Mvc_TagHelpers_AnchorTagHelper.Action = (string) _Views_Home_OverLink_cshtml.__tagHelperAttribute_2.Value;
        homeOverLinkCshtml1.__tagHelperExecutionContext.AddTagHelperAttribute(_Views_Home_OverLink_cshtml.__tagHelperAttribute_2);
        if (homeOverLinkCshtml1.__Microsoft_AspNetCore_Mvc_TagHelpers_AnchorTagHelper.RouteValues == null)
          throw new InvalidOperationException(homeOverLinkCshtml1.InvalidTagHelperIndexerAssignment("asp-route-id", "Microsoft.AspNetCore.Mvc.TagHelpers.AnchorTagHelper", "RouteValues"));
        homeOverLinkCshtml1.BeginWriteTagHelperAttribute();
        homeOverLinkCshtml1.WriteLiteral((object) item.id);
        homeOverLinkCshtml1.__tagHelperStringValueBuffer = homeOverLinkCshtml1.EndWriteTagHelperAttribute();
        homeOverLinkCshtml1.__Microsoft_AspNetCore_Mvc_TagHelpers_AnchorTagHelper.RouteValues["id"] = homeOverLinkCshtml1.__tagHelperStringValueBuffer;
        homeOverLinkCshtml1.__tagHelperExecutionContext.AddTagHelperAttribute("asp-route-id", (object) homeOverLinkCshtml1.__Microsoft_AspNetCore_Mvc_TagHelpers_AnchorTagHelper.RouteValues["id"], HtmlAttributeValueStyle.DoubleQuotes);
        homeOverLinkCshtml1.__tagHelperExecutionContext.AddHtmlAttribute(_Views_Home_OverLink_cshtml.__tagHelperAttribute_3);
        homeOverLinkCshtml1.__tagHelperExecutionContext.AddHtmlAttribute(_Views_Home_OverLink_cshtml.__tagHelperAttribute_4);
        await homeOverLinkCshtml1.__tagHelperRunner.RunAsync(homeOverLinkCshtml1.__tagHelperExecutionContext);
        if (!homeOverLinkCshtml1.__tagHelperExecutionContext.Output.IsContentModified)
          await homeOverLinkCshtml1.__tagHelperExecutionContext.SetOutputContentAsync();
        homeOverLinkCshtml1.Write((object) homeOverLinkCshtml1.__tagHelperExecutionContext.Output);
        homeOverLinkCshtml1.__tagHelperExecutionContext = homeOverLinkCshtml1.__tagHelperScopeManager.End();
        homeOverLinkCshtml1.EndContext();
        homeOverLinkCshtml1.BeginContext(4574, 72, true);
        homeOverLinkCshtml1.WriteLiteral("\r\n                    </div>\r\n                </td>\r\n            </tr>\r\n");
        homeOverLinkCshtml1.EndContext();
      }
      homeOverLinkCshtml1.BeginContext(4657, 2255, true);
      homeOverLinkCshtml1.WriteLiteral("    </tbody>\r\n</table>\r\n\r\n<div id=\"ShowModal\" class=\"modal fade\" tabindex=\"-1\" role=\"dialog\" aria-hidden=\"true\">\r\n    <div class=\"modal-dialog\">\r\n        <div class=\"modal-content\">\r\n            <div class=\"modal-header\">\r\n                <button type=\"button\" class=\"close\" data-dismiss=\"modal\" aria-label=\"Close\">\r\n                    <span aria-hidden=\"true\">×</span>\r\n                </button>\r\n                <h4 class=\"modal-title\">Show Sub Link</h4>\r\n            </div>\r\n\r\n            <div class=\"modal-body\">\r\n\r\n                <div class=\"form-horizontal form-label-left\">                    \r\n                    <div class=\"form-group\">\r\n                        <label class=\"control-label col-md-3 col-sm-3 col-xs-12\">Anchor : </label>\r\n                        <div class=\"col-md-8 col-sm-8 col-xs-12\">\r\n                            <input id=\"anchor2\" type=\"text\" name=\"anchor\" value=\"\" style=\"margin-top:5px\" readonly/>\r\n                        </div>\r\n                    </div>\r\n                    <div clas");
      homeOverLinkCshtml1.WriteLiteral("s=\"form-group\">\r\n                        <label class=\"control-label col-md-3 col-sm-3 col-xs-12\">Sub Link : </label>\r\n                        <div class=\"col-md-8 col-sm-8 col-xs-12\">\r\n                            <input id=\"href2\" type=\"text\" name=\"href\" value=\"\" style=\"margin-top:5px\" readonly/>\r\n                        </div>\r\n                    </div>\r\n\r\n                </div>\r\n            </div>\r\n            <div class=\"modal-footer\">\r\n                <button type=\"button\" class=\"btn btn-default\" data-dismiss=\"modal\">OK</button>\r\n            </div>\r\n        </div>\r\n    </div>\r\n</div>\r\n\r\n<div id=\"AddModal\" class=\"modal fade\" tabindex=\"-1\" role=\"dialog\" aria-hidden=\"true\">\r\n    <div class=\"modal-dialog\" >\r\n        <div class=\"modal-content\">\r\n            <div class=\"modal-header\">\r\n                <button type=\"button\" class=\"close\" data-dismiss=\"modal\" aria-label=\"Close\">\r\n                    <span aria-hidden=\"true\">×</span>\r\n                </button>\r\n                <h4 class=\"modal-title\">Add Sub Lin");
      homeOverLinkCshtml1.WriteLiteral("k</h4>\r\n            </div>\r\n\r\n            <div class=\"modal-body\">\r\n\r\n                <div class=\"form-horizontal form-label-left\">\r\n                    <input id=\"projectId\" type=\"hidden\" name=\"projectname\"");
      homeOverLinkCshtml1.EndContext();
      homeOverLinkCshtml1.BeginWriteAttribute("value", " value=\"", 6912, "\"", 6931, 1);
      // ISSUE: reference to a compiler-generated field
      if (_Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__48 == null)
      {
        // ISSUE: reference to a compiler-generated field
        _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__48 = CallSite<Action<CallSite, _Views_Home_OverLink_cshtml, string, int, object, int, int, bool>>.Create(Binder.InvokeMember(CSharpBinderFlags.InvokeSimpleName | CSharpBinderFlags.ResultDiscarded, "WriteAttributeValue", (IEnumerable<Type>) null, typeof (_Views_Home_OverLink_cshtml), (IEnumerable<CSharpArgumentInfo>) new CSharpArgumentInfo[7]
        {
          CSharpArgumentInfo.Create(CSharpArgumentInfoFlags.UseCompileTimeType, (string) null),
          CSharpArgumentInfo.Create(CSharpArgumentInfoFlags.UseCompileTimeType | CSharpArgumentInfoFlags.Constant, (string) null),
          CSharpArgumentInfo.Create(CSharpArgumentInfoFlags.UseCompileTimeType | CSharpArgumentInfoFlags.Constant, (string) null),
          CSharpArgumentInfo.Create(CSharpArgumentInfoFlags.None, (string) null),
          CSharpArgumentInfo.Create(CSharpArgumentInfoFlags.UseCompileTimeType | CSharpArgumentInfoFlags.Constant, (string) null),
          CSharpArgumentInfo.Create(CSharpArgumentInfoFlags.UseCompileTimeType | CSharpArgumentInfoFlags.Constant, (string) null),
          CSharpArgumentInfo.Create(CSharpArgumentInfoFlags.UseCompileTimeType | CSharpArgumentInfoFlags.Constant, (string) null)
        }));
      }
      // ISSUE: reference to a compiler-generated field
      Action<CallSite, _Views_Home_OverLink_cshtml, string, int, object, int, int, bool> target26 = _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__48.Target;
      // ISSUE: reference to a compiler-generated field
      CallSite<Action<CallSite, _Views_Home_OverLink_cshtml, string, int, object, int, int, bool>> p48 = _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__48;
      _Views_Home_OverLink_cshtml homeOverLinkCshtml13 = homeOverLinkCshtml1;
      // ISSUE: reference to a compiler-generated field
      if (_Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__47 == null)
      {
        // ISSUE: reference to a compiler-generated field
        _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__47 = CallSite<Func<CallSite, object, object>>.Create(Binder.GetMember(CSharpBinderFlags.None, "id", typeof (_Views_Home_OverLink_cshtml), (IEnumerable<CSharpArgumentInfo>) new CSharpArgumentInfo[1]
        {
          CSharpArgumentInfo.Create(CSharpArgumentInfoFlags.None, (string) null)
        }));
      }
      // ISSUE: reference to a compiler-generated field
      // ISSUE: reference to a compiler-generated field
      object obj32 = _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__47.Target((CallSite) _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__47, homeOverLinkCshtml1.ViewBag);
      target26((CallSite) p48, homeOverLinkCshtml13, "", 6920, obj32, 6920, 11, false);
      homeOverLinkCshtml1.EndWriteAttribute();
      homeOverLinkCshtml1.BeginContext(6932, 2105, true);
      homeOverLinkCshtml1.WriteLiteral(" style=\"margin-top:5px\" />\r\n                    <div class=\"form-group\" style=\"display:none\">\r\n                        <label class=\"control-label col-md-3 col-sm-3 col-xs-12\">Sub Name : </label>\r\n                        <div class=\"col-md-8 col-sm-8 col-xs-12\">\r\n                            <input id=\"projectname\" type=\"text\" name=\"projectname\" value=\"\" style=\"margin-top:5px\" />\r\n                        </div>\r\n                    </div>\r\n\r\n                    <div class=\"form-group\">\r\n                        <label class=\"control-label col-md-3 col-sm-3 col-xs-12\">Anchor : </label>\r\n                        <div class=\"col-md-8 col-sm-8 col-xs-12\">\r\n                            <input id=\"anchor\" type=\"text\" name=\"anchor\" value=\"\" style=\"margin-top:5px\" />\r\n                        </div>\r\n                    </div>\r\n                    <div class=\"form-group\">\r\n                        <label class=\"control-label col-md-3 col-sm-3 col-xs-12\">Sub Link : </label>\r\n                        <div class=\"col-md-8 col-");
      homeOverLinkCshtml1.WriteLiteral("sm-8 col-xs-12\">\r\n                            <input id=\"href\" type=\"text\" name=\"href\" value=\"\" style=\"margin-top:5px\" />\r\n                        </div>\r\n                    </div>\r\n\r\n                </div>\r\n            </div>\r\n            <div class=\"modal-footer\">\r\n                <button type=\"button\" class=\"btn btn-default\" OnClick=\"btnCreateJob()\" data-dismiss=\"modal\">OK</button>\r\n            </div>\r\n        </div>\r\n    </div>\r\n</div>\r\n\r\n<div id=\"AddModal1\" class=\"modal fade\" tabindex=\"-1\" role=\"dialog\" aria-hidden=\"true\">\r\n    <div class=\"modal-dialog\">\r\n        <div class=\"modal-content\">\r\n            <div class=\"modal-header\">\r\n                <button type=\"button\" class=\"close\" data-dismiss=\"modal\" aria-label=\"Close\">\r\n                    <span aria-hidden=\"true\">×</span>\r\n                </button>\r\n                <h4 class=\"modal-title\">Add Main Link</h4>\r\n            </div>\r\n\r\n            <div class=\"modal-body\">\r\n\r\n                <div class=\"form-horizontal form-label-left\">\r\n                  ");
      homeOverLinkCshtml1.WriteLiteral("  <input id=\"projectId1\" type=\"hidden\" name=\"projectname\"");
      homeOverLinkCshtml1.EndContext();
      homeOverLinkCshtml1.BeginWriteAttribute("value", " value=\"", 9037, "\"", 9056, 1);
      // ISSUE: reference to a compiler-generated field
      if (_Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__50 == null)
      {
        // ISSUE: reference to a compiler-generated field
        _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__50 = CallSite<Action<CallSite, _Views_Home_OverLink_cshtml, string, int, object, int, int, bool>>.Create(Binder.InvokeMember(CSharpBinderFlags.InvokeSimpleName | CSharpBinderFlags.ResultDiscarded, "WriteAttributeValue", (IEnumerable<Type>) null, typeof (_Views_Home_OverLink_cshtml), (IEnumerable<CSharpArgumentInfo>) new CSharpArgumentInfo[7]
        {
          CSharpArgumentInfo.Create(CSharpArgumentInfoFlags.UseCompileTimeType, (string) null),
          CSharpArgumentInfo.Create(CSharpArgumentInfoFlags.UseCompileTimeType | CSharpArgumentInfoFlags.Constant, (string) null),
          CSharpArgumentInfo.Create(CSharpArgumentInfoFlags.UseCompileTimeType | CSharpArgumentInfoFlags.Constant, (string) null),
          CSharpArgumentInfo.Create(CSharpArgumentInfoFlags.None, (string) null),
          CSharpArgumentInfo.Create(CSharpArgumentInfoFlags.UseCompileTimeType | CSharpArgumentInfoFlags.Constant, (string) null),
          CSharpArgumentInfo.Create(CSharpArgumentInfoFlags.UseCompileTimeType | CSharpArgumentInfoFlags.Constant, (string) null),
          CSharpArgumentInfo.Create(CSharpArgumentInfoFlags.UseCompileTimeType | CSharpArgumentInfoFlags.Constant, (string) null)
        }));
      }
      // ISSUE: reference to a compiler-generated field
      Action<CallSite, _Views_Home_OverLink_cshtml, string, int, object, int, int, bool> target27 = _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__50.Target;
      // ISSUE: reference to a compiler-generated field
      CallSite<Action<CallSite, _Views_Home_OverLink_cshtml, string, int, object, int, int, bool>> p50 = _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__50;
      _Views_Home_OverLink_cshtml homeOverLinkCshtml14 = homeOverLinkCshtml1;
      // ISSUE: reference to a compiler-generated field
      if (_Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__49 == null)
      {
        // ISSUE: reference to a compiler-generated field
        _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__49 = CallSite<Func<CallSite, object, object>>.Create(Binder.GetMember(CSharpBinderFlags.None, "id", typeof (_Views_Home_OverLink_cshtml), (IEnumerable<CSharpArgumentInfo>) new CSharpArgumentInfo[1]
        {
          CSharpArgumentInfo.Create(CSharpArgumentInfoFlags.None, (string) null)
        }));
      }
      // ISSUE: reference to a compiler-generated field
      // ISSUE: reference to a compiler-generated field
      object obj33 = _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__49.Target((CallSite) _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__49, homeOverLinkCshtml1.ViewBag);
      target27((CallSite) p50, homeOverLinkCshtml14, "", 9045, obj33, 9045, 11, false);
      homeOverLinkCshtml1.EndWriteAttribute();
      homeOverLinkCshtml1.BeginContext(9057, 1662, true);
      homeOverLinkCshtml1.WriteLiteral(" style=\"margin-top:5px\" />\r\n                    <div class=\"form-group\" style=\"display:none\">\r\n                        <label class=\"control-label col-md-3 col-sm-3 col-xs-12\">Sub Name : </label>\r\n                        <div class=\"col-md-8 col-sm-8 col-xs-12\">\r\n                            <input id=\"projectname1\" type=\"text\" name=\"projectname\" value=\"\" style=\"margin-top:5px\" />\r\n                        </div>\r\n                    </div>\r\n\r\n                    <div class=\"form-group\">\r\n                        <label class=\"control-label col-md-3 col-sm-3 col-xs-12\">Anchor : </label>\r\n                        <div class=\"col-md-8 col-sm-8 col-xs-12\">\r\n                            <input id=\"anchor1\" type=\"text\" name=\"anchor\" value=\"\" style=\"margin-top:5px\" />\r\n                        </div>\r\n                    </div>\r\n                    <div class=\"form-group\">\r\n                        <label class=\"control-label col-md-3 col-sm-3 col-xs-12\">Link : </label>\r\n                        <div class=\"col-md-8 col-sm");
      homeOverLinkCshtml1.WriteLiteral("-8 col-xs-12\">\r\n                            <input id=\"href1\" type=\"text\" name=\"href\" value=\"\" style=\"margin-top:5px\" />\r\n                        </div>\r\n                    </div>\r\n\r\n                </div>\r\n            </div>\r\n            <div class=\"modal-footer\">\r\n                <button type=\"button\" class=\"btn btn-default\" OnClick=\"btnCreatemain()\" data-dismiss=\"modal\">OK</button>\r\n            </div>\r\n        </div>\r\n    </div>\r\n</div>\r\n\r\n<script>\r\n    function DeleteConfirm() {\r\n        return confirm(\"Are you going to delete user really?\");\r\n    }\r\n\r\n    $(\"#btnCreateHtml\").click(function () {\r\n        $(\"#projectId\").val('");
      homeOverLinkCshtml1.EndContext();
      homeOverLinkCshtml1.BeginContext(10720, 11, false);
      // ISSUE: reference to a compiler-generated field
      if (_Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__52 == null)
      {
        // ISSUE: reference to a compiler-generated field
        _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__52 = CallSite<Action<CallSite, _Views_Home_OverLink_cshtml, object>>.Create(Binder.InvokeMember(CSharpBinderFlags.InvokeSimpleName | CSharpBinderFlags.ResultDiscarded, "Write", (IEnumerable<Type>) null, typeof (_Views_Home_OverLink_cshtml), (IEnumerable<CSharpArgumentInfo>) new CSharpArgumentInfo[2]
        {
          CSharpArgumentInfo.Create(CSharpArgumentInfoFlags.UseCompileTimeType, (string) null),
          CSharpArgumentInfo.Create(CSharpArgumentInfoFlags.None, (string) null)
        }));
      }
      // ISSUE: reference to a compiler-generated field
      Action<CallSite, _Views_Home_OverLink_cshtml, object> target28 = _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__52.Target;
      // ISSUE: reference to a compiler-generated field
      CallSite<Action<CallSite, _Views_Home_OverLink_cshtml, object>> p52 = _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__52;
      _Views_Home_OverLink_cshtml homeOverLinkCshtml15 = homeOverLinkCshtml1;
      // ISSUE: reference to a compiler-generated field
      if (_Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__51 == null)
      {
        // ISSUE: reference to a compiler-generated field
        _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__51 = CallSite<Func<CallSite, object, object>>.Create(Binder.GetMember(CSharpBinderFlags.None, "pid", typeof (_Views_Home_OverLink_cshtml), (IEnumerable<CSharpArgumentInfo>) new CSharpArgumentInfo[1]
        {
          CSharpArgumentInfo.Create(CSharpArgumentInfoFlags.None, (string) null)
        }));
      }
      // ISSUE: reference to a compiler-generated field
      // ISSUE: reference to a compiler-generated field
      object obj34 = _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__51.Target((CallSite) _Views_Home_OverLink_cshtml.\u003C\u003Eo__12.\u003C\u003Ep__51, homeOverLinkCshtml1.ViewBag);
      target28((CallSite) p52, homeOverLinkCshtml15, obj34);
      homeOverLinkCshtml1.EndContext();
      homeOverLinkCshtml1.BeginContext(10731, 568, true);
      homeOverLinkCshtml1.WriteLiteral("');\r\n        $(\"#AddModal\").modal();\r\n    });\r\n\r\n    function EnterUrl(href, anchor) {\r\n        $(\"#href2\").val(href);\r\n        $(\"#anchor2\").val(anchor);\r\n        $(\"#ShowModal\").modal();\r\n    }\r\n\r\n    function AddUrl(id) {\r\n        $(\"#projectId\").val(id);\r\n        $(\"#AddModal\").modal();\r\n    }\r\n\r\n\r\n    $(\".add_mainLink\").click(function () {\r\n\r\n        $(\"#AddModal1\").modal();\r\n    });\r\n\r\n    function DeleteConfirm() {\r\n        return confirm(\"Are you going to delete user really?\");\r\n    }\r\n\r\n    function btnCreateJob() {\r\n        $.ajax({\r\n            url: '");
      homeOverLinkCshtml1.EndContext();
      homeOverLinkCshtml1.BeginContext(11300, 39, false);
      homeOverLinkCshtml1.Write(UrlHelperExtensions.Action(homeOverLinkCshtml1.Url, "CreateToolProject", "Home"));
      homeOverLinkCshtml1.EndContext();
      homeOverLinkCshtml1.BeginContext(11339, 912, true);
      homeOverLinkCshtml1.WriteLiteral("',\r\n            contentType: 'application/x-www-form-urlencoded',\r\n            type: 'POST',\r\n            data: { projectname: $(\"#projectname\").val(), href: $(\"#href\").val(), parentId: $(\"#projectId\").val(), anchor: $(\"#anchor\").val()},\r\n            success: function (data) {\r\n                data = jQuery.parseJSON(data);\r\n                if (data[\"data\"] == \"success\") {\r\n                    location.reload();\r\n                }\r\n                else if (data[\"data\"]  == \"already\") {\r\n                    alert(\"Job name already exists\")\r\n                }\r\n                else\r\n                    alert(\"server connect error ! \");\r\n            },\r\n            error: function (XMLHttpRequest, textStatus, errorThrown) {\r\n                alert(\"server connect error ! \");\r\n                return;\r\n            }\r\n        });\r\n    }\r\n\r\n    function btnCreatemain() {\r\n        $.ajax({\r\n            url: '");
      homeOverLinkCshtml1.EndContext();
      homeOverLinkCshtml1.BeginContext(12252, 39, false);
      homeOverLinkCshtml1.Write(UrlHelperExtensions.Action(homeOverLinkCshtml1.Url, "CreateToolProject", "Home"));
      homeOverLinkCshtml1.EndContext();
      homeOverLinkCshtml1.BeginContext(12291, 917, true);
      homeOverLinkCshtml1.WriteLiteral("',\r\n            contentType: 'application/x-www-form-urlencoded',\r\n            type: 'POST',\r\n            data: { projectname: $(\"#projectname1\").val(), href: $(\"#href1\").val(), parentId: $(\"#projectId1\").val(), anchor: $(\"#anchor1\").val()},\r\n            success: function (data) {\r\n                data = jQuery.parseJSON(data);\r\n                if (data[\"data\"] == \"success\") {\r\n                    location.reload();\r\n                }\r\n                else if (data[\"data\"]  == \"already\") {\r\n                    alert(\"Job name already exists\")\r\n                }\r\n                else\r\n                    alert(\"server connect error ! \");\r\n            },\r\n            error: function (XMLHttpRequest, textStatus, errorThrown) {\r\n                alert(\"server connect error ! \");\r\n                return;\r\n            }\r\n        });\r\n    }\r\n\r\n    function ScrapUrl(url,id) {\r\n        $.ajax({\r\n            url: '");
      homeOverLinkCshtml1.EndContext();
      homeOverLinkCshtml1.BeginContext(13209, 30, false);
      homeOverLinkCshtml1.Write(UrlHelperExtensions.Action(homeOverLinkCshtml1.Url, "ScrapUrl", "Home"));
      homeOverLinkCshtml1.EndContext();
      homeOverLinkCshtml1.BeginContext(13239, 757, true);
      homeOverLinkCshtml1.WriteLiteral("',\r\n            contentType: 'application/x-www-form-urlencoded',\r\n            type: 'POST',\r\n            data: { mainUrl: url, parentid:id},\r\n            success: function (data) {\r\n                data = jQuery.parseJSON(data);\r\n                if (data[\"data\"] == \"success\") {\r\n                    location.reload();\r\n                }\r\n                else if (data[\"data\"]  == \"already\") {\r\n                    alert(\"Job name already exists\")\r\n                }\r\n                else\r\n                    alert(\"server connect error ! \");\r\n            },\r\n            error: function (XMLHttpRequest, textStatus, errorThrown) {\r\n                alert(\"server connect error ! \");\r\n                return;\r\n            }\r\n        });\r\n    }\r\n</script>\r\n");
      homeOverLinkCshtml1.EndContext();
    }

    [RazorInject]
    public IModelExpressionProvider ModelExpressionProvider { get; private set; }

    [RazorInject]
    public IUrlHelper Url { get; private set; }

    [RazorInject]
    public IViewComponentHelper Component { get; private set; }

    [RazorInject]
    public IJsonHelper Json { get; private set; }

    [RazorInject]
    public IHtmlHelper<IEnumerable<overviewtool>> Html { get; private set; }
  }
}
